.form-servico {
    border-radius: 0.3rem;
    padding: 0.6rem 1.6rem;
    width: calc(var(--form-width) - 6rem);
    display: flex;
    flex-direction: column;

    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.form-servico p {
    margin: 1rem 0;
}

.form-servico .title {
    text-align: center;
    color: var(--color-blue);
}

.form-servico > label > input {
    max-width: 20rem;
}

.form-servico .form-servico__cidade-estado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-servico__cidade-estado .cidade {
    flex: 1;
}

.form-servico__cidade-estado .cidade > input {
    max-width: 11rem;
}

.form-servico__cidade-estado .estado {
    margin-left: 0.3rem;
    width: 8.8rem;
}

.form-servico__cidade-estado .estado > select {
    margin-left: 0.3rem;
    width: 6.3rem;
}

.form-servico__content-submit {
    margin: 0.9rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-de-opcoes {
    font-style: italic;
}

.titulo-estado-da-peca,
.titulo-tipo-da-cor {
    font-style: normal;
}

.mais-opcoes-da-peca {
    padding-top: 1.3rem;
    padding-left: 1.6rem;
}

.esconder {
    display: none !important;
}

/* Subcrisção do componente multiseleção */
.select2-container {
    display: inline !important;
    width: 20rem !important;
}