html {
    --form-width: 520px;
    --topo-height: 122px;

    /* cores */
    --azul-titulos: #003da5;
    --cinza: #828282;
    --cinza-claro: #EFEFEF;
    --cinza-backgorund: #F1F1F1;

}


/* banner */
.banner .banner__image {
    background-image: var(--url-background-banner);
    height: 275px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.banner .banner__image h1,
.banner .banner__image span
{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.1;
    text-align: center
}

.banner .banner__image span{
    color: var(--cor-titulos-servico); /*varaívael definida no template*/
}

body {
    background-color: white;
}

main {
    position: relative;
}

main .section-container {
    margin-right: var(--form-width);
}

main .section-container > div {
    padding: 1rem 3rem;
    max-width: 1300px;
    margin-left :auto;
    margin-right :auto;
}

/* descricao */
section.servico-descricao {
    background-color: white;
}

section.servico-descricao .descricao__titulo h2{
    margin-top: 1rem;

    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: var(--azul-titulos);
}

section.servico-descricao .descricao__titulo h2 > span{
    font-size: 3rem;
    color: var(--cor-titulos-servico); /*variável definida no template*/
    text-transform: capitalize;
    font-weight: 800;
}

section.servico-descricao .descricao__texto p{
    margin: 0 2rem;

    font-size: 1.125rem;
    text-align: justify;
    color: #828282;
}

section.servico-descricao .descricao__etapas {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--cinza);

}

section.servico-descricao .descricao__etapa {
    width: 10rem;
    margin: 0 10px;
    
}

section.servico-descricao .descricao__etapa__icone {
    fill: var(--cor-titulos-servico);

    width: 8rem;
}

section.servico-descricao .descricao__etapas__setas{
    display: flex;
    width: auto;
    height: 8rem;
    
    align-items: center;

    fill: var(--cor-titulos-servico);
    opacity: 0.5;
}

section.servico-descricao .descricao__etapas__setas svg {

    height: 1.1rem;
}

section.servico-descricao .descricao__etapas__setas svg:not(:last-child) {

    
    margin-right: 0.5rem;
}



/* vantagens */
section.servico-vantagens {
    background-color: white;  
}

section.servico-vantagens .vantagens__titulo {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

section.servico-vantagens .vantagens__titulo h3 {
    text-align: center;
    color: #F9A51A;
    font-size: 2.5rem;
    font-weight: 800;
}

section.servico-vantagens .vantagens-container{
    display: flex;  
    align-items: center;
}

section.servico-vantagens .vantagens__vantagens {
    margin-right: 20px;
}

section.servico-vantagens .vantagens__vantagem {
    display: flex;
    align-items: center;
}

section.servico-vantagens .vantagens__vantagem.vantagem1{
    color: #F48120;
    fill: #F48120;
}

section.servico-vantagens .vantagens__vantagem.vantagem2{
    color: #F9A51A;
    fill: #F9A51A;
    margin-left: 2.5vw;
}

section.servico-vantagens .vantagens__vantagem.vantagem3{
    color: #FFCA05;
    fill: #FFCA05;
    margin-left: 5vw;
}


section.servico-vantagens .vantagens__vantagem .vantagens__vantagem__icone {
    width: 5vw;
    margin: 1vw 0;
}

section.servico-vantagens .vantagens__vantagem .vantagens__vantagem__texto {
    font-size: 1.5vw;
    font-weight: 800;
    font-style: italic;
    width: 5vw;
    line-height: 1.5vw;
}

section.servico-vantagens .vantagens__imagem {
    background: url("https://autoglass-cdn.github.io/src/img/servicos/carro-pintura.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 24vw;
    width: 100%;
}



/* por que contratar? */

section.por_que_contratar {
    text-align: center;
    line-height: 18px;
    background-color: var(--cinza-backgorund);
    color: var(--azul-titulos);
    
}

section.por_que_contratar table {
    margin: 1.5rem auto;
}

section.por_que_contratar td,
section.por_que_contratar th {
    padding: 0.5rem 1rem;
}

section.por_que_contratar table td {
    margin: 0.5rem;
}

section.por_que_contratar table th{
    font-weight: 800;
}

section.por_que_contratar .table-title {
    font-size: 1.75rem;
    font-weight: 800;
    padding-bottom: 1.5rem;
}

section.por_que_contratar table th:nth-child(2),
section.por_que_contratar table th:nth-child(3)
{
    text-align: center;
    vertical-align: bottom;
    font-size: 0.75rem;
    line-height: 0.75rem;
}

section.por_que_contratar table td:nth-child(2) {
    border-right: 1px solid #003da570;
    
}

section.por_que_contratar table td:first-child{
    text-align: left;
    font-weight: 600;
}

section.por_que_contratar table td:nth-child(2),
section.por_que_contratar table td:nth-child(3)
{
    width: 3rem;
}

section.por_que_contratar table th:nth-child(3){
    opacity: 65%;
}

section.por_que_contratar .positive-check{
    background: url(https://autoglass-cdn.github.io/src/img/servicos/pos_check.png);
}

section.por_que_contratar .negative-check{
    background: url(https://autoglass-cdn.github.io/src/img/servicos/neg_check.png);
}

section.por_que_contratar .positive-check,
section.por_que_contratar .negative-check {
    height: 22px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

section.por_que_contratar .table-index {
    height: 18px;
    width: 18px;
    display: inline-block;

    border-radius: 50%;
    background-color: var(--azul-titulos);
    color: white;
    font-size: 0.75rem;
    font-weight: 600;
    margin-right: 0.5rem;
    text-align: center;
}


section.avaliacoes-consumidores {
    text-align: center;
    background-color: white;
    color: var(--azul-titulos);
}

section.avaliacoes-consumidores h2{
    font-weight: var(--extra-bold);
    color: var(--blue-700);
    text-align: center;
    font-size: 32px;
    margin: 40px;
}

section.avaliacoes-consumidores .container.ratings{
    min-width: unset;
    width: auto !important;
}


/* formulario */
section.form-section {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    width: var(--form-width);
    height: 100%;
}

section.form-section .form {
    position: sticky;
    top: var(--topo-height);
    
    width: fit-content;
    margin: auto auto;

    background-color: white;
    border: 1px solid var(--cinza-claro);

}


/* Responsividade */

@media screen and (min-width: 2000px) {
    section.servico-vantagens .vantagens__vantagem .vantagens__vantagem__icone {
        width: 100px;
        margin: 20px 0;
    }

    section.servico-vantagens .vantagens__vantagem .vantagens__vantagem__texto {
        font-size: 30px;
        width: 100px;
        line-height: 30px;
    }

    section.servico-vantagens .vantagens__imagem {
        height: 480px;
    }
}

@media (max-width: 1550px){
    .ratings-section .ratings__rating {
        display: none !important;
    }
    .ratings-section .ratings__rating.highlight {
        display: flex !important;
    }
}

@media only screen and (max-width: 992px) {
    html {
        font-size: 13px !important;
    }

    .banner .banner__image h1,
    .banner .banner__image span
    {
        line-height: 1.2;
    }

    main .section-container {
        margin-right: 0;
    }


    /* vantagens */
    section.servico-vantagens .vantagens-container{
        display: block; 
    }

    section.servico-vantagens .vantagens__vantagens {
        display: flex;
        justify-content: center;
    }

    section.servico-vantagens .vantagens__vantagem {
        flex-direction: column;
        width: 11vw;
        text-align: center;
        margin: 0px 4.125vw;
    }

    section.servico-vantagens .vantagens__vantagem .vantagens__vantagem__icone{
        width: auto;
        margin: 1vw 0;

    }

    section.servico-vantagens .vantagens__vantagem .vantagens__vantagem__texto {
        font-size: 2.5vw;
        width: auto;
        line-height: 2.5vw;
    }

    section.servico-vantagens .vantagens__imagem {
        background-size: cover;
        height: 44vw;
        width: 75vw;
        margin: 2vw auto;
        border-radius: 20px;
    }


    /* formulario */
    section.form-section {
        position: relative;
        background-color: white;
        right: unset;
        top: unset;
        width: 100%;
        height: auto;
    }

    section.form-section .form {
        background-color: white;
        border: none;

        position: relative;
        top: unset;
    }
}




@media only screen and (max-width: 576px) {
    html {
        font-size: 8px !important;
    }

    main .section-container > div {
        padding: 1rem 0rem;
    }

    .banner .banner__image{
        height: 210px;

    }

    .banner .banner__image h1,
    .banner .banner__image span
    {
        line-height: 1.5;
    }
}