html {
    scroll-behavior: smooth;
    --form-width: 480px;

    /* cores */
    --azul-titulos: #003ca5;
    --azul-titulos-claro: #003da5a6;
    --cinza: #828282;
    --cinza-claro: #efefef;
    --cinza-backgorund: #f1f1f1;
    --alaranjado: #f07a19;
}

body {
    background-color: white;
}

/* banner */
.banner .banner__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: var(--url-background-banner);
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-top: 25%;
}

.banner__texto-principal,
.banner__texto-fixo {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.1;
    color: white;
}

.banner__texto-fixo {
    color: var(--alaranjado);
}

.servicos__container {
    margin: auto;
}

.servicos__container .servicos__container__alinhamento {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 3rem;
    max-width: 1300px;
}

/* descricao */
.descricao {
    background-color: white;
}

.descricao .servico__titulo {
    display: block;
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--azul-titulos);
}

.descricao .servico__nome {
    display: block;
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 3rem;
    color: var(--cor-titulos-servico);
}

.descricao .texto__descricao {
    margin: 0 12.5%;
    text-align: justify;
    font-size: 1.125rem;
    color: #828282;
}

.descricao .botao .button ,
.por-que-contratar .botao .button {
    margin: auto;
    padding: 12px 20px;
    display: block;
}

.descricao .etapa {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--cinza);
}

.descricao .icone {
    margin: 0 10px;
    width: 10rem;
}

.descricao .etapa .icone__imagem {
    width: 8rem;
    fill: var(--cor-icones-etapas);
}

.descricao .etapa .icone__texto {
    color: var(--cor-texto-etapas);
}

.descricao .etapa .setas {
    width: auto;
    height: 8rem;
    display: flex;
    align-items: center;
    fill: var(--cor-setas-etapas);
    opacity: 0.5;
}

.descricao .etapa .setas__imagem {
    height: 1.1rem;
}

.descricao .etapa .setas__imagem:not(:last-child) {
    margin-right: 0.5rem;
}

/* por que contratar? */
.por-que-contratar {
    padding: 0 10px;
    color: var(--azul-titulos);
    background-color: var(--cinza-backgorund);
}

.por-que-contratar .tabela {
    display: flex;
    align-items: center;
    justify-content: center;
}

.por-que-contratar .tabela__check .tabela__coluna {
    background-color: white;
}

.por-que-contratar .tabela__check {
    border-collapse: revert;
}

.por-que-contratar .tabela__textos .tabela__linha {
    counter-increment: contagemVantagensTexto;
}

.por-que-contratar .tabela__coluna {
    padding: 0.5rem 1rem;
}

.por-que-contratar .tabela__titulo {
    padding-bottom: 1.5rem;
    font-size: 1.85rem;
    line-height: 2.5rem;
    font-weight: var(--extra-bold);
    color: 1px solid var(--azul-titulos);
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 3rem;
    max-width: 1050px;
}

.por-que-contratar .tabela .tabela__textos,
.por-que-contratar .tabela .tabela__check {
    margin: 1rem;
}

.por-que-contratar .tabela .tabela__textos .tabela__coluna::before {
    content: counter(contagemVantagensTexto);
    margin-right: 0.5rem;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    color: white;
    background-color: var(--azul-titulos);
}

.por-que-contratar .tabela .tabela__textos {
    position: relative;
    top: 20px;
    line-height:1.3rem
}

.por-que-contratar .tabela__cabecalho__autoglass,
.por-que-contratar .tabela__cabecalho__outra {
    border-top: 0.5px solid var(--azul-titulos-claro);
    padding-top: 7px;
    vertical-align: center;
    text-align: center;
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: var(--extra-bold);
}

.por-que-contratar .tabela .tabela__cabecalho__autoglass {
    border-top-left-radius: 15px;
}

.por-que-contratar .tabela .tabela__cabecalho__outra {
    border-top-right-radius: 15px;
    color: var(--azul-titulos-claro);
}

.por-que-contratar .tabela__check .tabela__linha:last-child .tabela__coluna:first-child {
    border-bottom-left-radius: 15px;
}

.por-que-contratar .tabela__check .tabela__linha:last-child .tabela__coluna:last-child {
    border-bottom-right-radius: 15px;
}

.por-que-contratar .tabela__check .tabela__coluna {
    width: 3rem;
    border-right: 0.5px solid var(--azul-titulos-claro);
}

.por-que-contratar .tabela__check .tabela__coluna:first-child {
    border-left: 0.5px solid var(--azul-titulos-claro);
}

.por-que-contratar .tabela__check .tabela__linha:last-child .tabela__coluna {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 0.5px solid var(--azul-titulos-claro);
}

.por-que-contratar .tabela .tabela__linha .tabela__coluna:first-child {
    position: relative;
    text-align: left;
    font-weight: 600;
}

.por-que-contratar .tabela__coluna__positive-check,
.por-que-contratar .tabela__coluna__negative-check {
    height: 22px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.por-que-contratar .tabela__coluna__positive-check {
    background-image: url(https://autoglass-cdn.github.io/arquivos/img/servicos/pos_check.png);
}

.por-que-contratar .tabela__coluna__negative-check {
    background-image: url(https://autoglass-cdn.github.io/arquivos/img/servicos/neg_check.png);
}

/* formulario */
.formulario {
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #000000CC;
}

.formulario:before {
    content: "";
    margin-top: -120px;
    height: 120px;
    display: block;
    visibility: hidden;
}

.formulario .orcamento {
    padding: 1em 1em;
    width: 30em;
    justify-content: center;
    max-height: calc(100vh);
    overflow-y: auto;
    background-color: White;
}

.formulario .formulario__container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario .formulario__cabecalho {
    width: 30em;
    background-color: transparent;
}

.formulario .cabecalho__botao {
    /* padding: 0.6em; */
    float: right;
    background-color: transparent;
    border: none;
    color: white;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    /* font-size: 0.9em; */
}

.formulario .cabecalho__botao::after {
    content: "\f00d";
    padding-left: 0.2em;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3em;
    font-family: "Font Awesome 5 Free";
}

/* Avaliações de consumidores */
.avaliacoes-consumidores {
    text-align: center;
    color: var(--azul-titulos);
    background-color: white;
}

.avaliacoes-consumidores .avaliacoes__titulo {
    margin: 40px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 24px;
    font-weight: var(--extra-bold);
}

/* Chat */
.chat {
    background-color: #333697;
}

.chat .servicos__container__alinhamento {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 50px 100px;
}

.chat .mensagem__titulo {
    font-size: 22px;
    font-weight: var(--semi-bold);
}
  
.chat .mensagem__texto {
    font-size: 18px;
    margin: 0px 20px;
}

.chat .chat__botao {
    background-color: var(--white);
    color: var(--primary);
    font-size: 16px;
    font-weight: var(--bold);
    border-radius: 40px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .3 ease-in-out;
}


/* Responsividade */
@media (max-width: 1550px) {
    .ratings-section .ratings__rating {
        display: none !important;
    }
    .ratings-section .ratings__rating.highlight {
        display: flex !important;
    }
}


@media (max-width: 1200px) {
    .formulario .orcamento {
        top: 90px;
    }
}


@media only screen and (max-width: 992px) {
    .banner__texto-principal,
    .banner__texto-fixo {
        font-size: 3.25rem;
        line-height: 1.2;
    }

    .servicos__container {
        margin-right: 0;
    }

    .servicos__container > .servicos__container--alinhamento {
        padding: 0.8125rem 2.4375rem;
    }

    /* descricao */
    .descricao .servico__titulo {
        margin-top: 0.8125rem;
        font-size: 1.219rem;
    }

    .descricao .servico__nome {
        font-size: 2.438rem;
    }

    .descricao .texto__descricao {
        font-size: 0.9rem;
    }

    .descricao .etapa {
        font-size: 0.9rem;
    }

    .descricao .icone {
        width: 8.125rem;
    }

    .descricao .etapa .icone__imagem {
        width: 6.5rem;
    }

    .descricao .etapa .setas {
        height: 6.5rem;
    }

    .descricao .etapa .setas__imagem {
        height: 0.9rem;
    }

    .descricao .etapa .setas__imagem:not(:last-child) {
        margin-right: 0.4rem;
    }

    /* formulario */
    .formulario {
        width: 100%;
        max-width: var(--form-width);
    }

    .formulario:before {
        display: none;
    }

    .formulario .formulario__cabecalho{
        display: none;
    }

    .formulario {
        position: relative;
        min-height: auto;
        background-color: white;
    }

    .formulario .formulario__container {
        min-width: 0vw;
        min-height: 0vh;
    }


    .por-que-contratar .tabela__cabecalho .tabela__coluna,
    .por-que-contratar .tabela__linha .tabela__coluna {
        padding: 0.4rem 0.8rem;
    }

    section.por-que-contratar .tabela__linha .tabela__coluna {
        margin: 0.4rem;
    }

    .por-que-contratar .tabela__cabecalho__autoglass,
    .por-que-contratar .tabela__cabecalho__outra {
        text-align: center;
        font-size: 0.6rem;
        vertical-align: bottom;
        line-height: 0.6rem;
    }

    .por-que-contratar .tabela__linha .tabela__coluna:not(:first-child) {
        width: 2.4rem;
    }

    .chat .servicos__container__alinhamento {
        flex-direction: column;
        padding: 40px;
    }

    .chat .chat__mensagem {
        display: flex;
        flex-direction: column;
    }

    .chat .mensagem__titulo {
        text-align: center;
    }

    .chat .mensagem__texto {
        max-width: 230px;
        text-align: center;
        margin: 10px 0px 20px 0px;
    }
    
    .avaliacoes-consumidores {
        display: none;
    }
}


@media only screen and (max-width: 576px) {

    .banner .banner__image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: var(--url-background-banner-mobile);
        overflow: hidden;
        width: 100%;
        height: 0;
        padding-top: 80%;
    }
    
    .servicos__container > .servicos__container__alinhamento {
        padding: 0.5rem 0rem;
    }

    .banner__texto-principal,
    .banner__texto-fixo {
        font-size: 2rem;
        line-height: 1.5;
    }

    /* descricao */
    .descricao .servico__titulo {
        margin-top: 0.5rem;
        font-size: 0.75rem;
    }

    .descricao .texto__descricao--paragrafo {
        padding-top: 10px;
        display: block;
    }

    .descricao .servico__nome {
        font-size: 1.5rem;
    }

    .descricao .texto__descricao {
        margin: 0 15%;
        font-size: 0.75rem;
    }

    .descricao .etapa {
        font-size: 0.563rem;
    }

    .descricao .icone {
        width: 5rem;
    }

    .descricao .etapa .icone__imagem {
        width: 4rem;
    }

    .descricao .etapa .setas {
        height: 4rem;
    }

    .descricao .etapa .setas__imagem {
        height: 0.55rem;
    }

    .descricao .etapa .setas__imagem:not(:last-child) {
        margin-right: 0.25rem;
    }

    /* por que contratar */
    .por-que-contratar .tabela__check .tabela__linha {
        counter-increment: contagemVantagensCheck;
    }

    .por-que-contratar .tabela__cabecalho .tabela__coluna,
    .por-que-contratar .tabela__linha .tabela__coluna {
        padding: 0.25rem 0.5rem;
    }

    .por-que-contratar .tabela__coluna {
        margin: 0.25rem;
    }

    .por-que-contratar .tabela__titulo {
        font-size: 1.5rem;
    }

    .por-que-contratar .tabela__cabecalho__autoglass,
    .por-que-contratar .tabela__cabecalho__outra {
        vertical-align: middle;
    }

    .por-que-contratar .tabela__cabecalho__autoglass,
    .por-que-contratar .tabela__cabecalho__outra {
        font-size: 0.56rem;
    }

    .por-que-contratar .tabela__linha .tabela__coluna:first-child {
        font-size: 12px;
    }

    .por-que-contratar .tabela  {
        flex-direction: column;
    }

    .por-que-contratar .tabela .tabela__textos {
        top: 0px;
    }

    .por-que-contratar .tabela__check .tabela__linha .tabela__coluna:first-child::before {
        position: absolute;
        left: -10px;
        content: counter(contagemVantagensCheck);
        margin-right: 0.5rem;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        display: inline-block;
        text-align: center;
        font-weight: 600;
        color: white;
        background-color: var(--azul-titulos);
    }

    .servicos__container .servicos__container__alinhamento {
        padding: 1rem;
    }
}
