<!-- dev- -cancelar-carrinho -->
<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
    lang="en-us"
>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/src/autoglass-favicon.ico" />
        <title>Autoglass</title>
        <vtex:metaTags />
        <style>
            @keyframes spin {
                to {
                    transform: rotate(360deg);
                }
            }
            .spinners {
                border: 8px solid rgba(0, 0, 0, 0.1);
                border-left-color: #183884;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                animation: spin 1.2s linear infinite;
                margin: 0 auto;
            }
        </style>
    </head>
    <body style="display: block; margin: auto; max-width: 620px">
        <a
            href="https://www.autoglassonline.com.br"
            title="Visitar a Autoglass"
        >
            <img
                class="banner__head"
                src="https://autoglass.vteximg.com.br/arquivos/email-top.png"
                alt=""
                style="height: auto; max-width: 100%"
            />
        </a>

        <div
            class="spinner"
            style="
                width: 100px;
                margin: 60px auto auto auto;
                text-align: center;
            "
        >
            <div class="spinners"></div>
            <p>Enviando</p>
        </div>
        <div
            class="mensagem"
            style="font-family: Open Sans, sans-serif; padding: 10px"
        ></div>
        <div style="text-align: center">
            <img
                style="max-width: 100%"
                width="280px;"
                src="https://autoglass.vteximg.com.br/arquivos/imagem-rodape-template-emails.jpg"
            />
        </div>
        <p
            style="
                color: #909090;
                font-size: 14px;
                font-family: Helvetica, sans-serif;
                width: 100%;
                text-align: center;
                display: block;
                margin-top: 4px;
                margin-bottom: 0px;
                padding-bottom: 4px;
            "
        >
            Autoglass 2021 - todos os direitos reservados. CNPJ:
            16.922.038/0001-51
        </p>
    </body>
    <script
        type="text/javascript"
        language="javascript"
        src="https://autoglass-cdn.github.io/src/js/cancelar-abandono-carrinho.js"
    ></script>
</html>
