<!-- dev- -institucional -->
<!DOCTYPE html>
<html
    lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
>
    <head>
        <vtex:metaTags />
        <meta name="robots" content="noindex, nofollow" />
        <title><vtex.cmc:productPageTitle /></title>
        <vtex:contentPlaceHolder id="qd_head" />
        <vtex:contentPlaceHolder id="SEO_link_alternate" />
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous" />
	    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
        <link rel="preconnect" href="https://autoglass-cdn.github.io" crossorigin="anonymous" />
        <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin="anonymous" />
        <link rel="preconnect" href="https://maxcdn.bootstrapcdn.com" crossorigin="anonymous" />
        <link rel="preconnect" href="https://reviews.konfidency.com.br" crossorigin="anonymous" />
        <link rel="dns-prefetch" href="//fonts.googleapis.com" />
	    <link rel="dns-prefetch" href="//fonts.gstatic.com" />
	    <link rel="dns-prefetch" href="//autoglass-cdn.github.io" />
        <link rel="dns-prefetch" href="//cdnjs.cloudflare.com" />
        <link rel="dns-prefetch" href="//secure.adnxs.com" />
        <link rel="dns-prefetch" href="//static.zdassets.com" />
        <link rel="dns-prefetch" href="//js.usemessages.com" />
        <link rel="dns-prefetch" href="//js.hubspot.com" />
        <link rel="dns-prefetch" href="//js.hs-analytics.net" />
        <link rel="dns-prefetch" href="//js.hsadspixel.net" />
        <link rel="dns-prefetch" href="//js.hs-banner.com" />
        <link rel="dns-prefetch" href="//analytics.tiktok.com" />
	    <link rel="dns-prefetch" href="//connect.facebook.net" />
	    <link rel="dns-prefetch" href="//www.facebook.com" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            crossorigin="anonymous"
            onload="window.jQueryNew = jQuery.noConflict(true);">
        </script>
        <link rel="shortcut icon" href="/arquivos/autoglass-favicon.ico" />
        <vtex:template id="dev--head-tags" />
        <vtex:template id="dev--header-institucional-styles" />
        <vtex:template id="dev--footer-styles" />
        <link rel="stylesheet" href="https://autoglass-cdn.github.io/src/css/legacy/CSS.aut.far.atendimento.css" type="text/css" />
    </head>

    <body class="institucional" data-qd-scroll-limit="200">
        <div class="common-qd-v1-structure">
            <!-- Header -->
            <vtex:template id="dev--header-institucional" />
            <!-- Header -->

            <div class="container">
                <div
                    class="row visible-xs institucional-qd-v1-menu-toggle-wrap"
                >
                    <div class="col-xs-10 col-xs-offset-1">
                        <a
                            href="#"
                            class="institucional-qd-v1-menu-toggle btn btn-block"
                            >Menu Institucional</a
                        >
                    </div>
                </div>

                <main class="row">
                    <!-- Sidebar -->
                    <aside
                        class="col-xs-12 col-sm-4 col-md-3 institucional-qd-v1-side-menu-wrap"
                    >
                        <div class="institucional-qd-v1-navigator">
                            <vtex.cmc:devInstitucionalMenuLateral />
                        </div>
                    </aside>
                    <!-- Sidebar -->

                    <div class="institucional-qd-v1-side-menu-wrap-close"></div>

                    <!-- Institutional content -->
                    <div class="col-xs-12 col-sm-8 col-md-9">
                        <div class="attendance-qd-v1-contact">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="attendance-qd-v1-contact-title">
                                        <vtex:contentPlaceHolder
                                            id="titulo_institucional"
                                        />
                                    </div>
                                    <vtex:contentPlaceHolder
                                        id="descricao_institucional"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div
                                        class="vtx-placeholder vtx-banners-wrap qd-banner-responsive img-responsive"
                                        data-qd-help="5"
                                        data-qd-help-id="Conteúdo abaixo do hr de atendimento"
                                    >
                                        <vtex:contentPlaceHolder
                                            id="conteudo_abaixo_do_hr_de_atendimento"
                                        />
                                    </div>
                                </div>
                            </div>

                            <!-- mosaico de banners -->
                            <div class="container">
                                <div class="row">
                                    <div
                                        class="banner-qd-v1-responsive carousel-qd-v1-shelf mosaic-qd-v1-wrapper img-responsive qd-shelf-xs-12 qd-shelf-sm-6 qd-shelf-md-2"
                                    >
                                        <vtex:contentPlaceHolder
                                            id="mosaico_de_banners"
                                        />
                                    </div>
                                </div>
                            </div>
                            <!-- mosaico de banners  -->
                        </div>
                    </div>
                    <!-- Institutional content -->
                </main>
            </div>
        </div>

        <!-- dev- -body-tags -->
        <vtex:template id="dev--body-tags" />
        <!-- dev- -body-tags -->

        <!-- Footer -->
        <vtex:template id="dev--footer" />
        <!-- Footer -->

        <script defer="" type="text/javascript" src="/arquivos/removZIndexModalBackDrop.js"></script>
    
        <script>
            const currentUrl = window.location.href;
        
            const canonicalUrl = currentUrl.endsWith('/')
                ? currentUrl.slice(0, -1)
                : currentUrl;
        
            const canonicalLink = document.createElement('link');
            canonicalLink.rel = 'canonical';
            canonicalLink.href = canonicalUrl;
        
            document.head.appendChild(canonicalLink);
        </script>
    </body>
</html>