<!-- dev- -whatsappads -->
<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
    lang="en-us"
>
    <head>
        <link rel="shortcut icon" href="/arquivos/autoglass-favicon.ico" />
        <title>Whatsapp Ads - Autoglass</title>
        <vtex:metaTags />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/arquivos/autoglass-favicon.ico" />
        <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
        <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/></noscript>
        <meta name="robots" content="noindex, nofollow" />
    </head>
    <body>
        <script
            type="text/javascript"
            language="javascript"
            src="https://autoglass-cdn.github.io/src/js/topo.js"
        ></script>
        <script type="text/javascript" language="javascript">
            ga("create", "UA-133498560-1", "autoglassonline.com.br");
            ga("send", "event", "WhasAppAds", "WhasAppAds", "WhasAppAds");
            window.location.href =
                urlWhatsAppApi +
                numeroWhatsAppAG +
                "?text=Olá,%20naveguei%20anteriormente%20pelo%20e-commerce,%20vi%20alguns%20produtos%20e%20estou%20retornando.%20Pode%20me%20ajudar?";
        </script>
    </body>
</html>
