<!-- dev- -produto -->
<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="robots" content="noindex, nofollow" />
  <vtex:metaTags />
  <vtex.cmc:productRichSnippets showFacebook="1"/>
  <title>
    <vtex.cmc:productPageTitle />
  </title>
  <script defer="" src="https://autoglass-cdn.github.io/src/js/google-tag-manager.js" type="text/javascript"></script>
  <vtex:contentPlaceHolder id="qd_head" />
  <link rel="preconnect" href="https://code.jquery.com" crossorigin="anonymous"/>
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
  <link rel="preconnect" href="https://autoglass-cdn.github.io" crossorigin="anonymous" />
  <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin="anonymous" />
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin="anonymous"/>
  <link rel="dns-prefetch" href="//fonts.googleapis.com" />
	<link rel="dns-prefetch" href="//fonts.gstatic.com" />
	<link rel="dns-prefetch" href="//autoglass-cdn.github.io" />
  <link rel="dns-prefetch" href="//www.googletagmanager.com" />
  <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com" />
  <link rel="dns-prefetch" href="//reviews.konfidency.com.br" />
  <link rel="dns-prefetch" href="//secure.adnxs.com" />
  <link rel="dns-prefetch" href="//static.zdassets.com" />
  <link rel="dns-prefetch" href="//js.usemessages.com" />
  <link rel="dns-prefetch" href="//js.hubspot.com" />
  <link rel="dns-prefetch" href="//js.hs-analytics.net" />
  <link rel="dns-prefetch" href="//js.hsadspixel.net" />
  <link rel="dns-prefetch" href="//js.hs-banner.com" />
  <link rel="preload" href="https://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
  <noscript><link rel="stylesheet" href="https://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css"/></noscript>
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
  <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/></noscript>
  <link rel="shortcut icon" href="/arquivos/autoglass-favicon.ico" />
  <vtex:template id="dev--detalhe-produto--head-tags" />
  <vtex:template id="dev--header-styles" />
  <vtex:template id="dev--busca-fipe-styles" />
  <vtex:template id="dev--detalhe-produto--descricao-styles" />
  <vtex:template id="dev--footer-styles" />
  <link rel="stylesheet" href="https://autoglass-cdn.github.io/src/css/legacy/CSS.aut.far.product.css" type="text/css"/>
  <link rel="stylesheet" href="https://autoglass-cdn.github.io/src/css/B2C-02-detalhe-produto.css" type="text/css"/>
  <link rel="preload" href="https://autoglass-cdn.github.io/src/css/cep.component.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
  <noscript><link rel="stylesheet" href="https://autoglass-cdn.github.io/src/css/cep.component.css" /></noscript>
  <style type="text/css">
    .mz-acessories .mz-acessories__prices .mz-prices__block,
    .mz-acessories .mz-acessories__prices .mz-acessories__prices--byfor {
      display: block !important;
    }
  </style>
  <style type="text/css">
    .cep-modal {
      float: right;
      margin-top: -4.5em;
      margin-right: 25px;
      font-size: 12px;
      color: #333333;
    }

    .cep-modal .header-qd-v1-valid-prices-local {
      margin-top: -10px;
      font-weight: 600;
    }

    .cep-modal .header-qd-v1-valid-prices-local button {
      color: #2d4f9e;
      text-decoration: underline;
      background: #fff;
      border: none;
    }
  </style>


  <style type="text/css">
    /* The Modal (background) */
    .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
    }

    .modal-close {
      position: relative;
      padding-bottom: 10px;
    }

    /* Modal Header */
    .modal-header h2 {
      color: #757575;
      font-size: 26px;
      font-weight: 400;
    }

    /* Modal Body */
    .modal-body p {
      color: #333333;
      margin: 10px auto;
    }



    /* Modal Content */
    .modal-content,
    .header-qd-v1-location-modal:not('.modal-content') {
      max-width: 700px;
      width: 80%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      animation-name: animatetop;
      animation-duration: 0.4s;

      padding: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9997;
      background-color: #FFF;
      border-radius: 4px;
    }


    /* Add Animation */
    @keyframes animatetop {
      from {
        top: -300px;
        opacity: 0
      }

      to {
        top: 0;
        opacity: 1
      }
    }
  </style>
</head>

<body class="produto">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WVLJKFR"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <vtex.cmc:productRichSnippets showFacebook="1"/>
  <!-- Header -->
  <vtex:template id="dev--header" />
  <!-- Header -->
  <!-- Smart Select -->
  <vtex:template id="dev--busca-fipe" />
  <!-- Smart Select -->
  <main>
    <section class="common-qd-v1-structure">
      <!--FLOAT BAR PRODUCT_________________-->
      <section class="col-xs-12">
        <section class="product-qd-v1-float-bar">
          <section class="container">
            <div class="row">
              <div class="col-xs-3">
                <span class="product-qd-v1-name">
                  <vtex.cmc:productName />
                </span>
                <div class="product-qd-v1-brand-name marca-barra-do-topo">
                  Marca:
                  <vtex.cmc:brandName />
                </div>
              </div>
              <section class="col-xs-3">
                <a class="product-qd-v1-link-description" href="#">Descrição
                  Completa</a>
              </section>
              <section class="col-xs-3">
                <section class="product-qd-v1-price">
                  <vtex.cmc:skuPrice />
                </section>
              </section>
              <section class="col-xs-3">
                <section class="product-qd-v1-buy-button">
                  <vtex.cmc:BuyButton />
                </section>
              </section>
            </div>
          </section>
        </section>
      </section>
      <!--_________________ FLOAT BAR PRODUCT-->

      <!-- Main Content -->
      <section class="container">
        <!-- Informações principais do produto -->
        <section>
          <!-- Breadcrumb -->
          <nav class="breadcrumb-qd-v1">
            <div class="row">
              <div class="col-xs-12">
                <vtex.cmc:breadCrumb />
              </div>
            </div>
          </nav>
          <!-- Breadcrumb -->

          <section class="col-xs-12">
            <section class="product-qd-v1-block-above-image">
              <!-- Brand names -->
              <section class="product-qd-v1-brand-name mob">
                Marca:
                <vtex.cmc:brandName />
              </section>
              <!-- Product name -->
              <span class="product-qd-v1-name mob">
                <vtex.cmc:productName />
              </span>
              <!-- Product name -->
              <section class="product-qd-v1-block mob">
                <section class="numero-vendas-mobile"></section>
                <!-- Brand names -->
                <section class="konfidency-reviews-summary mobile"></section>
              </section>
            </section>
          </section>

          <!-- Product image -->
            <section class="col-xs-12 col-md-6">
              <figure class="product-qd-v1-image">
                <section class="product-qd-v1-image-wrapper">
                  <!-- Social Sharing -->
                  <vtex.cmc:devSocialShare />
                  <!-- Selos de destaque -->
                  <section class="product-qd-v1-stamps">
                    <section class="product-qd-v1-stamps-highlight-discount">
                      <vtex.cmc:discountHightLight />
                    </section>
                    <section class="product-qd-v1-stamps-highlight">
                      <vtex.cmc:hightLight />
                    </section>
                  </section>

                  <section class="galeria-bloco-produto">
                    <div class="galeria-principal">
                      <div id="thumbsContainer" class="thumbs-gallery"></div>
                      <div id="mainMediaContainer" class="main-media"></div>
                    </div>
                  </section>
                </section>
              </figure>

              <section class="teste-opcionais"></section>
            </section>
            <!-- Product image -->

          <!-- SKU selection box -->
          <section class="product-qd-v1-sku-selection-wrapper col-xs-12 col-md-5">
            <section class="product-qd-v1-sku-selection-box">
              <section class="product-qd-v1-sku-selection-row">
                <div class="row">
                  <div class="col-xs-12">
                    <section class="product-qd-v1-brand-name">
                        Marca:
                        <vtex.cmc:brandName />
                    </section>
                    <!-- Product name -->
                    <h1 class="product-qd-v1-name">
                      <vtex.cmc:productName />
                    </h1>
                    <!-- Product name -->
                    <section class="product-qd-v1-block">
                      <!-- Brand names -->
                      <section class="numero-vendas"></section>
                      <section class="konfidency-reviews-summary desktop"></section>
                      <!-- Brand names -->
                    </section>
                  </div>
                </div>
                <div class="compat-box">
                  <div class="compat-header">
                    <div class="compat-title">
                      <i id="icon-verificar-compatibilidade-check" class="fa-regular fa-circle-check" style="font-size: 24px; color: #003087;"></i>
                      <i id="icon-verificar-compatibilidade-xmark" class="fa-regular fa-circle-xmark" style="font-size: 24px; color: #d93025; display: none;"></i>
                      <span class="title-text">Verificar compatibilidade</span>
                      <i id="icon-question" class="fa fa-question-circle" style="font-size: 15px; color: #999; display: none;" aria-hidden="true"></i>
                      <div id="tooltip-question" class="tooltip-question hidden">
                        <strong>Motivos:</strong><br />
                        - Placa digitada está incorreta;<br />
                        - Campo da placa não foi preenchido;<br />
                        - Não foram encontrados dados para a placa digitada;
                       </div>
                    </div>
                    <div>
                      <i class="fa-solid fa-chevron-down icon-arrow-down"></i>
                      <i class="fa-solid fa-angle-up icon-arrow-up" style="display: none;"></i>
                    </div>
                  </div>
                  <div class="compat-content" id="compatContent">
                    <button id="botaoProdutosCompativeis" style="display: none;">
                        Ver produtos compatíveis
                    </button>
                    <div class="compat-description">
                      A placa do seu veículo é a forma mais eficaz de garantir a compatibilidade com esse produto.
                    </div>
                    <div class="compat-input">
                      <input id="placaInput" type="text" placeholder="Placa do veículo" />
                      <button id="botaoVerificarCompatibilidade">
                         Verificar
                      </button>
                    </div>
                    <!-- ?? Overlay de bloqueio e carregamento -->
                    <div id="overlayCompat" class="compat-overlay hidden">
                      <div class="compat-spinner"></div>
                    </div>
                  </div>
                </div>

                <!-- ProdutoIndiponível - Outras Marcas  -->
                <section class="product-qd-v1-unavailable other-brands" style="display: none;">
                  <div class="row">
                    <div class="col-xs-12">
                      <section class="product-qd-v1-standard row">
                        <h3>OUTRAS MARCAS</h3>
                        <p>Produto indisponível, mas temos outras opções para seu veículo!</p>
                        <section class="product-qd-v1-buy-button">
                          <button type="button" class="buy-button outras-marcas-btn"></button>
                        </section>
                      </section>
                    </div>
                  </div>
                </section>
                <!-- ProdutoIndiponível - Outras Marcas  -->

                <!-- Produto Indisponível - Fale com o Vendedor -->
                <section class="product-qd-v1-unavailable talk-to-seller" style="display: none;">
                  <div class="row">
                    <div class="col-xs-12">
                      <section class="product-qd-v1-standard row">
                        <h3>CONSULTE DISPONIBILIDADE</h3>
                        <p>Produto indisponível no site, mas podemos ter em outro canal de
                          vendas. Informe o que procura
                          pelo chat! :)</p>
                        <section class="product-qd-v1-buy-button">
                          <button class="product-unavailable"></button>
                        </section>
                      </section>
                    </div>
                  </div>
                </section>
                <!-- Produto Indisponível - Fale com o Vendedor -->

                <!-- Product price -->
                <section class="product-qd-v1-standard row">

                  <section class="col-xs-12">
                    <section class="product-qd-v1-price">
                      <vtex.cmc:skuPrice />
                    </section>
                  </section>
                  <!-- Product price -->
                  
                  <div class="alerta-container" style="display: none;">
                    <i class="fa-regular fa-clock alerta-icon"></i>
                    <div class="alerta-texto">
                      <span class="pulse">COMPRE AGORA!</span>
                      <span>Últimas peças no estoque.</span>
                    </div>
                  </div>

                  <!-- SKU Selection - variacao -->
                  <section class="col-xs-12">
                    <div class="row">
                      <div class="product-qd-v1-sku-selection-row">
                        <div class="product-qd-v1-sku-selection">
                          <vtex.cmc:skuSelection />
                        </div>
                      </div>
                    </div>
                  </section>
                  <!-- SKU Selection - variacao -->

                  <!-- Teste -->
                  <section style="display: none;">
                    <vtex.cmc:stockKeepingUnitSelection />
                  </section>
                  <!-- // Teste -->

                  <div class="col-xs-12">
                    <section class="product-qd-v1-buy-box">
                      <!-- Product quantity -->
                      <section class="product-qd-v1-smart-qtt">
                        <!-- Buy button -->
                        <div class="product-qd-v1-buy-button">
                          <vtex.cmc:BuyButton />
                        </div>
                        <div class="container-compre-whatsapp link-whatsapp-texto">
                          <a href="https://wa.me/552732032540?text=Olá,%20estou%20navegando%20pelo%20e-commerce,%20pode%20me%20ajudar?"
                             target="_blank" class="texto-botao-compre-whatsapp" aria-label="Comprar pelo WhatsApp">
                            <button class="botao-compre-whatsapp" aria-label="Comprar pelo WhatsApp"></button>
                          </a>
                        </div>
                        <!-- Buy button -->
                      </section>
                      <!-- Product quantity -->
                    </section>
                  </div>
                  <section class="card-instalacao nova-versao">
                    <div class="card-left-instalacao">
                        <div class="icon-instalacao">
                            <i class="fa fa-car"></i> <i class="fa fa-cog"></i>
                        </div>
                        <div class="card-content-instalacao">
                            <h3 class="titulo-instalacao">Instalamos para você!</h3>
                            <p class="descricao-instalacao">Consulte o preço ao adicionar ao carrinho</p>
                        </div>
                    </div>
                  </section>
                </section>
              </section>

              <!-- Shipping calculator -->
              <section class="product-qd-v1-shipping">
                <div class="row">
                  <div class="col-xs-12">
                    <p class="product-qd-v1-shipping-title">
                      Consulte o frete
                    </p>

                    <section class="product-qd-v1-shipping-freight">
                      <section class="product-qd-v1-shipping-freight-result">
                        <vtex.cmc:shippingValue />
                      </section>
                    </section>
                  </div>
                </div>
              </section>
              <!-- Shipping calculator -->

              <!-- Compre junto -->
              <section>
                <div class="row">
                  <div class="col-xs-12">
                    <!--<div class="product-qd-v1-buy-together">
                     <vtex.cmc:BuyTogether />
                    </div>-->

                  </div>
                </div>
              </section>
              <!-- Compre junto -->

            </section>
          </section>
          <!-- SKU selection box -->
        </section>
        <!-- Informações principais do produto -->

        <!-- Product Test Video Galery -->
        <!-- <vtex.cmc:galeriaVideoDev /> -->
        <!-- Product Test Video Galery -->
      </section>
    </section>

   <!-- Info Acessorio -->
        <aside id="container-acessorios-ag" style="display: none;">
            <vtex:contentPlaceHolder id="Acessorios" />
        </aside>
    <!-- Info Acessorio -->

    <!-- Descrição -->
    <section>
      <section class="nav-container">
        <nav class="tabs-descricao">
          <ul>
            <li><a href="#informacoes-gerais" class="tab-link">Informações Gerais</a></li>
            <li><a href="#veiculos-compativeis" class="tab-link">Veículos Compatíveis</a></li>
            <li><a href="#diferenciais" class="tab-link">Diferenciais Autoglass</a></li>
            <li><a href="#avaliacoes" class="tab-link">Avaliações</a></li>
            <li><a href="#outras-marcas" class="tab-link">Outras Marcas</a></li>
            <li><a href="#compre-junto" class="tab-link">Compre Junto</a></li>
            <li><a href="#duvidas" class="tab-link">Dúvidas</a></li>
          </ul>
        </nav>
      </section>
      <!--<vtex:template id="dev-detalhe-produto-descricao" />-->
      <vtex:template id="dev--detalhe-produto--descricao" />
      <!-- Descrição -->

      <section class="contents">
        <section id="outras-marcas" class="tab-content">
          <section class="off-white-background">
            <!-- Produtos Similares e Equivalentes -->
            <div class="row">
              <div class="col-xs-12">
                <section class="product-qd-v1-related">
                  <section id="similars"
                    class="banner-qd-v1-responsive carousel-qd-v1-shelf img-responsive qd-shelf-xs-12 qd-shelf-sm-6 qd-shelf-sm-3">

                    <vtex:contentPlaceHolder id="similares" />
                  </section>
                </section>
              </div>
            </div>
          </section>
        </section>

        <section id="compre-junto" class="tab-content">
          <section class="blue-background">
            <!-- Sugestoes -->
            <div class="row">
              <div class="col-xs-12">
                <section class="product-qd-v1-related">
                  <section id="sugestoes"
                    class="banner-qd-v1-responsive carousel-qd-v1-shelf img-responsive qd-shelf-xs-12 qd-shelf-sm-6 qd-shelf-sm-3">
                    <vtex:contentPlaceHolder id="sugestoes" />
                  </section>
                </section>
              </div>
            </div>
            <!-- Sugestoes -->
          </section>
        </section>
      </section>
      <section class="off-white-background">
        <section class="container-descricao">
          <section class="contents">
            <section id="duvidas" class="tab-content ativo">
              <h2>Dúvidas Frequentes</h2>
              <vtex.cmc:devDetalheDuvidasCategoria />
              <vtex.cmc:devDetalheDuvidasFixo />
            </section>
          </section>
        </section>
      </section>
    </section>
    <section class="common-qd-v1-structure">
      <section class="container">
        <section>
          <!-- Quem viu, viu também -->
          <div class="row">
            <div class="col-xs-12">
              <section class="product-qd-v1-related">
                <section
                  class="banner-qd-v1-responsive carousel-qd-v1-shelf img-responsive qd-shelf-xs-12 qd-shelf-sm-6 qd-shelf-sm-3">
                  <vtex:contentPlaceHolder id="quem_viu_viu_tambem" />
                </section>
              </section>
            </div>
          </div>
          <!-- Quem viu, viu também -->

          <!-- Conteúdo acima do quem viu, viu também -->
          <div class="row">
            <div class="col-xs-12">
              <section
                class="banner-qd-v1-responsive carousel-qd-v1-shelf mosaic-qd-v1-wrapper img-responsive qd-shelf-xs-12 qd-shelf-sm-6 qd-shelf-sm-4">
                <vtex:contentPlaceHolder id="conteudo_acima_do_quem_viu_viu_tambem" />
              </section>
            </div>
          </div>
          <!-- Conteúdo acima do quem viu, viu também -->
        </section>
      </section>
      <!-- // Main Content -->

      <!-- Fixed bar -->
      <section class="product-qd-v1-fixed-bar">
        <div class="row">
          <div class="col-xs-6">
            <section class="product-qd-v1-price">
              <vtex.cmc:skuPrice />
            </section>
          </div>

          <section class="col-xs-6">
            <section class="product-qd-v1-buy-button">
                <button class="buy-button buy-button-tablet" aria-label="Comprar Produto">
                  <a href='#' class="add-to-cart-ga"></a>
                </button>
            </section>
          </section>
        </div>
      </section>
      <!-- Fixed bar -->
    </section>
  </main>

  <div id="myModal" class="modal">
    <!-- Modal content -->
    <section class="modal-content">
      <header class="modal-close">
        <span class="close"></span>
      </header>
      <header class="modal-header">
        <p style="color: #333333; font-size: 26px; font-weight: 400;">Aguarde...</p>
      </header>
      <section class="modal-body">
        <p>Estamos selecionando as melhores opções para você! :)</p>
      </section>
    </section>
  </div>

  <!-- Modal Overlay -->
  <section class="mz-modal-overlay"></section>
  <!-- // Modal Overlay -->

  <div id="modalZoom" class="modal-zoom">
    <span class="close-zoom">&#10005;</span>
    <div class="zoom-container">
        <div class="zoom-inner">
            <img class="modal-content-zoom" id="zoomedImage" width="1150" height="1080" />
            <div id="backgroundWhiteModal">
                <img
                id="logo-imagem-produto-modal"
                src="https://autoglass-cdn.github.io/src/img/logo-autoglass.png"
                alt="Logo Autoglass na imagem do produto"
                />
            </div>
        </div>
    </div>
  </div>

  <!-- dev- -detalhe-produto- -body-tags -->
  <vtex:template id="dev--detalhe-produto--body-tags" />
  <!-- dev- -detalhe-produto- -body-tags -->

  <!-- Footer -->
  <vtex:template id="dev--footer" />
  <!-- Footer -->
  <!-- <vtex.cmc:devGoogleMaps /> -->

  <script defer="" src="/scripts/jquery.maskedinput-1.2.2.js" type="text/javascript"></script>
  <script defer="" src="https://cdn.jsdelivr.net/npm/pinch-zoom-js@2.3.4/dist/pinch-zoom.umd.min.js"></script>
  <script defer="" src="https://autoglass-cdn.github.io/src/js/renderiza-thumbs.js" type="text/javascript"></script>
  <script defer="" src="https://autoglass-cdn.github.io/src/js/jquery-ui.datepicker.js" type="text/javascript"></script>
  <script defer="" src="https://autoglass-cdn.github.io/src/js/B2C-02-detalhe-produto.js" type="text/javascript"></script>
  <script defer="" src="https://autoglass-cdn.github.io/src/js/cep.component.js" type="text/javascript"></script>
  <script defer="" src="https://autoglass-cdn.github.io/src/js/busca-fipe.js" type="text/javascript"></script>
  <script defer="" src="https://autoglass-cdn.github.io/src/js/verifica-compatibilidade.js" type="text/javascript"></script>
  <script defer="" src="https://autoglass-cdn.github.io/src/js/detalhe-produto.js" type="text/javascript"></script>
  <script>
    //<![CDATA[
    $(function () {
        function adicionarPreload($div) {
            const url = $div.attr("data-zoom-image");
            if (url && !$("link[href='" + url + "']").length) {
                $("<link>", {
                    rel: "preload",
                    as: "image",
                    href: url,
                    fetchpriority: "high"
                }).appendTo("head");
            }
        }
    
        const observer = new MutationObserver(function(mutations, obs) {
            const $div = $("#mainMediaContainer .zoom-wrapper").first();
            if ($div.length) {
                adicionarPreload($div);
                obs.disconnect();
            }
        });

        const mainContainer = document.getElementById("mainMediaContainer");
        if (mainContainer) {
            observer.observe(mainContainer, { childList: true, subtree: true });
        }
    });
    //]]>
  </script>
  <script>
        const offerDiv = document.querySelector('div[itemtype="http://schema.org/Offer"]');

        if (offerDiv) {
            let priceCurrencyMeta = offerDiv.querySelector('meta[itemprop="priceCurrency"]');
            if (!priceCurrencyMeta) {
                priceCurrencyMeta = document.createElement("meta");
                priceCurrencyMeta.setAttribute("itemprop", "priceCurrency");
                priceCurrencyMeta.setAttribute("content", "BRL");
                offerDiv.appendChild(priceCurrencyMeta);
            }

            let priceMeta = offerDiv.querySelector('meta[itemprop="price"]');
            if (!priceMeta) {
                priceMeta = document.createElement("meta");
                priceMeta.setAttribute("itemprop", "price");
                priceMeta.setAttribute("content", "0.00");
                offerDiv.appendChild(priceMeta);
            }
        }
    </script>
    <script>
        //Datalayer SocialShare
      function handleSocialClick(event, method) {
      dataLayer.push({
          'event': 'share',
          'method': method,
          'content_type': skuJson.skus[0].image,
          'item_id': skuJson.skus[0].sku,
      });
      }

      const socialMediaElements = {
          'whatsapp': '.product-qd-v1-social-share.desktop .whatsapp',
          'twitter': '.product-qd-v1-social-share.desktop .twitter',
          'mail': '.product-qd-v1-social-share.desktop .mail',
          'facebook': '.product-qd-v1-social-share.desktop .facebook'
      };

      Object.entries(socialMediaElements).forEach(([socialMediaType, selector]) => {
      const element = document.querySelector(selector);
      element.addEventListener('click', (event) => handleSocialClick(event, socialMediaType));
      });


      //Datalayer SocialShare
      function ButtoWhatsappClick(event, position) {
      dataLayer.push({
        'event': 'whatsapp',
        'position': position
      });
      }

      const whatsappElements = {
          '.link-whatsapp-texto .link-whatsapp-conteudo-sem-numero': 'topo',
          '.link-whatsapp-texto.gtm-whatsapp-botao-rodape': 'widget',
          '.link-whatsapp-texto.botao-compre-whatsapp': 'compre-whatsapp',
          '.link-whatsapp-texto.link-whatsapp': 'footer'
      };

      Object.entries(whatsappElements).forEach(([selector, buttonType]) => {
          const element = document.querySelector(selector);
          if (element) {
          element.addEventListener('click', (event) => ButtoWhatsappClick(event, buttonType));
          }
          });
    </script>
</body>

</html>