<!-- dev- -sistema-500 -->
<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" >
    <head>
        <vtex:metaTags />
        <meta name="robots" content="noindex, nofollow" />
        <title><vtex.cmc:productPageTitle /></title>
        <vtex:contentPlaceHolder id="qd_head" />
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous" />
	    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
        <link rel="preconnect" href="https://autoglass-cdn.github.io" crossorigin="anonymous" />
        <link rel="preconnect" href="https://cdn.quatrodigital.com" crossorigin="anonymous"/>
        <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin="anonymous"/>
        <link rel="preconnect" href="https://maxcdn.bootstrapcdn.com" crossorigin="anonymous" />
        <link rel="dns-prefetch" href="//fonts.googleapis.com" />
	    <link rel="dns-prefetch" href="//fonts.gstatic.com" />
	    <link rel="dns-prefetch" href="//autoglass-cdn.github.io" />
        <link rel="dns-prefetch" href="//cdnjs.cloudflare.com" />
        <link rel="dns-prefetch" href="//reviews.konfidency.com.br" />
        <link rel="dns-prefetch" href="//secure.adnxs.com" />
        <link rel="dns-prefetch" href="//static.zdassets.com" />
        <link rel="dns-prefetch" href="//js.usemessages.com" />
        <link rel="dns-prefetch" href="//js.hubspot.com" />
        <link rel="dns-prefetch" href="//js.hs-analytics.net" />
        <link rel="dns-prefetch" href="//js.hsadspixel.net" />
        <link rel="dns-prefetch" href="//js.hs-banner.com" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            crossorigin="anonymous"
            onload="window.jQueryNew = jQuery.noConflict(true);">
        </script>
        <link rel="shortcut icon" href="/arquivos/autoglass-favicon.ico" />
        <vtex:template id="dev--head-tags" />
        <vtex:template id="dev--header-styles" />
        <vtex:template id="dev--footer-styles" />
        <link rel="stylesheet" href="//cdn.quatrodigital.com/autoglass-arquivos/CSS.aut.far.system.css"  media="print" onload="this.media='all'" />
    </head>
    <body class="system-500" data-qd-scroll-limit="200">
        <!-- Header -->
        <vtex:template id="dev--header" />
        <!-- Header -->

        <main>
            <div class="common-qd-v1-structure">
                <div class="system-error-qd-v1">
                    <div class="system-error-qd-v1-content-error-500">
                        <vtex:contentPlaceHolder id="conteudo_da_pagina" />
                    </div>
                </div>
            </div>
        </main>

        <!-- dev- -body-tags -->
        <vtex:template id="dev--body-tags" />
        <!-- dev- -body-tags -->

        <!-- Footer -->
        <vtex:template id="dev--footer" />
        <!-- Footer -->
        <vtex.cmc:devGoogleMaps />
        
    </body>
</html>