<!-- dev- -whatsapp -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">
    <head>
        <title>Whatsapp - Autoglass</title>
        <vtex:metaTags />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <script type="text/javascript" language="javascript">
            ga('create', 'UA-133498560-1', 'autoglassonline.com');
            ga('send', 'event', 'WhasApp', 'WhasApp', 'WhasApp');
            window.location.href = 'https://api.whatsapp.com/send?phone=5527998260207';
        </script>
    </body>
</html>