<!DOCTYPE html>
<!-- dev- -blog-footer -->
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <meta charset="UTF-8" />
    <vtex:template id="dev--head-tags" />
    <vtex:metaTags />
    <base target="_parent" />

    <style>
        #webWidget,
        #launcher,
        .qd-am-elem-ajuda,
        #whatsapp-icon-link {

            display: none !important;

        }
    </style>

    <script type="text/javascript">

        window.addEventListener("load", function () {
            if (window.self === window.top) return; // if w.self === w.top, we are not in an iframe 
            send_height_to_parent_function = function () {
                var height = document.getElementsByTagName("body")[0].clientHeight;
                //console.log("Sending height as " + height + "px");
                parent.postMessage({ "height": height }, "*");
            }
            // send message to parent about height updates
            send_height_to_parent_function(); //whenever the page is loaded
            window.addEventListener("resize", send_height_to_parent_function); // whenever the page is resized
            var observer = new MutationObserver(send_height_to_parent_function);           // whenever DOM changes PT1
            var config = { attributes: true, childList: true, characterData: true, subtree: true }; // PT2
            observer.observe(window.document, config);                                            // PT3 

        });

    </script>

</head>

<body>

    <!-- Footer -->
    <vtex:template id="dev--footer" />
    <!-- Footer -->

</body>

</html>