<!-- dev- -blog-footer -->
<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex, nofollow" />
    <vtex:metaTags />
    <base target="_parent" />
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link rel="preconnect" href="https://autoglass-cdn.github.io" crossorigin="anonymous" />
    <link rel="preconnect" href="https://cdnjs.cloudflare.com/" crossorigin="anonymous" />
    <link rel="preconnect" href="https://reviews.konfidency.com.br/" crossorigin="anonymous" />
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
	<link rel="dns-prefetch" href="//fonts.gstatic.com" />
	<link rel="dns-prefetch" href="//autoglass-cdn.github.io" />
    <link rel="dns-prefetch" href="//secure.adnxs.com" />
    <link rel="dns-prefetch" href="//static.zdassets.com" />
    <link rel="dns-prefetch" href="//js.usemessages.com" />
    <link rel="dns-prefetch" href="//js.hubspot.com" />
    <link rel="dns-prefetch" href="//js.hs-analytics.net" />
    <link rel="dns-prefetch" href="//js.hsadspixel.net" />
    <link rel="dns-prefetch" href="//js.hs-banner.com" />
    <vtex:template id="dev--head-tags" />
    <vtex:template id="dev--footer-styles" />
    <style>
        #webWidget,
        #launcher,
        .qd-am-elem-ajuda,
        #whatsapp-icon-link {

            display: none !important;

        }
    </style>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKHXR8L"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- dev- -body-tags-->
     <vtex:template id="dev--body-tags" />
    <!-- dev- -body-tags-->

    <!-- Footer -->
    <vtex:template id="dev--footer" />
    <!-- Footer -->

    <script type="text/javascript">

        window.addEventListener("load", function () {
            if (window.self === window.top) return; // if w.self === w.top, we are not in an iframe 
            send_height_to_parent_function = function () {
                var height = document.getElementsByTagName("body")[0].clientHeight;
                //console.log("Sending height as " + height + "px");
                parent.postMessage({ "height": height }, "*");
            }
            // send message to parent about height updates
            send_height_to_parent_function(); //whenever the page is loaded
            window.addEventListener("resize", send_height_to_parent_function); // whenever the page is resized
            var observer = new MutationObserver(send_height_to_parent_function);           // whenever DOM changes PT1
            var config = { attributes: true, childList: true, characterData: true, subtree: true }; // PT2
            observer.observe(window.document, config);                                            // PT3 

        });

    </script>

</body>

</html>