.veiculos-compativeis-search {
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: stretch;
  max-width: 355px;
}

.veiculos-compativeis-search__title {
  font-size: 14px;
  color: #183884;
  text-align: center;
}

.veiculos-compativeis-search__search-box {
  margin: 10px 0;
}

.veiculos-compativeis-search .veiculos-compativeis-search__search-input {
  display: flex;
  align-items: center;
}

.veiculos-compativeis-search .veiculos-compativeis-search__search-input input {
  outline: none;
  padding: 10px 15px;
  border: 1px solid;
  border-color: #183884;
  border-radius: 4px;
  width: 100%;
  color: var(--gray-500);
  transition: border 500ms;
  min-height: 55px;
}

.veiculos-compativeis-search .veiculos-compativeis-search__search-input .search-icon {
  line-height: 1;
  margin-left: -32px;
}

.veiculos-compativeis-search__search-suggestions {
  margin-top: 5px;
}

.veiculos-compativeis-search__search-suggestions .veiculos-compativeis__content-compativel-link {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #707070;
  padding: 10px 0 10px 0;
}

.veiculos-compativeis-search__search-suggestions .veiculos-compativeis__content-compativel-link>p {
  color: #183884;
  word-wrap: break-word;
  word-break: keep-all;
  font-weight: bold;
}

.veiculos-compativeis-search__search-suggestions .veiculos-compativeis__content-compativel-link>div {
  display: flex;
  flex-wrap: wrap;
}

.veiculos-compativeis-search__search-suggestions .veiculos-compativeis-search__link {
  text-align: end;
  padding: 5px;
}

.veiculos-compativeis-search__search-suggestions .veiculos-compativeis-search__link a {
  text-decoration: underline !important;
}

.veiculos-compativeis-search__hint {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .veiculos-compativeis-search.desktop {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .veiculos-compativeis-search.mobile {
    display: none !important;
  }
}

.veiculos-compativeis-search.mobile {
  padding: 0 10px;
}