.breadcrumb-qd-v1 {
    margin: 20px 0;
}
@media (max-width: 767px) {
    .breadcrumb-qd-v1 {
        width: 80%;
        margin: 20px;
    }
}
.breadcrumb-qd-v1 .bread-crumb {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
}
.breadcrumb-qd-v1 .bread-crumb ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.breadcrumb-qd-v1 .bread-crumb li {
    display: inline-block;
    color: #757575;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}
.breadcrumb-qd-v1 .bread-crumb li:first-child {
    font-size: 0;
}
.breadcrumb-qd-v1 .bread-crumb li:first-child a:before {
    content: "HOME";
    font-size: 10px;
}
.breadcrumb-qd-v1 .bread-crumb li:hover {
    color: #223b76;
}
.breadcrumb-qd-v1 .bread-crumb li + li:before {
    content: "\f101";
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    height: 1em;
    text-align: center;
    text-decoration: inherit;
    text-rendering: optimizelegibility;
    width: 1em;
    font-family: "FontAwesome";
    color: #757575;
    font-size: 10px;
    margin-right: 6px;
    margin-left: 6px;
    padding: 0;
}
.breadcrumb-qd-v1 .bread-crumb a {
    transition: all 0.2s ease-out;
    color: inherit;
    font-family: "Montserrat", sans-serif;
}
.breadcrumb-qd-v1 .bread-crumb a:hover {
    text-decoration: underline;
}
.breadcrumb-qd-v1 .bread-crumb a:focus,
.breadcrumb-qd-v1 .bread-crumb a:active {
    text-decoration: none;
}
.product-qd-v1-image-thumbs {
    margin: 0;
    max-height: 630px;
    max-width: 120px;
    padding-left: 0;
    padding-right: 10px;
    list-style: none;
    overflow: hidden;
    overflow-y: auto;
}
@media (max-width: 992px) {
    .product-qd-v1-image-thumbs {
        padding-top: 18px;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}
.product-qd-v1-image-thumbs li {
    margin-bottom: 10px;
}
@media (max-width: 992px) {
    .product-qd-v1-image-thumbs li {
        display: inline;
    }
}
.product-qd-v1-image-thumbs li a {
    border: transparent solid;
    border-width: 2px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    transition: all 0.2s ease-out;
    position: relative;
    display: block;
    max-width: 74px;
    border-radius: 3px;
}
@media (max-width: 992px) {
    .product-qd-v1-image-thumbs li a {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
@media (max-width: 767px) {
    .product-qd-v1-image-thumbs li a {
        max-width: 60px;
    }
}
.product-qd-v1-image-thumbs li a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    border-color: #2d4f9e;
}
.product-qd-v1-image-thumbs li img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.product-qd-v1-image {
    position: relative;
    padding: 0 2%;
}
@media (max-width: 1199px) {
    .product-qd-v1-image {
        padding: 0 20px;
    }
}
.product-qd-v1-image .thumbs {
    display: none;
}
.product-qd-v1-image #image-main {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
}
.product-qd-v1-image .zoomWrapper {
    width: 487px !important;
}
.product-qd-v1-image .zoomWrapperImage {
    height: 737px !important;
}
.product-qd-v1-image .zoomWindow {
    border: #2d4f9e solid;
    border-width: 1px;
    top: 0 !important;
    left: 0 !important;
    z-index: 998 !important;
    height: 100% !important;
    width: 100% !important;
    background: #fff;
    overflow: hidden;
}
@media (max-width: 767px) {
    .product-qd-v1-image .zoomWindow {
        display: none !important;
    }
}
.product-qd-v1-image .zoomPreload {
    border: #8a8a8a solid;
    border-width: 1px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    width: 180px;
    height: 180px;
    top: 50% !important;
    left: 50% !important;
    margin: -90px 0 0 -90px;
    background: url("//devautoglass.vteximg.com.br/arquivos/ajax-loader.gif")
        no-repeat center center #fff;
}
.product-qd-v1-image .zoomPad {
    position: relative;
}
.product-qd-v1-image .zoomPup {
    border: #000000 solid;
    border-width: 1px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    background: #d1d1d1;
}
@media (max-width: 767px) {
    .product-qd-v1-image .zoomPup {
        display: none !important;
    }
}
.product-qd-v1-image .product-qd-v1-stamps {
    top: 20px;
    left: 30px;
    z-index: 9000;
}
.product-qd-v1-stamps {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 99;
}
@media (max-width: 767px) {
    .product-qd-v1-stamps {
        padding: 0;
    }
}
.product-qd-v1-sku-selection-box {
    padding-left: 60px;
}
@media (max-width: 1200px) {
    .product-qd-v1-sku-selection-box {
        padding-left: 0;
    }
}
.product-qd-v1-sku-selection-box .product-qd-v1-sku-selection-row {
    position: relative;
}
@media (max-width: 992px) {
    .product-qd-v1-sku-selection-box .product-qd-v1-sku-selection-row {
        max-width: 100%;
    }
}
.product-qd-v1-sku-selection-box .product-qd-v1-sku-selection-row h3 {
    margin-bottom: 3px;
    color: #1c3162;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.product-qd-v1-sku-selection-box .product-qd-v1-sku-selection-row p {
    margin-top: 0;
    margin-bottom: 10px;
    color: #000000;
    font-size: 12px;
    text-transform: lowercase;
}
.product-qd-v1-sku-selection-box
    .product-qd-v1-sku-selection-row
    input[type="text"] {
    border: #2d4f9e solid;
    border-width: 1px;
    transition: all 0.2s ease-out;
    width: 100%;
    height: 35px;
    display: block;
    margin-bottom: 5px;
    padding: 5px 15px;
    color: #424242;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 10px;
}
.product-qd-v1-sku-selection-box
    .product-qd-v1-sku-selection-row
    input[type="text"]:hover,
.product-qd-v1-sku-selection-box
    .product-qd-v1-sku-selection-row
    input[type="text"]:focus,
.product-qd-v1-sku-selection-box
    .product-qd-v1-sku-selection-row
    input[type="text"]:active {
    font-style: normal;
}
.product-qd-v1-sku-selection-box
    .product-qd-v1-sku-selection-row
    input[type="text"]:focus {
    color: #424242;
    background-color: #fff;
    border-color: #2d4f9e;
}
.product-qd-v1-sku-selection-box
    .product-qd-v1-sku-selection-row
    input[type="text"].notifyme-client-email {
    margin-right: 0;
    margin-bottom: 0;
    float: left;
    width: 75%;
    border-radius: 30px 0 0 30px;
    border-right-color: transparent;
}
.product-qd-v1-sku-selection-box
    .product-qd-v1-sku-selection-row
    .sku-notifyme-button-ok {
    transition: all 0.2s ease-out;
    border: #43c452 solid;
    border-width: 2px;
    display: inline-block;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    background-color: #43c452;
    border-radius: 4px;
    float: right;
    height: 35px;
    width: 25%;
    font-weight: 600;
    border-radius: 0 30px 30px 0;
}
.product-qd-v1-sku-selection-box
    .product-qd-v1-sku-selection-row
    .sku-notifyme-button-ok:hover {
    text-decoration: none;
    background: #39b547;
    border-color: #39b547;
}
.product-qd-v1-sku-selection-box
    .product-qd-v1-sku-selection-row
    .sku-notifyme-button-ok:focus,
.product-qd-v1-sku-selection-box
    .product-qd-v1-sku-selection-row
    .sku-notifyme-button-ok:active {
    text-decoration: none;
    background: #39b547;
    border-color: #39b547;
}
.product-qd-v1-sku-selection-box
    .product-qd-v1-sku-selection-row
    .sku-notifyme-button-ok:hover {
    color: #fff;
}
.product-qd-v1-sku-selection-box
    .product-qd-v1-sku-selection-row
    .sku-notifyme-button-ok:focus,
.product-qd-v1-sku-selection-box
    .product-qd-v1-sku-selection-row
    .sku-notifyme-button-ok:active {
    color: #fff;
}
.product-qd-v1-sku-selection-box
    .product-qd-v1-sku-selection-row
    .sku-notifyme-form {
    border: none;
    padding: 0;
}
.product-qd-v1-sku-selection-box .product-qd-v1-sku-selection-row input {
    border-radius: 3px !important;
}
.product-qd-v1-sku-selection-box
    .product-qd-v1-sku-selection-row
    input.notifyme-client-email {
    border-radius: 3px 0 0 3px !important;
}
.product-qd-v1-sku-selection-box
    .product-qd-v1-sku-selection-row
    .sku-notifyme-button-ok {
    border-radius: 0 3px 3px 0 !important;
    border: 1px solid #2d4f9e;
    border-left: transparent;
}
.product-qd-v1-sku-selection-box
    .product-qd-v1-sku-selection-row
    .notifyme-title::before {
    content: "PRODUTO INDISPONÍVEL.";
    color: #333333;
    font-size: 14px;
    display: block;
    margin-bottom: 25px;
    opacity: 0.7;
}
@media (max-width: 992px) {
    .product-qd-v1-sku-selection-box .product-qd-v1-sku-selection-row {
        padding-right: 30px;
        padding-left: 30px;
    }
    .product-qd-v1-sku-selection-box
        .product-qd-v1-sku-selection-row
        .product-qd-v1-brand-name {
        display: none;
    }
}
.product-qd-v1-sku-selection-box
    .product-qd-v1-sku-selection-row
    .product-qd-v1-sku-selection {
    padding: 25px 0;
    border-bottom: 1px solid #adadad;
}
body.mz-product-available
    .product-qd-v1-sku-selection-box
    .product-qd-v1-sku-selection-row
    .product-qd-v1-sku-selection {
    display: none;
}
.product-qd-v1-sku-selection-box .product-qd-v1-block {
    display: flex;
}
.product-qd-v1-sku-selection-box .product-qd-v1-name {
    margin-bottom: 5px;
    color: #333333;
    font-size: 21px;
    font-weight: 600;
}
@media (max-width: 992px) {
    .product-qd-v1-sku-selection-box .product-qd-v1-name {
        display: none;
    }
}
.product-qd-v1-sku-selection-box .product-qd-v1-ref-code {
    display: block;
    margin-bottom: 25px;
    color: #424242;
    font-size: 12px;
}
.product-qd-v1-sku-selection-box .product-qd-v1-ref-code .productReference {
    display: inline-block;
    font-weight: 600;
}
.product-qd-v1-sku-selection-box
    .product-qd-v1-ref-code
    .productReference:before {
    display: inline-block;
    margin-right: 3px;
    content: "Ref:";
}
@media (max-width: 992px) {
    .product-qd-v1-sku-selection-box .product-qd-v1-ref-code {
        display: none;
    }
}
.product-qd-v1-sku-selection-box .product-qd-v1-price {
    padding-bottom: 20px;
}
@media (max-width: 992px) {
    .product-qd-v1-sku-selection-box .product-qd-v1-price {
        margin-top: 35px;
    }
}
.product-qd-v1-sku-selection-box .product-qd-v1-price p {
    margin: 0;
}
.product-qd-v1-sku-selection-box .product-qd-v1-price .price-list-price,
.product-qd-v1-sku-selection-box .product-qd-v1-price .price-best-price,
.product-qd-v1-sku-selection-box .product-qd-v1-price .price-installments {
    font-style: normal;
}
.product-qd-v1-sku-selection-box .product-qd-v1-price .price-list-price,
.product-qd-v1-sku-selection-box .product-qd-v1-price .price-best-price {
    text-indent: 0;
    color: transparent;
    font-size: 0;
}
.product-qd-v1-sku-selection-box .product-qd-v1-price .price-list-price {
    margin-bottom: 3px;
    color: #8a8a8a;
    text-decoration: line-through;
}
.product-qd-v1-sku-selection-box .product-qd-v1-price .skuListPrice {
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
}
.product-qd-v1-sku-selection-box .product-qd-v1-price .price-best-price {
    color: #2d4f9e;
    font-weight: 600;
}
.product-qd-v1-sku-selection-box
    .product-qd-v1-price
    .price-best-price
    .skuBestPrice {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
}
@media (max-width: 991px) {
    .product-qd-v1-sku-selection-box
        .product-qd-v1-price
        .price-best-price
        .skuBestPrice {
        font-size: 20px;
    }
}
.product-qd-v1-sku-selection-box .product-qd-v1-price .price-installments {
    color: #333333;
    font-size: 18px;
}
.product-qd-v1-sku-selection-box
    .product-qd-v1-price
    .price-installments
    > span
    > span::first-line {
    text-transform: uppercase;
}
.product-qd-v1-sku-selection-box .product-qd-v1-price .price-installments label,
.product-qd-v1-sku-selection-box
    .product-qd-v1-price
    .price-installments
    strong {
    font-weight: 400;
}
.product-qd-v1-sku-selection-box
    .product-qd-v1-price
    .price-installments
    .skuBestInstallmentNumber,
.product-qd-v1-sku-selection-box
    .product-qd-v1-price
    .price-installments
    .skuBestInstallmentValue {
    color: #2d4f9e;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.product-qd-v1-sku-selection-box .product-qd-v1-price .preco-a-vista,
.product-qd-v1-sku-selection-box .product-qd-v1-price .economia-de {
    display: none !important;
}
.product-qd-v1-sku-selection-box .product-qd-v1-description-short {
    display: block;
    padding-top: 37px;
    margin-bottom: 22px;
}
@media (max-width: 767px) {
    .product-qd-v1-sku-selection-box .product-qd-v1-description-short {
        padding: 50px 30px 15px;
    }
}
.product-qd-v1-sku-selection-box
    .product-qd-v1-description-short
    .productDescriptionShort {
    color: #757575;
    font-size: 14px;
}
.product-qd-v1-sku-selection-box
    .product-qd-v1-description-short
    .productDescriptionShort:before {
    display: block;
    margin-bottom: 10px;
    color: #333333;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    content: "Descrição";
}
.product-qd-v1-sku-selection-box .product-qd-v1-link-description {
    transition: all 0.2s ease-out;
    display: inline-block;
    color: #223b76;
    line-height: 14px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
    .product-qd-v1-sku-selection-box .product-qd-v1-link-description {
        padding: 0 30px 30px;
    }
}
.product-qd-v1-sku-selection-box .product-qd-v1-link-description:hover,
.product-qd-v1-sku-selection-box .product-qd-v1-link-description:focus,
.product-qd-v1-sku-selection-box .product-qd-v1-link-description:active {
    color: #1c3162;
    text-shadow: 0.5px 0 0 currentColor;
    text-decoration: none;
}
.product-qd-v1-sku-selection-box .product-qd-v1-link-description:after {
    width: 100%;
    height: 1px;
    display: block;
    transition: all 0.2s ease-out;
    background-color: #223b76;
    content: "";
}
.product-qd-v1-sku-selection-box .product-qd-v1-buy-box {
    padding-bottom: 0;
}
@media (max-width: 991px) {
    .product-qd-v1-sku-selection-box .product-qd-v1-buy-box {
        padding-bottom: 20px;
    }
}
.product-qd-v1-sku-selection {
    background-position: top !important;
    background-repeat: no-repeat !important;
}
.product-qd-v1-sku-selection {
    background-image: url("//cdn.quatrodigital.com/_general/ajax-loader-infinity-scroll.gif");
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 64px;
}
body.jsFullLoaded .product-qd-v1-sku-selection {
    background-image: none;
    min-height: auto;
}
.product-qd-v1-sku-selection > * {
    opacity: 0.01;
    filter: alpha(opacity=1);
}
body.jsFullLoaded .product-qd-v1-sku-selection > * {
    opacity: 1;
    filter: alpha(opacity=100);
}
.product-qd-v1-buy-button {
    overflow: hidden;
    margin-top: 10px;
}
.product-qd-v1-buy-button .buy-button {
    border: #43c452 solid;
    border-width: 2px;
    transition: all 0.2s ease-out;
    display: block;
    border-radius: 6px;
    background: #43c452;
    color: #fff;
    padding: 15px 30px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    font-size: 0;
    width: 100%;
    float: right;
    border-radius: 3px;
}
.product-qd-v1-buy-button .buy-button:hover,
.product-qd-v1-buy-button .buy-button:focus {
    color: #fff;
    background: #39b547;
    border-color: #39b547;
}
.product-qd-v1-buy-button .buy-button:active {
    background: #39b547;
    color: #fff;
}
.product-qd-v1-buy-button .buy-button:hover,
.product-qd-v1-buy-button .buy-button:focus,
.product-qd-v1-buy-button .buy-button:active {
    text-decoration: none;
}
@media (max-width: 1200px) {
    .product-qd-v1-buy-button .buy-button {
        float: none;
    }
}
.product-qd-v1-buy-button .buy-button:before {
    content: "\f07a";
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    height: 1em;
    text-align: center;
    text-decoration: inherit;
    text-rendering: optimizelegibility;
    width: 1em;
    font-family: "FontAwesome";
    font-size: 16px;
    margin-right: 20px;
}
.product-qd-v1-buy-button .buy-button:after {
    font-size: 16px;
    content: "Comprar";
}
.product-qd-v1-buy-button .notifyme {
    position: relative;
}
@media (max-width: 992px) {
    .product-qd-v1-buy-button .notifyme {
        max-width: 100%;
    }
}
.product-qd-v1-buy-button .notifyme h3 {
    margin-bottom: 3px;
    color: #1c3162;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.product-qd-v1-buy-button .notifyme p {
    margin-top: 0;
    margin-bottom: 10px;
    color: #000000;
    font-size: 12px;
    text-transform: lowercase;
}
.product-qd-v1-buy-button .notifyme input[type="text"] {
    border: #2d4f9e solid;
    border-width: 1px;
    transition: all 0.2s ease-out;
    width: 100%;
    height: 35px;
    display: block;
    margin-bottom: 5px;
    padding: 5px 15px;
    color: #424242;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 10px;
}
.product-qd-v1-buy-button .notifyme input[type="text"]:hover,
.product-qd-v1-buy-button .notifyme input[type="text"]:focus,
.product-qd-v1-buy-button .notifyme input[type="text"]:active {
    font-style: normal;
}
.product-qd-v1-buy-button .notifyme input[type="text"]:focus {
    color: #424242;
    background-color: #fff;
    border-color: #2d4f9e;
}
.product-qd-v1-buy-button .notifyme input[type="text"].notifyme-client-email {
    margin-right: 0;
    margin-bottom: 0;
    float: left;
    width: 75%;
    border-radius: 30px 0 0 30px;
    border-right-color: transparent;
}
.product-qd-v1-buy-button .notifyme .sku-notifyme-button-ok {
    transition: all 0.2s ease-out;
    border: #43c452 solid;
    border-width: 2px;
    display: inline-block;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    background-color: #43c452;
    border-radius: 4px;
    float: right;
    height: 35px;
    width: 25%;
    font-weight: 600;
    border-radius: 0 30px 30px 0;
}
.product-qd-v1-buy-button .notifyme .sku-notifyme-button-ok:hover {
    text-decoration: none;
    background: #39b547;
    border-color: #39b547;
}
.product-qd-v1-buy-button .notifyme .sku-notifyme-button-ok:focus,
.product-qd-v1-buy-button .notifyme .sku-notifyme-button-ok:active {
    text-decoration: none;
    background: #39b547;
    border-color: #39b547;
}
.product-qd-v1-buy-button .notifyme .sku-notifyme-button-ok:hover {
    color: #fff;
}
.product-qd-v1-buy-button .notifyme .sku-notifyme-button-ok:focus,
.product-qd-v1-buy-button .notifyme .sku-notifyme-button-ok:active {
    color: #fff;
}
.product-qd-v1-buy-button .notifyme .sku-notifyme-form {
    border: none;
    padding: 0;
}
.product-qd-v1-buy-button .notifyme input {
    border-radius: 3px !important;
}
.product-qd-v1-buy-button .notifyme input.notifyme-client-email {
    border-radius: 3px 0 0 3px !important;
}
.product-qd-v1-buy-button .notifyme .sku-notifyme-button-ok {
    border-radius: 0 3px 3px 0 !important;
    border: 1px solid #2d4f9e;
    border-left: transparent;
}
.product-qd-v1-buy-button .notifyme .notifyme-title::before {
    content: "PRODUTO INDISPONÍVEL.";
    color: #333333;
    font-size: 14px;
    display: block;
    margin-bottom: 25px;
    opacity: 0.7;
}
.product-qd-v1-buy-button .error,
.product-qd-v1-buy-button .success {
    margin-top: 10px;
}
.product-qd-v1-buy-button .success em {
    font-style: normal;
}
.product-qd-v1-buy-button .sku-notifyme-error,
.product-qd-v1-buy-button .sku-notifyme-success {
    display: block;
    padding: 10px 15px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.product-qd-v1-buy-button .sku-notifyme-error:before,
.product-qd-v1-buy-button .sku-notifyme-success:before {
    margin-right: 10px;
}
.product-qd-v1-buy-button .sku-notifyme-success {
    background: #43c452;
}
.product-qd-v1-buy-button .sku-notifyme-success:before {
    content: "\f058";
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    height: 1em;
    text-align: center;
    text-decoration: inherit;
    text-rendering: optimizelegibility;
    width: 1em;
    font-family: "FontAwesome";
}
.product-qd-v1-buy-button .sku-notifyme-error {
    background: #c34e4c;
}
.product-qd-v1-buy-button .sku-notifyme-error:before {
    content: "\f057";
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    height: 1em;
    text-align: center;
    text-decoration: inherit;
    text-rendering: optimizelegibility;
    width: 1em;
    font-family: "FontAwesome";
}
.product-qd-v1-smart-qtt {
    display: block;
    margin: 0 auto;
    align-items: center;
    padding: 3px 0;
    text-align: center;
}
.product-qd-v1-smart-qtt a {
    display: inline-block;
    text-decoration: none !important;
}
.product-qd-v1-shipping {
    position: relative;
    padding: 30px 20px;
    background-color: #f1f1f1;
    margin-top: 17px;
    height: fit-content;
}
@media (max-width: 1200px) {
    .product-qd-v1-shipping {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
@media (max-width: 992px) {
    .product-qd-v1-shipping {
        padding-right: 30px;
        padding-left: 30px;
    }
}
.product-qd-v1-shipping .product-qd-v1-shipping-title {
    float: left;
    margin: 0;
    padding-right: 10px;
    width: 43%;
    height: 45px;
    color: #223b76;
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    line-height: 41px;
    text-align: center;
    padding-left: 40px;
    background-image: url("//devautoglass.vteximg.com.br/arquivos/icon-truck.png");
    margin-top: -3px;
    background-position: left -2px;
    background-repeat: no-repeat;
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .product-qd-v1-shipping .product-qd-v1-shipping-title {
        width: 48%;
    }
}
@media (max-width: 1200px) {
    .product-qd-v1-shipping .product-qd-v1-shipping-title {
        display: block;
        float: none;
        margin-bottom: 15px;
        width: 100%;
        text-align: left;
        padding-left: 50px;
    }
}
.product-qd-v1-shipping
    .product-qd-v1-shipping-freight-result
    #popupCalculoFreteWrapper,
.product-qd-v1-shipping .product-qd-v1-shipping-freight-result .header,
.product-qd-v1-shipping .product-qd-v1-shipping-freight-result .footer,
.product-qd-v1-shipping .product-qd-v1-shipping-freight-result .quantity,
.product-qd-v1-shipping .product-qd-v1-shipping-freight-result .cep-busca {
    display: none;
}
.product-qd-v1-shipping .product-qd-v1-shipping-freight-result fieldset {
    position: relative;
    float: right;
    width: 52%;
}
@media (max-width: 1200px) {
    .product-qd-v1-shipping .product-qd-v1-shipping-freight-result fieldset {
        display: block;
        float: none;
        width: 100%;
    }
}
.product-qd-v1-shipping .product-qd-v1-shipping-freight-result .prefixo {
    text-indent: 0;
    color: transparent;
    font-size: 0;
    display: block;
}
.product-qd-v1-shipping
    .product-qd-v1-shipping-freight-result
    .freight-zip-box {
    border: #2d4f9e solid;
    border-width: 1px;
    transition: all 0.2s ease-out;
    width: 100%;
    height: 35px;
    display: block;
    margin-bottom: 5px;
    padding: 5px 15px;
    color: #424242;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    outline: none;
    background-color: #fff;
    border-radius: 3px;
}
.product-qd-v1-shipping
    .product-qd-v1-shipping-freight-result
    .freight-zip-box:hover,
.product-qd-v1-shipping
    .product-qd-v1-shipping-freight-result
    .freight-zip-box:focus,
.product-qd-v1-shipping
    .product-qd-v1-shipping-freight-result
    .freight-zip-box:active {
    font-style: normal;
}
.product-qd-v1-shipping
    .product-qd-v1-shipping-freight-result
    .freight-zip-box:focus {
    color: #424242;
    background-color: #fff;
    border-color: #1c3162;
}
.product-qd-v1-shipping .product-qd-v1-shipping-freight-result .freight-btn {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    width: 50px;
    height: 35px;
    transition: all 0.2s ease-out;
    color: #fff;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    background-color: #2d4f9e;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
@media (max-width: 1200px) {
    .product-qd-v1-shipping
        .product-qd-v1-shipping-freight-result
        .freight-btn {
        width: 60px;
    }
}
.product-qd-v1-shipping .freight-values {
    display: block;
    padding-top: 10px;
    clear: both;
}
@media (max-width: 992px) {
    .product-qd-v1-buy-together {
        padding: 30px 15px 15px;
    }
}
.product-qd-v1-information-wrapper {
    padding-top: 25px;
    padding-bottom: 40px;
}
@media (max-width: 767px) {
    .product-qd-v1-information-wrapper {
        padding-right: 30px;
        padding-left: 30px;
    }
}
@media (max-width: 991px) {
    .product-qd-v1-information-wrapper {
        padding-top: 0;
    }
}
.product-qd-v1-fixed-bar {
    transition: all 0.2s ease-out;
    position: fixed;
    bottom: 50px;
    right: 0;
    left: 0;
    z-index: 99;
    height: 50px;
    background: #c8c8c8;
}
@media (min-width: 1200px) {
    .product-qd-v1-fixed-bar {
        opacity: 0;
        filter: alpha(opacity=0);
        visibility: hidden;
    }
}
.product-qd-v1-fixed-bar .product-qd-v1-price {
    padding-top: 19px;
    text-align: center;
}
.product-qd-v1-fixed-bar .product-qd-v1-price p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
}
.product-qd-v1-fixed-bar .product-qd-v1-price .valor-de,
.product-qd-v1-fixed-bar .product-qd-v1-price .valor-por,
.product-qd-v1-fixed-bar .product-qd-v1-price .valor-dividido {
    display: inline-block !important;
    font-style: normal;
}
.product-qd-v1-fixed-bar .product-qd-v1-price .valor-de,
.product-qd-v1-fixed-bar .product-qd-v1-price .valor-por {
    text-indent: 0;
    color: transparent;
    font-size: 0;
}
.product-qd-v1-fixed-bar .product-qd-v1-price .valor-de {
    margin-right: 5px;
    color: #424242;
    text-decoration: line-through;
}
.product-qd-v1-fixed-bar .product-qd-v1-price .skuListPrice {
    display: none;
    font-size: 11px;
    font-weight: 400;
}
.product-qd-v1-fixed-bar .product-qd-v1-price .valor-por {
    color: #2d4f9e;
    font-weight: 600;
}
.product-qd-v1-fixed-bar .product-qd-v1-price .valor-por .skuBestPrice {
    font-size: 12px;
}
.product-qd-v1-fixed-bar .product-qd-v1-price .valor-dividido,
.product-qd-v1-fixed-bar .product-qd-v1-price .preco-a-vista,
.product-qd-v1-fixed-bar .product-qd-v1-price .economia-de {
    display: none !important;
}
.product-qd-v1-fixed-bar .product-qd-v1-buy-button {
    position: relative;
    margin-top: 0;
    padding: 6px 0;
    overflow: initial;
    height: 50px;
    background: #fff;
}
.product-qd-v1-fixed-bar .product-qd-v1-buy-button .buy-button {
    text-indent: 0;
    color: transparent;
    font-size: 0;
    max-width: 140px;
    padding: 8px;
    text-align: right;
    background: #43c452;
    border: none;
    border-radius: 3px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    height: 38px;
}
.product-qd-v1-fixed-bar .product-qd-v1-buy-button .buy-button:before {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0;
    top: 8px;
    color: #fff;
    font-size: 16px;
    margin-right: 0;
}
.product-qd-v1-fixed-bar .product-qd-v1-buy-button .buy-button:after {
    position: absolute;
    left: 40px;
    color: #fff;
    font-size: 16px;
    content: "Comprar";
    padding-left: 10px;
}

.product-qd-v1-block-above-image .product-qd-v1-name {
    font-size: 21px;
    color: #333333;
}

.product-qd-v1-float-bar span.product-qd-v1-name, 
.product-qd-v1-block-above-image span.product-qd-v1-name {
    font-weight: 600;
}

.product-qd-v1-block-above-image .product-qd-v1-ref-code {
    font-size: 12px;
    color: #757575;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
}
.product-qd-v1-block-above-image
    .product-qd-v1-ref-code
    .productReference:before {
    display: inline-block;
    margin-right: 3px;
    content: "Ref:";
}
.product-qd-v1-block-above-image .product-qd-v1-block {
    display: flex;
}
.product-qd-v1-block-above-image .product-qd-v1-name,
.product-qd-v1-block-above-image .product-qd-v1-ref-code,
.product-qd-v1-block-above-image .product-qd-v1-brand-name {
    padding: 0 30px;
}
.product-qd-v1-block-above-image .product-qd-v1-name.mob,
.product-qd-v1-block-above-image .product-qd-v1-ref-code.mob,
.product-qd-v1-block-above-image .product-qd-v1-brand-name.mob {
    display: none;
}
@media (max-width: 992px) {
    .product-qd-v1-block-above-image .product-qd-v1-name.mob,
    .product-qd-v1-block-above-image .product-qd-v1-ref-code.mob,
    .product-qd-v1-block-above-image .product-qd-v1-brand-name.mob {
        display: block;
    }
}
.product-qd-v1-block-above-image .product-qd-v1-brand-name {
    color: #2d4f9e;
    font-weight: 600;
    font-style: italic;
    font-size: 12px;
    text-decoration: underline;
    margin-bottom: 0;
    margin-top: 20px;
}
.product-qd-v1-brand-name {
    display: flex;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 25px;
    padding-left: 15px;
    font-weight: 700;
    color: #000000;
}
.product-qd-v1-brand-name a {
    text-decoration: underline;
    color: #2d4f9e;
    font-style: italic;
    padding-left: 5px;
    font-weight: 600;
}
.product-qd-v1-brand-name.mob {
    display: none;
}
@media (max-width: 992px) {
    .product-qd-v1-brand-name.mob {
        display: flex;
        justify-content: start;
        flex-direction: row;
        font-weight: 600;
        font-size: 12px;
        margin-bottom: 25px;
        padding-left: 15px;
        font-weight: 700;
        color: #000000;
        font-style: normal;
        text-decoration: none;
    }
    .product-qd-v1-brand-name.mob .brandName {
        display: inline-block;
    }
    .product-qd-v1-brand-name.mob a {
        text-decoration: underline;
        color: #2d4f9e;
        font-style: italic;
        padding-left: 5px;
        font-weight: 600;
    }
}
.mz-acessories .mz-accesories__name {
    padding: 0 0 20px 10px;
}
.mz-acessories .mz-accesories__name span {
    display: block;
}
.mz-acessories .mz-accesories__name .mz-accesories__name--text {
    font-weight: 600;
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.mz-acessories .mz-accesories__name .mz-accesories__name--conditions {
    text-decoration: underline;
    background: transparent;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}
.mz-acessories .mz-acessories__infos {
    padding-bottom: 5px;
}
.mz-acessories .mz-acessories__infos .mz-acessories__infos--text {
    font-size: 12px;
}
.mz-acessories .mz-acessories__prices .mz-acessories__prices--byfor {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    text-decoration: line-through;
    display: none !important;
}
.mz-acessories .mz-acessories__prices .mz-acessories__prices--totalPrice {
    color: #2d4f9e;
    font-size: 16px;
    font-weight: 700;
}
.mz-acessories .mz-acessories__prices .mz-prices__block {
    display: none;
}
.mz-acessories .mz-acessories__prices .mz-prices__block .text {
    font-size: 18px;
}
.mz-acessories .mz-acessories__prices .mz-prices__block .mz-number-value,
.mz-acessories .mz-acessories__prices .mz-prices__block .mz-number-installment {
    color: #2d4f9e;
    font-weight: 700;
    font-size: 18px;
}
.mz-acessories .mz-accesories__advantages .mz-accesories__advantages--button {
    font-size: 14px;
    background: transparent;
    background-color: transparent;
    border: none;
    outline: none;
}
.mz-acessories
    .mz-accesories__advantages
    .mz-accesories__advantages--button:before {
    color: #43c452;
    content: "\f058";
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    height: 1em;
    text-align: center;
    text-decoration: inherit;
    text-rendering: optimizelegibility;
    width: 1em;
    font-family: "FontAwesome";
    font-size: 16px;
    position: relative;
    right: 5px;
    top: 2px;
}
.mz-acessories
    .mz-accesories__advantages
    .mz-accesories__advantages--button:hover {
    text-decoration: none;
}
.mz-acessories .mz-accesories__button {
    margin-top: 20px;
}
.mz-acessories .mz-accesories__button .mz-accesories__button--buy {
    border: #43c452 solid;
    border-width: 2px;
    transition: all 0.2s ease-out;
    display: block;
    border-radius: 6px;
    background: #43c452;
    color: #fff;
    padding: 15px 30px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    font-size: 16px;
    float: right;
    border-radius: 3px;
}
.mz-acessories .mz-accesories__button .mz-accesories__button--buy:hover,
.mz-acessories .mz-accesories__button .mz-accesories__button--buy:focus {
    color: #fff;
    background: #39b547;
    border-color: #39b547;
}
.mz-acessories .mz-accesories__button .mz-accesories__button--buy:active {
    background: #39b547;
    color: #fff;
}
.mz-acessories .mz-accesories__button .mz-accesories__button--buy:hover,
.mz-acessories .mz-accesories__button .mz-accesories__button--buy:focus,
.mz-acessories .mz-accesories__button .mz-accesories__button--buy:active {
    text-decoration: none;
}
@media (max-width: 1200px) {
    .mz-acessories .mz-accesories__button .mz-accesories__button--buy {
        float: none;
    }
}
.mz-acessories .mz-accesories__button .mz-accesories__button--buy:before {
    content: "\f07a";
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    height: 1em;
    text-align: center;
    text-decoration: inherit;
    text-rendering: optimizelegibility;
    width: 1em;
    font-family: "FontAwesome";
    font-size: 16px;
    margin-right: 20px;
}
.mz-modal-installation {
    width: 80%;
    position: fixed;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9997;
    background-color: #fff;
    border-radius: 4px;
    display: none;
}
@media (min-width: 992px) {
    .mz-modal-installation {
        width: 600px;
    }
}
.mz-modal-installation .mz-install__close {
    position: relative;
    padding-bottom: 10px;
}
.mz-modal-installation .mz-install__close span {
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;
    font-size: 0;
}
.mz-modal-installation .mz-install__close span:before {
    content: "\f00d";
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    height: 1em;
    text-align: center;
    text-decoration: inherit;
    text-rendering: optimizelegibility;
    width: 1em;
    font-family: "FontAwesome";
    font-size: 18px;
}
.mz-modal-installation .mz-install__title h2 {
    color: #757575;
    font-size: 26px;
    font-weight: 400;
}
.mz-modal-installation .mz-install__button {
    margin-top: 15px;
}
.mz-modal-installation .mz-install__button .mz-install__button--buy {
    border: #43c452 solid;
    border-width: 2px;
    transition: all 0.2s ease-out;
    border-radius: 6px;
    background: #43c452;
    color: #fff;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
}
.mz-modal-installation .mz-install__button .mz-install__button--buy:hover,
.mz-modal-installation .mz-install__button .mz-install__button--buy:focus {
    color: #fff;
    background: #43c452;
    border-color: #43c452;
}
.mz-modal-installation .mz-install__button .mz-install__button--buy:active {
    background: #43c452;
    color: #fff;
}
.mz-modal-installation .mz-install__button .mz-install__button--buy:hover,
.mz-modal-installation .mz-install__button .mz-install__button--buy:focus,
.mz-modal-installation .mz-install__button .mz-install__button--buy:active {
    text-decoration: none;
}
.mz-modal-installation .mz-install__button .mz-install__button--buy:before {
    content: "\f07a";
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    height: 1em;
    text-align: center;
    text-decoration: inherit;
    text-rendering: optimizelegibility;
    width: 1em;
    font-family: "FontAwesome";
    font-size: 16px;
    margin-right: 20px;
}
@media (min-width: 992px) {
    .mz-modal-installation .mz-install__button .mz-install__button--buy {
        width: 50%;
    }
}
.mz-modal-advantages {
    width: 80%;
    position: fixed;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9997;
    background-color: #fff;
    border-radius: 4px;
    display: none;
}
@media (min-width: 992px) {
    .mz-modal-advantages {
        width: 600px;
    }
}
.mz-modal-advantages .mz-advantages__close {
    position: relative;
    padding-bottom: 10px;
}
.mz-modal-advantages .mz-advantages__close span {
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;
    font-size: 0;
}
.mz-modal-advantages .mz-advantages__close span:before {
    content: "\f00d";
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    height: 1em;
    text-align: center;
    text-decoration: inherit;
    text-rendering: optimizelegibility;
    width: 1em;
    font-family: "FontAwesome";
    font-size: 18px;
}
.mz-modal-advantages .mz-advantages__title h2 {
    color: #757575;
    font-size: 26px;
    font-weight: 400;
}
.mz-modal-advantages .mz-advantages__content ul {
    margin-top: 30px;
    padding-left: 0;
    max-height: 150px;
    overflow-y: auto;
    list-style-type: none;
}
.mz-modal-advantages .mz-advantages__content ul::-webkit-scrollbar {
    width: 6px;
}
.mz-modal-advantages .mz-advantages__content ul::-webkit-scrollbar-track {
    opacity: 0.3;
    background-color: #e0e0e0;
    border: 4px solid transparent;
    background-clip: content-box;
}
.mz-modal-advantages .mz-advantages__content ul::-webkit-scrollbar-thumb {
    background-color: #8a8a8a;
    border-radius: 4px;
}
.mz-modal-advantages .mz-advantages__content ul li {
    cursor: default;
    margin-bottom: 10px;
}
.mz-modal-advantages .mz-advantages__button {
    margin-top: 15px;
}
.mz-modal-advantages .mz-advantages__button .mz-advantages__button--buy {
    border: #43c452 solid;
    border-width: 2px;
    transition: all 0.2s ease-out;
    border-radius: 6px;
    background: #43c452;
    color: #fff;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
}
.mz-modal-advantages .mz-advantages__button .mz-advantages__button--buy:hover,
.mz-modal-advantages .mz-advantages__button .mz-advantages__button--buy:focus {
    color: #fff;
    background: #43c452;
    border-color: #43c452;
}
.mz-modal-advantages .mz-advantages__button .mz-advantages__button--buy:active {
    background: #43c452;
    color: #fff;
}
.mz-modal-advantages .mz-advantages__button .mz-advantages__button--buy:hover,
.mz-modal-advantages .mz-advantages__button .mz-advantages__button--buy:focus,
.mz-modal-advantages .mz-advantages__button .mz-advantages__button--buy:active {
    text-decoration: none;
}
.mz-modal-advantages .mz-advantages__button .mz-advantages__button--buy:before {
    content: "\f07a";
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    height: 1em;
    text-align: center;
    text-decoration: inherit;
    text-rendering: optimizelegibility;
    width: 1em;
    font-family: "FontAwesome";
    font-size: 16px;
    margin-right: 20px;
}
@media (min-width: 992px) {
    .mz-modal-advantages .mz-advantages__button .mz-advantages__button--buy {
        width: 50%;
    }
}
.mz-modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9996;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
}
.product-qd-v1-float-bar {
    height: 85px;
    width: 100%;
    padding: 15px 0;
    transition: all 0.2s ease-out;
    opacity: 0;
    filter: alpha(opacity=0);
    position: fixed;
    visibility: hidden;
    background: #fff;
    z-index: 999;
    right: 0;
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
}
@media (min-width: 992px) {
    .product-qd-v1-float-bar {
        z-index: 9994;
    }
}
@media (min-width: 1200px) {
    body[data-qd-scroll-1="1"] .product-qd-v1-float-bar {
        visibility: visible;
        opacity: 1;
        filter: alpha(opacity=100);
        top: 151px;
        left: 0;
        background: #fff;
    }
}
.product-qd-v1-float-bar .product-qd-v1-name {
    font-size: 14px;
    text-align: left;
    font-weight: 600;
    padding-top: 10px;
}
.product-qd-v1-float-bar .product-qd-v1-link-description {
    color: #2d4f9e;
    text-decoration: underline;
    font-weight: 600;
    display: block;
    padding-top: 17px;
}
.product-qd-v1-float-bar .product-qd-v1-price {
    text-align: left;
    font-style: normal !important;
}
.product-qd-v1-float-bar .product-qd-v1-price p {
    margin: 0;
}
.product-qd-v1-float-bar .product-qd-v1-price .price-list-price {
    font-size: 0;
}
.product-qd-v1-float-bar .product-qd-v1-price .price-list-price strong {
    font-size: 12px;
    line-height: 16px;
    text-decoration: line-through;
    font-style: normal;
    font-weight: 400;
}
.product-qd-v1-float-bar .product-qd-v1-price .price-best-price {
    font-size: 0;
}
.product-qd-v1-float-bar .product-qd-v1-price .price-best-price strong {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: #2d4f9e;
}
.product-qd-v1-float-bar .product-qd-v1-price .price-installments {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.product-qd-v1-float-bar .product-qd-v1-price .price-installments label {
    color: #06c544;
    font-weight: 600;
}
.product-qd-v1-float-bar .product-qd-v1-price .preco-a-vista.price-cash,
.product-qd-v1-float-bar .product-qd-v1-price .economia-de {
    display: none !important;
}
.product-qd-v1-float-bar .product-qd-v1-buy-button {
    margin: auto;
    width: 220px;
}
.product-qd-v1-float-bar .product-qd-v1-buy-button .buy-button {
    font-size: 14px;
}
.product-qd-v1-float-bar .product-qd-v1-buy-button .buy-button::before,
.product-qd-v1-float-bar .product-qd-v1-buy-button .buy-button::after {
    display: none;
}
.product-qd-v1-float-bar .product-qd-v1-buy-button .portal-notify-me-ref h3 {
    font-size: 0;
}
.product-qd-v1-float-bar .product-qd-v1-buy-button .portal-notify-me-ref form {
    display: none !important;
}
.accessories-qd-v1-wrapper {
    position: relative;
}
@media (max-width: 992px) {
    .accessories-qd-v1-wrapper {
        padding-right: 15px;
        padding-left: 15px;
    }
}
.accessories-qd-v1-wrapper h2 {
    margin-bottom: 25px;
    color: #2d4f9e;
    font-size: 26px;
    text-align: center;
    font-weight: 600;
    margin-top: 25px;
}
@media (max-width: 767px) {
    .accessories-qd-v1-wrapper h2 {
        font-size: 21px;
    }
}
.accessories-qd-v1-wrapper .accessories-qd-v1-item fieldset {
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
}
.accessories-qd-v1-wrapper .accessories-qd-v1-item input[type="checkbox"] {
    display: none;
}
.accessories-qd-v1-wrapper .accessories-qd-v1-item label {
    transition: all 0.2s ease-out;
    position: relative;
    cursor: pointer;
    color: #424242;
    font-size: 14px;
    font-weight: 400;
}
.accessories-qd-v1-wrapper .accessories-qd-v1-item label:before {
    content: "\f096";
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    height: 1em;
    text-align: center;
    text-decoration: inherit;
    text-rendering: optimizelegibility;
    width: 1em;
    font-family: "FontAwesome";
    position: relative;
    top: -3px;
    margin-right: 5px;
    vertical-align: middle;
}
.accessories-qd-v1-wrapper
    .accessories-qd-v1-item
    input[type="checkbox"]:checked
    ~ label {
    color: #2d4f9e;
}
.accessories-qd-v1-wrapper
    .accessories-qd-v1-item
    input[type="checkbox"]:checked
    ~ label:before {
    color: #2d4f9e;
    content: "\f046";
}
.product-qd-v1-installation {
    display: block !important;
    background-color: #fff;
    height: 0;
    margin-top: 0;
    padding: 0;
}
.product-qd-v1-installation.product-on {
    height: auto;
    margin-top: 18px;
    padding: 12px;
}
.product-qd-v1-installation .product-qd-v1-installation-content h2 {
    display: none;
}
.product-qd-v1-installation .acessories-qd-v1 {
    display: flex;
    padding: 0;
    flex-direction: row;
}
.product-qd-v1-installation .acessories-qd-v1-image {
    margin-top: -10px;
}
.product-qd-v1-installation .accessories-qd-v1-item {
    width: 100% !important;
    margin-bottom: 0;
}
.product-qd-v1-installation .accessories-qd-v1-item fieldset {
    display: none;
    text-align: left;
    margin-top: 0;
}
.product-qd-v1-installation .accessories-qd-v1-item fieldset label {
    font-size: 12px;
    color: #757575;
}
.product-qd-v1-installation .accessories-qd-v1-item ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.product-qd-v1-installation .accessories-qd-v1-item ul > li {
    list-style-type: none;
}
.product-qd-v1-installation .box-preco-atualizado {
    display: none;
}
