.botao-compatibilidade{
  border: #1c3162 solid;
    border-width: 2px;
    transition: all .2s ease-out;
    display: block;
    border-radius: 6px;
    background: #FFF;
    color: #1c3162;
    padding: 15px 30px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    transition: none;
    font-size: 100%;
    background: #1c3162;
    color: #FFF;
    padding: 5px;
    border-radius: 3px;
    width: 100%;
    height: 40px;
}

.input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

#placa-input-compatibilidade {
  outline: none;
    padding: 10px 15px;
    border: 1px solid;
    border-color: var(--gray-500);
    border-radius: 4px;
    width: 100%;
    color: var(--gray-500);
    transition: border 500ms;
}

.input-container {
  display: flex;
  align-items: center;
}

.c-busca-compatibilidade__input input {
  padding: 8px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 30px; /* Espaço entre o input e o botão */
  flex: 1; /* Para o campo de input ocupar o espaço disponível */
}

.c-busca-compatibilidade__botao button {
  padding: 8px 4px;
  font-size: 14px;
  border: none;
  background-color: #003366; /* Ajuste conforme o estilo desejado */
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  height: 38px;
}

.c-busca-compatibilidade__botao button:hover {
  background-color: #002244; /* Efeito de hover */
}

.tag {
  display: inline-flex;
  align-items: center;
  background-color: #0c66ff;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.tag span {
  margin-right: 10px;
}

.tag button {
  background-color: white;
  border: none;
  color: #0c66ff;
  font-size: 10px;
  cursor: pointer;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.tag button:hover {
  background-color: #ff6b6b;
  color: white;
}
