<!-- prd- -transito-mais-livre -->
<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <meta charset="UTF-8" />
    <vtex:contentPlaceHolder id="SEO_link_alternate" />
    <vtex:metaTags />
    <vtex:contentPlaceHolder id="titulo_pagina" />
    <vtex:template id="prd--head-tags" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    </link>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&amp;display=swap"
        rel="stylesheet">
    </link>

    <link rel="stylesheet" href="https://autoglass-cdn.github.io/arquivos/styles/global/style.css" type="text/css" />
    <link rel="stylesheet" href="https://autoglass-cdn.github.io/arquivos/css/transito-mais-livre.css"
        type="text/css" />
</head>

<body>
    <!-- Header -->
    <vtex:template id="prd--header-minified" />

    <header class="cabecalho">
        <img class="cabecalho__selo" src="https://autoglass-cdn.github.io/arquivos/img/transito-mais-livre/selo.png"
            alt="Selo Transito Mais Livre"></img>
        <div class="cabecalho__logo">
            <span class="cabecalho__logo__texto">Oferecimento:</span>
            <img class="cabecalho__logo__imagem"
                src="https://autoglass-cdn.github.io/arquivos/img/transito-mais-livre/logo.png"
                alt="Logo Autoglass"></img>

        </div>
    </header>
    <main class="transito-mais-livre">
        <section class="banner">
            <div class="container">
                <div class="banner__informacao">
                    <h1 class="informacao__titulo">
                        Mais manutenção no seu carro,
                        menos trânsito na sua cidade.
                    </h1>
                    <p class="informacao__texto">
                        Trânsito Mais Livre é um movimento de conscientização que procura chamar a
                        atenção de motoristas para um fato importante: o trânsito que impacta todo
                        mundo, pode começar em você e nas peças do seu carro.
                    </p>
                </div>
            </div>
        </section>
        <section class="video">
            <div class="container">
                <h2 class="video__titulo">
                    O que um retrovisor tem a ver com o tempo que você
                    passa com seus filhos? Assista ao video e descubra.
                </h2>
                <iframe class="video__youtube" src="https://www.youtube.com/embed/M6kOLi4B3hE"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen="true"></iframe>
                <ul class="estatisticas">
                    <li class="estatisticas__item">
                        <img src="https://autoglass-cdn.github.io/arquivos/img/transito-mais-livre/checked.png"
                            alt="Icone checado" class="estatistica__icone"></img>
                        <p class="estatistica__texto">32% da lentidão no trânsito é causada por acidentes.</p>
                    </li>
                    <li class="estatisticas__item">
                        <img src="https://autoglass-cdn.github.io/arquivos/img/transito-mais-livre/checked.png"
                            alt="Icone checado" class="estatistica__icone"></img>
                        <p class="estatistica__texto">3 em cada 10 acidentes no país ocorrem por falta de manutenção nos
                            veículos</p>
                    </li>
                    <li class="estatisticas__item">
                        <img src="https://autoglass-cdn.github.io/arquivos/img/transito-mais-livre/checked.png"
                            alt="Icone checado" class="estatistica__icone"></img>
                        <p class="estatistica__texto">80% dos carros tem problemas em itens como farol, suspensão, entre
                            outros.</p>
                    </li>
                </ul>
                <small class="video__fonte">FONTE: Pesquisa Instituto Scaringella Trânsito.</small>
            </div>
        </section>
        <section class="prevencao">
            <div class="container">
                <div class="prevencao__informacao">
                    <h2 class="prevencao__titulo">
                        Trocar ou consertar seu para-brisa é um ato de cuidado com o
                        seu carro e com o dia-a-dia das pessoas.
                    </h2>
                    <p class="prevencao__texto">
                        Quando você troca ou conserta um farol do seu carro, por exemplo, isso pode
                        evitar um acidente. Se o seu carro não para por causa de um acidente, o
                        trânsito flui melhor. Agora imagine isso multiplicado por milhões de motoristas.
                        Esse é o nosso propósito.
                    </p>
                </div>
                <img src="https://autoglass-cdn.github.io/arquivos/img/transito-mais-livre/oficina.png" alt="Oficina"
                    class="prevencao__imagem"></img>
            </div>
        </section>
        <section class="beneficio">
            <div class="container">
                <h2 class="beneficio__titulo">
                    Mais tempo para fazer o que quiser.
                </h2>
                <img src="https://autoglass-cdn.github.io/arquivos/img/transito-mais-livre/familia.png"
                    alt="Mãe com filho" class="beneficio__imagem"></img>
                <div class="ganhos">
                    <p class="ganhos__questionamento">
                        Com o tráfego mais tranquilo, e menos stress evitando acidentes, a vida fica
                        muito melhor. Imagine tudo que você poderia fazer chegando mais cedo em
                        casa.
                    </p>
                    <p class="ganhos__sugestao">
                        <span class="ganhos__sugestao__marcacao">
                            Brincar com as crianças, fazer mais exercícios, estudar um assunto do
                            seu interesse, ver filmes, ler livros, se alimentar melhor. Tudo isso é
                            reflexo de um trânsito mais livre.
                        </span>
                    </p>
                </div>
                <div class="cta">
                    <p class="cta__texto">
                        Quer colaborar com um trânsito mais livre?<br />
                        Descubra como podemos te ajudar a cuidar mais do seu carro.
                    </p>
                    <button id="cta-botao_js" class="cta__botao">Clique Aqui</button>
                </div>
            </div>
        </section>
        <section id="modal_js" class="formulario">
            <div class="container">
                <div class="cabecalho">
                    <button id="fechar-modal_js" class="cabecalho__botao" type="button">Fechar <i
                            class="cabecalho__botao__fragmento"></i></button>
                </div>
                <form action="" id="formulario_js" class="formulario__form">
                    <div class="arte">
                        <span class="arte__imagem"></span>
                    </div>
                    <div class="entradas">
                        <label class="input input-column">
                            Nome
                            <input type="text" id="nome_js" placeholder="Nome Completo" maxlength="50"></input>
                        </label>
                        <label class="input input-column">
                            Email
                            <input type="email" id="email_js" placeholder="Digite seu e-mail principal"
                                maxlength="100"></input>
                        </label>
                        <label class="input input-column">
                            Celular
                            <input type="tel" id="telefone_js" placeholder="(XX) 9 1234-5678" pattern="\d*"
                                maxlength="15"></input>
                        </label>
                    </div>
                    <div class="envio">
                        <button id="enviar-formulario_js" class="button btn-confirm envio__botao"
                            type="button">Enviar</button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <!-- Importação dos scpripts será feita via CDN do Github -->
    <script src="https://autoglass-cdn.github.io/arquivos/js/transito-mais-livre.js"></script>

    <!-- Footer -->
    <vtex:template id="prd--footer" />
    <!-- Footer -->

</body>

</html>