<!-- prd- -home -->
<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
  <vtex:contentPlaceHolder id="qd_head" />
  <meta name="facebook-domain-verification" content="qt4yjekjl3va8p2ub6pgxub2jrggp9" />
  <meta charset="UTF-8" />
  <title>
    <vtex.cmc:productPageTitle />
  </title>

  <link rel="stylesheet"
    href="https://autoglass-cdn.github.io/arquivos/css/legacy/home/CSS.aut.far.qd-bootstrap-home.css" type="text/css" />

  <vtex:template id="prd--home--head-tags" />

  <link rel="preload" href="/arquivos/locationFetcher.css" type="text/css" />
  <link rel="preload" href="https://autoglass-cdn.github.io/arquivos/css/policies/header.css" type="text/css" />



  <vtex:metaTags />

  <link rel="alternate" hreflang="pt-br" href="https://autoglassonline.com.br/" />

<!--  <link rel="preload"
    href="https://autoglass-cdn.github.io/arquivos/css/legacy/home/CSS.aut.far.qd-bootstrap-common.css"
    type="text/css" /> -->

  <link rel="stylesheet" href="https://autoglass-cdn.github.io/arquivos/css/home.css" type="text/css" />

  <meta name="google-site-verification" content="G1c2bmZuW1grn41k5gP5P4FpwT3zfMpgCbQVHrIsEFU" />
  <style>
    .col-xs-9.col-xs-offset-3 {
      margin-bottom: 15px;
    }

    .header-qd-v1 .header-qd-v1-valid-prices p,
    .col-xs-9.col-xs-offset-3 p {
      margin-block-start: 1em;
      margin-block-end: 1em;
    }

    .header-qd-v1 .header-qd-v1-valid-prices #btn-alterar-open-modal {
      padding: 1px 6px;
    }
  </style>
  <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Corporation",
        "name": "Autoglass",
        "alternateName": "Auto Glass",
        "url": "https://www.autoglassonline.com.br/",
        "logo": "https://autoglass-cdn.github.io/arquivos/img/logo-autoglass.png",
        "contactPoint": [
            {
                "@type": "ContactPoint",
                "telephone": "27 998260207",
                "contactType": "customer service",
                "areaServed": "BR",
                "availableLanguage": "Portuguese"
            },
            {
                "@type": "ContactPoint",
                "telephone": "0800 707 7670",
                "contactType": "customer service",
                "contactOption": "TollFree",
                "areaServed": "BR",
                "availableLanguage": "Portuguese"
            }
        ],
        "sameAs": [
            "https://api.whatsapp.com/send?phone=552799826-0207",
            "https://www.facebook.com/autoglass.com.br",
            "https://www.instagram.com/autoglass.com.br/",
            "https://www.youtube.com/channel/UCtBOuGjbL_smZKy4sOZPm3A",
            "https://br.linkedin.com/company/autoglass---brasil"
        ]
    }
</script>
</head>

<body class="home">
  <!-- Header -->
  <vtex:template id="prd--header" />
  <!-- Header -->

  <main>
    <section class="banners-section">
      <div class="banners">
        <button tabindex="-1" id="banner-prev" data-type="prev" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="17.233" height="32" viewBox="0 0 17.233 32">
            <path id="chevron-left"
              d="M21.371,1.861a1.231,1.231,0,0,1,0,1.743L7.472,17.5l13.9,13.9a1.232,1.232,0,1,1-1.743,1.743L4.861,18.371a1.231,1.231,0,0,1,0-1.743L19.628,1.861a1.231,1.231,0,0,1,1.743,0Z"
              transform="translate(-4.499 -1.499)" fill="#95989a" fill-rule="evenodd" />
          </svg>
        </button>
        <div class="banners-content desktop">
          <vtex:contentPlaceHolder id="slider_full_para_desktop" />
        </div>
        <div class="banners-content mobile">
          <vtex:contentPlaceHolder id="slider_full_para_mobile" />
        </div>
        <button tabindex="-1" id="banner-next" data-type="next" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="17.233" height="32" viewBox="0 0 17.233 32">
            <path id="chevron-right"
              d="M4.861,1.861a1.231,1.231,0,0,1,1.743,0L21.371,16.628a1.231,1.231,0,0,1,0,1.743L6.6,33.138A1.232,1.232,0,1,1,4.861,31.4l13.9-13.9L4.861,3.6a1.231,1.231,0,0,1,0-1.743Z"
              transform="translate(-4.499 -1.499)" fill="#95989a" fill-rule="evenodd" />
          </svg>
        </button>
        <ul class="banners-bars"></ul>
      </div>
    </section>

    <!-- Smart Select -->
    <vtex:template id="prd--busca-fipe" />
    <!-- Smart Select -->

    <section class="benefits-section">
      <div class="container">
        <div class="benefit focus">
          <div class="benefit-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="40.193" height="40" viewBox="0 0 40.193 40">
              <path id="box-seam"
                d="M20.564,2.68a1.256,1.256,0,0,0-.934,0l-14.992,6,6.039,2.414L26.136,4.908,20.564,2.68Zm8.953,3.582L14.058,12.444,20.1,14.858,35.556,8.676Zm8.164,4.271L21.353,17.064v19.9l16.328-6.531v-19.9ZM18.841,36.967V17.061L2.512,10.533v19.9l16.328,6.531ZM18.7.346a3.768,3.768,0,0,1,2.8,0L39.4,7.511a1.256,1.256,0,0,1,.789,1.166v21.76a2.512,2.512,0,0,1-1.58,2.331l-18.049,7.22a1.256,1.256,0,0,1-.934,0L1.583,32.767A2.512,2.512,0,0,1,0,30.436V8.676A1.256,1.256,0,0,1,.789,7.511Z"
                transform="translate(0 -0.077)" fill="#95989a" fill-rule="evenodd" />
            </svg>
            <p>
              <b>Maior estoque do Brasil</b>
              <span>Referência em vidros</span>
            </p>
          </div>
        </div>
        <div class="benefit">
          <div class="benefit-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="49.594" height="37.209" viewBox="0 0 49.594 37.209">
              <path id="truck"
                d="M0,6.649A4.649,4.649,0,0,1,4.649,2h27.9A4.649,4.649,0,0,1,37.2,6.649V11.3h3.162a4.649,4.649,0,0,1,3.627,1.745l4.591,5.734a4.649,4.649,0,0,1,1.02,2.907v6.661A4.649,4.649,0,0,1,44.945,33h-1.55A6.2,6.2,0,0,1,31,33H15.5a6.2,6.2,0,1,1-12.392-.263A4.649,4.649,0,0,1,0,28.347ZM4.011,29.76a6.2,6.2,0,0,1,10.657.136h17.16A6.23,6.23,0,0,1,34.1,27.628V6.649a1.55,1.55,0,0,0-1.55-1.55H4.649A1.55,1.55,0,0,0,3.1,6.649v21.7a1.55,1.55,0,0,0,.911,1.413ZM37.2,26.8a6.2,6.2,0,0,1,5.368,3.1h2.381a1.55,1.55,0,0,0,1.55-1.55V21.683a1.55,1.55,0,0,0-.341-.967l-4.587-5.734a1.55,1.55,0,0,0-1.209-.583H37.2ZM9.3,29.9A3.1,3.1,0,1,0,12.4,33,3.1,3.1,0,0,0,9.3,29.9Zm27.9,0A3.1,3.1,0,1,0,40.3,33,3.1,3.1,0,0,0,37.2,29.9Z"
                transform="translate(0 -2)" fill="#95989a" fill-rule="evenodd" />
            </svg>
            <p>
              <b>Entrega e Instalação</b>
              <span>Mais de 70 lojas no Brasil</span>
            </p>
          </div>
        </div>
        <div class="benefit">
          <div class="benefit-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="49.594" height="37.195" viewBox="0 0 49.594 37.195">
              <path id="Caminho_639" data-name="Caminho 639"
                d="M43.395,5.1H6.2A3.1,3.1,0,0,0,3.1,8.2V33a3.1,3.1,0,0,0,3.1,3.1h37.2a3.1,3.1,0,0,0,3.1-3.1V8.2A3.1,3.1,0,0,0,43.395,5.1ZM6.2,2A6.2,6.2,0,0,0,0,8.2V33a6.2,6.2,0,0,0,6.2,6.2h37.2a6.2,6.2,0,0,0,6.2-6.2V8.2a6.2,6.2,0,0,0-6.2-6.2Z"
                transform="translate(0 -2)" fill="#95989a" fill-rule="evenodd" />
              <path id="Caminho_640" data-name="Caminho 640"
                d="M32,6.55A1.55,1.55,0,0,1,33.546,5h6.2A1.55,1.55,0,0,1,41.3,6.55v3.1a1.55,1.55,0,0,1-1.55,1.55h-6.2A1.55,1.55,0,0,1,32,9.649ZM1,17.4H44.395v6.2H1Z"
                transform="translate(2.1 4.299)" fill="#95989a" />
            </svg>
            <p>
              <b>Pagamento Facilitado</b>
              <span>Em até 5x nos cartões</span>
            </p>
          </div>
        </div>
        <div class="benefit">
          <div class="benefit-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="28.589" height="40.082" viewBox="0 0 28.589 40.082">
              <g id="Grupo_2703" data-name="Grupo 2703" transform="translate(-922 -619.918)">
                <text id="_1" data-name="1" transform="translate(935.812 640)" fill="#95989a" font-size="14"
                  font-family="OpenSans-Bold, Open Sans" font-weight="700">
                  <tspan x="-3.996" y="0">1</tspan>
                </text>
                <g id="award" transform="translate(919.706 619.918)">
                  <path id="Caminho_313" data-name="Caminho 313"
                    d="M20.769,2.164,16.588,0,12.407,2.164l-4.655.706L5.643,7.079,2.294,10.386l.767,4.645-.767,4.645,3.349,3.307,2.109,4.209,4.655.706,4.181,2.164L20.769,27.9l4.655-.706,2.109-4.209,3.349-3.307-.767-4.645.767-4.645L27.533,7.079,25.424,2.871Zm3,2.989-3.783-.574L16.588,2.821,13.194,4.579l-3.783.574L7.7,8.573,4.977,11.258,5.6,15.031,4.974,18.8,7.7,21.489l1.714,3.419,3.783.574,3.394,1.759,3.4-1.759,3.78-.574,1.714-3.419L28.2,18.8l-.621-3.773.621-3.773L25.479,8.573Z"
                    fill="#95989a" fill-rule="evenodd" />
                  <path id="Caminho_314" data-name="Caminho 314"
                    d="M4,11.794V22.331l10.021-2.505,10.021,2.505V11.794l-5.055.767-4.965,2.57-4.965-2.57Z"
                    transform="translate(2.568 17.751)" fill="#95989a" />
                </g>
              </g>
            </svg>
            <p>
              <b>Garantia de até 1 ano</b>
              <span>em todas as peças</span>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="ratings-section">
      <h2 class="section-title">Avaliação dos Consumidores</h2>
      <div class="container ratings">
        <div class="ratings__slider">
          <button tabindex="-1" id="rating-prev" data-type="prev" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="17.233" height="32" viewBox="0 0 17.233 32">
              <path id="chevron-left"
                d="M21.371,1.861a1.231,1.231,0,0,1,0,1.743L7.472,17.5l13.9,13.9a1.232,1.232,0,1,1-1.743,1.743L4.861,18.371a1.231,1.231,0,0,1,0-1.743L19.628,1.861a1.231,1.231,0,0,1,1.743,0Z"
                transform="translate(-4.499 -1.499)" fill="#95989a" fill-rule="evenodd" />
            </svg>
          </button>
          <div class="ratings__slider-content">
            <div class="ratings__rating">
              <div class="ratings__rating-image">
                <img src="https://autoglass-cdn.github.io/arquivos/img/home/icone_usuario.png" alt="Gisele Henrique" />
              </div>
              <div class="ratings__rating-stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="ratings__rating-content">
                <h3>Gisele Henrique</h3>
                <p>
                  "Foi tudo bem, muito bem atendida... agradeço o feedback, esse detalhe faz toda a diferença."
                </p>
              </div>
            </div>
            <div class="ratings__rating highlight">
              <div class="ratings__rating-image">
                <img src="https://autoglass-cdn.github.io/arquivos/img/home/icone_usuario.png"
                  alt="Fernando Gomes de Souza" />
              </div>
              <div class="ratings__rating-stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="ratings__rating-content">
                <h3>Fernando Gomes de Souza</h3>
                <p>
                  "Excelente o serviço, top de linha, 5 estrelas pra vocês!"
                </p>
              </div>
            </div>
            <div class="ratings__rating">
              <div class="ratings__rating-image">
                <img src="https://autoglass-cdn.github.io/arquivos/img/home/icone_usuario.png"
                  alt="José Miguel Oliveira" />
              </div>
              <div class="ratings__rating-stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="ratings__rating-content">
                <h3>José Miguel Oliveira</h3>
                <p>
                  "Fui bem atendido, comprei três peças em outro lugar e tive que devolver, com vocês tive toda
                  assistência."
                </p>
              </div>
            </div>
          </div>
          <button tabindex="-1" id="rating-next" data-type="next" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="17.233" height="32" viewBox="0 0 17.233 32">
              <path id="chevron-right"
                d="M4.861,1.861a1.231,1.231,0,0,1,1.743,0L21.371,16.628a1.231,1.231,0,0,1,0,1.743L6.6,33.138A1.232,1.232,0,1,1,4.861,31.4l13.9-13.9L4.861,3.6a1.231,1.231,0,0,1,0-1.743Z"
                transform="translate(-4.499 -1.499)" fill="#95989a" fill-rule="evenodd" />
            </svg>
          </button>
          <ul class="rating-bars"></ul>
        </div>
      </div>
    </section>

    <section class="whys-section">
      <h2 class="section-title">Por que Autoglass é o nome certo para você?</h2>
      <ul class="container">
        <li class="why">
          <div class="why__image">
            <img alt="Segurança e Qualidade"
              src="https://autoglass-cdn.github.io/arquivos/img/home/seguranca_qualidade.png" />
          </div>
          <div class="why__content">
            <h3 class="why__content-title">Segurança e Qualidade</h3>
            <p class="why__content-text">
              Assumimos o compromisso de levar até você um produto de qualidade comprovada. As peças são rigorosamente
              inspecionadas pelo nosso Controle de Qualidade, garantindo o alto padrão de acabamento dos nossos
              produtos.
            </p>
            <a style="display:none" href="#" class="why__content-link">Saiba Mais ></a>
          </div>
        </li>
        <li class="why">
          <div class="why__image">
            <img alt="O melhor atendimento"
              src="https://autoglass-cdn.github.io/arquivos/img/home/o_melhor_atendimento.png" />
          </div>
          <div class="why__content">
            <h3 class="why__content-title">O Melhor Atendimento</h3>
            <p class="why__content-text">
              Nossas equipes de atendimento estão à disposição para encontrar a solução ideal para sua necessidade. Você
              pode ter contato com nosso time por telefone, chat ou WhatsApp. A Autoglass conquistou o primeiro lugar no
              Prêmio Reclame Aqui, o que a destacou como “A Melhor Empresa Para o Consumidor”.
            </p>
            <a style="display:none" href="#" class="why__content-link">Saiba Mais ></a>
          </div>
        </li>
        <li class="why">
          <div class="why__image">
            <img alt="Entrega e Instalação"
              src="https://autoglass-cdn.github.io/arquivos/img/home/entrega_instalacao.png" />
          </div>
          <div class="why__content">
            <h3 class="why__content-title">Praticidade, Comodidade e Agilidade</h3>
            <p class="why__content-text">
              No Autoglass Online você pode escolher entre receber seu pedido em casa, retirar em uma de nossas lojas ou
              instalar com nossa equipe. Com mais de 70 lojas conseguimos entregar seu pedido o mais rápido possível,
              após a confirmação nossa equipe de logística já prepara o envio para expedição por correios ou
              transportadora. Por isso para quem precisa de agilidade o autoglassonline.com.br é a solução.
            </p>
            <a style="display:none" href="#" class="why__content-link">Saiba Mais ></a>
          </div>
        </li>
      </ul>
      <a style="display:none" class="whys__link" href="#">
        Conheça mais a autoglass
      </a>
    </section>

    <section class="chat-section">
      <div class="container">
        <div class="chat__content">
          <p class="chat__content-menssage">
            <span class="chat__content-title">
              Ficou Com Dúvidas?
            </span>
            <span class="chat__content-text">
              Converse conosco pelo nosso atendimento.
            </span>
          </p>
          <a class="chat__content-link gtm-home-abrir-chat-link" onclick="$zopim.livechat.window.show()">
            Abrir Chat
          </a>
        </div>
      </div>
    </section>

    <script src="https://autoglass-cdn.github.io/arquivos/js/home.js"></script>
  </main>


  <!-- Footer -->
  <vtex:template id="prd--footer" />
  <vtex.cmc:prdGoogleMaps />
  <vtex:template id="prd--home--footer" />
  <!-- Footer -->


</body>

</html>