<!-- prd- -atendimento -->
<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
    <head>
        <meta name="robots" content="index, follow" />
        <vtex:metaTags />
        <title><vtex.cmc:productPageTitle /></title>
        <vtex:contentPlaceHolder id="qd_head" />
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous" />
	    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
        <link rel="preconnect" href="https://autoglass-cdn.github.io" crossorigin="anonymous" />
        <link rel="preconnect" href="https://cdn.quatrodigital.com" crossorigin="anonymous" />
        <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin="anonymous" />
        <link rel="preconnect" href="https://reviews.konfidency.com.br" crossorigin="anonymous" />
        <link rel="dns-prefetch" href="//fonts.googleapis.com" />
	    <link rel="dns-prefetch" href="//fonts.gstatic.com" />
	    <link rel="dns-prefetch" href="//autoglass-cdn.github.io" />
        <link rel="dns-prefetch" href="//cdnjs.cloudflare.com" />
        <link rel="dns-prefetch" href="//secure.adnxs.com" />
        <link rel="dns-prefetch" href="//static.zdassets.com" />
        <link rel="dns-prefetch" href="//js.usemessages.com" />
        <link rel="dns-prefetch" href="//js.hubspot.com" />
        <link rel="dns-prefetch" href="//js.hs-analytics.net" />
        <link rel="dns-prefetch" href="//js.hsadspixel.net" />
        <link rel="dns-prefetch" href="//js.hs-banner.com" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            crossorigin="anonymous"
            onload="window.jQueryNew = jQuery.noConflict(true);">
        </script>
        <link rel="shortcut icon" href="/arquivos/autoglass-favicon.ico" />
        <link rel="stylesheet" href="//cdn.quatrodigital.com/autoglass-arquivos/CSS.aut.far.atendimento.css" media="print" onload="this.media='all'" />
        <vtex:template id="prd--head-tags" />
        <vtex:template id="prd--header-styles" />
	    <vtex:template id="prd--footer-styles" />
    </head>

	<body class="institucional" data-qd-scroll-limit="200">
		<div class="common-qd-v1-structure">
			<!-- Header -->
			<vtex:template id="prd--header" />
			<!-- Header -->

			<!-- Conteúdo abaixo do Header -->
			<div class="container">
				<div class="row">
					<div class="banner-qd-v1-responsive img-responsive qd-shelf-xs-12 qd-shelf-sm-6 qd-shelf-md-3"
						data-qd-help="1" data-qd-help-id="Conteúdo abaixo do Header">
						<vtex:contentPlaceHolder id="conteudo_abaixo_do_header" />
					</div>
				</div>
			</div>
			<!-- Conteúdo abaixo do Header -->

			<div class="container">
				<div class="row visible-xs institucional-qd-v1-menu-toggle-wrap">
					<div class="col-xs-10 col-xs-offset-1">
						<a href="#" class="institucional-qd-v1-menu-toggle btn btn-block">Menu Institucional</a>
					</div>
				</div>

				<div class="row">
					<!-- Sidebar -->
					<div class="col-xs-12 col-sm-4 col-md-3 institucional-qd-v1-side-menu-wrap">
						<div class="banner-qd-v1-responsive img-responsive">
							<!-- Conteúdo acima do menu lateral -->
							<vtex:contentPlaceHolder id="conteudo_acima_do_menu_lateral" />
							<!-- Conteúdo acima do menu lateral -->
						</div>

						<div class="institucional-qd-v1-navigator">
							<vtex.cmc:prdInstitucionalMenuLateral />
						</div>

						<div class="banner-qd-v1-responsive img-responsive">
							<!-- Conteúdo abaixo do menu lateral -->
							<vtex:contentPlaceHolder id="conteudo_abaixo_do_menu_lateral" />
							<!-- Conteúdo abaixo do menu lateral -->
						</div>
					</div>
					<!-- Sidebar -->

					<div class="institucional-qd-v1-side-menu-wrap-close"></div>

					<!-- Institutional content -->
					<div class="col-xs-12 col-sm-8 col-md-9">
						<div class="attendance-qd-v1-contact">
							<div class="row">
								<div class="col-xs-12">
									<div class="attendance-qd-v1-contact-title">
										<vtex:contentPlaceHolder id="titulo_central_de_atendimento" />
									</div>
									<vtex:contentPlaceHolder id="descricao_central_de_atendimento" />
								</div>
							</div>

							<div class="row">
								<!-- TELEFONE -->
								<div class="col-xs-12 col-md-6">
									<div class="attendance-qd-v1-contact-phone">
										<div>
											<i class="fa fa-phone"></i>
											<vtex.cmc:prdNumeroTelefone /><br />
										</div>
									</div>
								</div>
								<!-- TELEFONE -->

								<!-- EMAIL -->
								<div class="col-xs-12 col-md-6">
									<div class="attendance-qd-v1-contact-mail">
										<i class="fa fa-envelope"></i>
										<vtex.cmc:prdEnderecoEmail />
									</div>
								</div>
								<!-- EMAIL -->

								<!-- WORKTIME -->
								<div class="col-xs-12">
									<div class="attendance-qd-v1-working-time">
										<vtex.cmc:prdHorarioAtendimento />
									</div>
								</div>
								<!-- WORKTIME -->
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="vtx-placeholder vtx-banners-wrap qd-banner-responsive img-responsive"
										data-qd-help="5" data-qd-help-id="Conteúdo abaixo do hr de atendimento">
										<vtex:contentPlaceHolder id="conteudo_abaixo_do_hr_de_atendimento" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Institutional content -->
				</div>
			</div>

			<!-- Conteúdo acima do Footer -->
			<div class="container">
				<div class="row">
					<div class="banner-qd-v1-responsive img-responsive qd-shelf-xs-12 qd-shelf-sm-6 qd-shelf-md-3"
						data-qd-help="1" data-qd-help-id="Conteúdo abaixo do Carrossel">
						<vtex:contentPlaceHolder id="conteudo_acima_do_footer" />
					</div>
				</div>
			</div>
		</div>
		<!-- Conteúdo acima do Footer -->

		<!-- prd- -body-tags -->
		<vtex:template id="prd--body-tags" />
		<!-- prd- -body-tags -->

		<!-- Footer -->
		<vtex:template id="prd--footer" />
		<!-- Footer -->
		
	</body>
</html>