<!-- prd-sistema-adas -->
<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
	xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
	<vtex:contentPlaceHolder id="qd_head"/>
	<vtex:metaTags />
	<script>
	document.addEventListener("DOMContentLoaded", function () {
    const currentUrl = window.location.href;

    const canonicalUrl = currentUrl.endsWith('/')
        ? currentUrl.slice(0, -1)
        : currentUrl;

    const canonicalLink = document.createElement('link');
    canonicalLink.rel = 'canonical';
    canonicalLink.href = canonicalUrl;

    document.head.appendChild(canonicalLink);
	});
    </script>
	<link rel="stylesheet" href="https://autoglass-cdn.github.io/arquivos/css/legacy/CSS.aut.far.qd-bootstrap-common.css"/>
	<vtex:template id="prd--sistema-adas-head-tags"/>
    <link rel="shortcut icon" href="/arquivos/autoglass-favicon.ico"/>
</head>

<body class="institucional" data-qd-scroll-limit="200">
	<div class="common-qd-v1-structure">
		<!-- Header -->
		<vtex:template id="prd--header-institucional"/>
		<!-- Header -->

		<div class="container">
			<div class="row visible-xs institucional-qd-v1-menu-toggle-wrap">
				<div class="col-xs-10 col-xs-offset-1">
					<a href="#" class="institucional-qd-v1-menu-toggle btn btn-block">Menu Institucional</a>
				</div>
			</div>

			<main class="row">
				<!-- Sidebar -->
				<aside class="col-xs-12 col-sm-4 col-md-3 institucional-qd-v1-side-menu-wrap">
					<div class="institucional-qd-v1-navigator">
						<vtex.cmc:prdInstitucionalMenuLateral/>
					</div>
				</aside>
				<!-- Sidebar -->

				<div class="institucional-qd-v1-side-menu-wrap-close"></div>

				<!-- Institutional content -->
				<div class="col-xs-12 col-sm-8 col-md-9">
					<div class="attendance-qd-v1-contact">
						<div class="row">
							<div class="col-xs-12">
								<vtex:contentPlaceHolder id="descricao_institucional"/>
							</div>
						</div>
					</div>
				</div>
				<!-- Institutional content -->
			</main>
			<script defer="" type="text/javascript" src="/arquivos/removZIndexModalBackDrop.js"></script>
		</div>

		<!-- Footer -->
		<vtex:template id="prd--footer"/>
		<!-- Footer -->
	</div>
</body>

</html>