<!-- prd- -whatsappsocial -->
<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
    lang="en-us"
>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <vtex:metaTags />
        <title>Whatsapp Social - Autoglass</title>
        <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin="anonymous" />
        <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
        <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/></noscript>
        <link rel="shortcut icon" href="/arquivos/autoglass-favicon.ico" />
    </head>
    <body>
        <script
            type="text/javascript"
            language="javascript"
            src="https://autoglass-cdn.github.io/arquivos/js/topo.js"
        ></script>
        <script type="text/javascript" language="javascript">
            ga("create", "UA-133498560-1", "autoglassonline.com.br");
            ga(
                "send",
                "event",
                "WhatsAppSocial",
                "WhatsAppSocial",
                "WhatsAppSocial"
            );
            window.location.href =
                urlWhatsAppApi +
                numeroWhatsAppAG +
                "?text=Olá,%20estou%20vindo%20das%20redes%20sociais.%20Pode%20me%20ajudar?";
        </script>
    </body>
</html>
