/* New Smart Select */
.smart-select-section {
  width: 100%;
}

.smart-select {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.smart-select__header,
.smart-select__main {
  background-color: #1c3162;
}

/* #region Header */

.smart-select__header {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  max-width: 345px;
  width: 100%;
  min-height: 50px;

  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%, 0);

  border-top-right-radius: 75px;
  border-top-left-radius: 75px;
}

.smart-select__header h2 {
  color: white;
  font-size: 24px;
}

/* #endregion Header */

/* #region Main */
.smart-select__main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 50px;
  border-radius: 24px;
  width: 100%;
  max-width: 1110px;
  margin: 0 85px;
}

.smart-select__main > div {
  width: calc(100%/8);
  min-width: 140px;
  height: 50px;
}

.smart-select__main > div.ano {
  max-width: 100px;
  min-width: 100px;
}

.smart-select__main > div + div {
  margin-left: 18px;
}

.smart-select__main > div > div:first-child {
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-size: 18px;
  color: #868686;
  border-radius: 4px;
  padding: 15px;
  cursor: pointer;
  transition: color .2s ease-in-out;
}
.smart-select__main div.empty {
  position: relative;
  cursor: none;
}

.smart-select__main div.empty:hover::before {
  content: 'Preencha os campos anteriores';
  background-color: white;
  color: #1c3162;
  font-size: 14px;

  width: 200px;

  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, 0);

  padding: 5px 10px;
  border-radius: 4px;
}

.smart-select__main div.empty:hover::after {
  content: '';

  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, 0);

  border: 4px solid white;
  transform: rotate(45deg);
}

.smart-select__main > div > div:first-child > span {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.smart-select__main > div > div:hover {
  color: #1c3162;
}

.smart-select__main button {
  background-color: #f07a19;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  height: 50px;
  width: 100%;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .5s ease-in-out;
}

.smart-select__main button:hover {
  background-color: #dd721a;
}
/* #endregion Main */

/* #region Main - Results */
.smart-select__main .smart-select__main-results {
  background: white;
  position: absolute;
  flex-direction: column;
  width: 214px;

  padding: 0;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #A8A8A8;
  z-index: 9;
}

.smart-select__main .smart-select__main-results input {
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #A8A8A8;
}
.smart-select__main .smart-select__main-results ul {
  list-style-type: none;
  overflow: auto;
  max-height: 200px;
}

.smart-select__main .smart-select__main-results ul li {
  font-size: 16px;
  padding: 10px 15px;
  color: #707070;
  cursor: pointer;
  width: inherit;
}
.smart-select__main .smart-select__main-results ul li:hover {
  background-color: #1c3162;
  color:white;
}
/* #endregion Main - Results */
