#shipping-data > div .box-step > p:last-of-type button:not(.go-to-payment) {
  background: darkgray;
  pointer-events: none;
  border: none;
}

#shipping-data .box-step .input.ship-number.required.text:not(.go-to-payment) input {
  border:1px solid #dd4b39;
  background-image: none;
}
