#inform-chassi{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    position: relative;
}

#inform-chassi.invalido::after {
    content: 'Digite os 8 últimos dígitos';
    color: #808080;
}

#inform-chassi.valido::after {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #94CB82;
    position: absolute;
    left: 110px;
    top: 21px;
}

#inform-chassi input{
    width: 130px;
}

body .vtex-omnishipping-1-x-address {
    margin-bottom: 0;
}