<!-- hml-sistema-adas -->
<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
	xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
	<vtex:metaTags />
	<meta name="robots" content="noindex, nofollow" />
	<vtex:contentPlaceHolder id="qd_head"/>
	<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
	<link rel="preconnect" href="https://autoglass-cdn.github.io" crossorigin="anonymous" />
	<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin="anonymous"/>
	<link rel="preconnect" href="https://maxcdn.bootstrapcdn.com/" crossorigin="anonymous" />
    <link rel="preconnect" href="https://reviews.konfidency.com.br/" crossorigin="anonymous" />
	<link rel="dns-prefetch" href="//fonts.googleapis.com" />
	<link rel="dns-prefetch" href="//fonts.gstatic.com" />
	<link rel="dns-prefetch" href="//autoglass-cdn.github.io" />
	<link rel="dns-prefetch" href="//js.usemessages.com" />
	<link rel="dns-prefetch" href="//js.hubspot.com" />
	<link rel="dns-prefetch" href="//js.hs-analytics.net" />
	<link rel="dns-prefetch" href="//js.hsadspixel.net" />
	<link rel="dns-prefetch" href="//js.hs-banner.com" />
	<link rel="shortcut icon" href="/arquivos/autoglass-favicon.ico"/>
	<vtex:template id="hml--sistema-adas-head-tags"/>
	<vtex:template id="hml--header-institucional-styles"/>
	<link rel="stylesheet" href="https://autoglass-cdn.github.io/hml/css/legacy/CSS.aut.far.qd-bootstrap-common.css" type="text/css" />
	<vtex:template id="hml--footer-styles" />
</head>

<body class="institucional" data-qd-scroll-limit="200">
	<div class="common-qd-v1-structure">
		<!-- Header -->
		<vtex:template id="hml--header-institucional"/>
		<!-- Header -->

		<div class="container">
			<div class="row visible-xs institucional-qd-v1-menu-toggle-wrap">
				<div class="col-xs-10 col-xs-offset-1">
					<a href="#" class="institucional-qd-v1-menu-toggle btn btn-block">Menu Institucional</a>
				</div>
			</div>

			<main class="row">
				<!-- Sidebar -->
				<aside class="col-xs-12 col-sm-4 col-md-3 institucional-qd-v1-side-menu-wrap">
					<div class="institucional-qd-v1-navigator">
						<vtex.cmc:hmlInstitucionalMenuLateral/>
					</div>
				</aside>
				<!-- Sidebar -->

				<div class="institucional-qd-v1-side-menu-wrap-close"></div>

				<!-- Institutional content -->
				<div class="col-xs-12 col-sm-8 col-md-9">
					<div class="attendance-qd-v1-contact">
						<div class="row">
							<div class="col-xs-12">
								<vtex:contentPlaceHolder id="descricao_institucional"/>
							</div>
						</div>
					</div>
				</div>
				<!-- Institutional content -->
			</main>
		</div>
	</div>

	<!-- hml- -sistema-adas-body-tags -->
	<vtex:template id="hml--sistema-adas-body-tags"/>
	<!-- hml- -sistema-adas-body-tags -->

	<!-- Footer -->
	<vtex:template id="hml--footer"/>
	<!-- Footer -->

	<script defer="" type="text/javascript" src="/arquivos/removZIndexModalBackDrop.js"></script>

	<script>
		const currentUrl = window.location.href;

		const canonicalUrl = currentUrl.endsWith('/')
			? currentUrl.slice(0, -1)
			: currentUrl;

		const canonicalLink = document.createElement('link');
		canonicalLink.rel = 'canonical';
		canonicalLink.href = canonicalUrl;

		document.head.appendChild(canonicalLink);
    </script>

	<script type="text/javascript">
			$(window).on("load", function () {
			$("#launcher").css("bottom", "0px");
		});
	</script>

	<script>
			const metaDescription = document.querySelector('meta[name="description"]');

			if (metaDescription) {
				metaDescription.setAttribute("content", "Sistema ADAS: entenda como essa tecnologia inteligente otimiza a segurança no trânsito e garanta a calibração perfeita com a Autoglass. Saiba mais!");
			}
	</script>

	<script>
			const metaLanguage = document.querySelector('meta[name="language"]');
		
			if (metaLanguage) {
				metaLanguage.remove();
			};
	</script>

	<script>
	// <![CDATA[
			const observer = new MutationObserver(() => {
			document.querySelectorAll("title").forEach(titleTag => {
				if (titleTag.innerText.trim() === "Institucional – Homologacao") {
					titleTag.remove();
					observer.disconnect();
				};
			});
			});

			observer.observe(document, { childList: true, subtree: true });
	// ]]>
	</script>
</body>

</html>