<!-- hml- -cancelar-carrinho -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us" >
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="robots" content="noindex, nofollow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <vtex:metaTags />
        <title>Autoglass</title>
        <link rel="preconnect" href="https://autoglass-cdn.github.io" crossorigin="anonymous" />
        <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin="anonymous" />
        <link rel="preconnect" href="https://autoglass.vteximg.com.br" crossorigin="anonymous" />
        <link rel="shortcut icon" href="/arquivos/autoglass-favicon.ico" />
        <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
        <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/></noscript>
        <style>
            @keyframes spin {
                to {
                    transform: rotate(360deg);
                }
            }
            .spinners {
                border: 8px solid rgba(0, 0, 0, 0.1);
                border-left-color: #183884;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                animation: spin 1.2s linear infinite;
                margin: 0 auto;
            }
        </style>
    </head>
    <body style="display: block; margin: auto; max-width: 620px">
        <a
            href="https://www.autoglassonline.com.br"
            title="Visitar a Autoglass"
        >
            <img
                class="banner__head"
                src="https://autoglass.vteximg.com.br/arquivos/email-top.png"
                alt=""
                style="height: auto; max-width: 100%"
            />
        </a>

        <div
            class="spinner"
            style="
                width: 100px;
                margin: 60px auto auto auto;
                text-align: center;
            "
        >
            <div class="spinners"></div>
            <p>Enviando</p>
        </div>
        <div
            class="mensagem"
            style="font-family: Open Sans, sans-serif; padding: 10px"
        ></div>
        <div style="text-align: center">
            <img
                style="max-width: 100%"
                width="280px;"
                src="https://autoglass.vteximg.com.br/arquivos/imagem-rodape-template-emails.jpg"
            />
        </div>
        <p
            style="
                color: #909090;
                font-size: 14px;
                font-family: Helvetica, sans-serif;
                width: 100%;
                text-align: center;
                display: block;
                margin-top: 4px;
                margin-bottom: 0px;
                padding-bottom: 4px;
            "
        >
            Autoglass 2025 - todos os direitos reservados. CNPJ:
            16.922.038/0001-51
        </p>
        <script defer="" language="javascript" src="https://autoglass-cdn.github.io/hml/js/cancelar-abandono-carrinho.js" type="text/javascript" ></script>
    </body>    
</html>