<!-- hml-sistema-adas -->
<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
	xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
	<vtex:metaTags />
	<meta name="robots" content="noindex, nofollow" />
	<vtex:contentPlaceHolder id="qd_head"/>
	<link rel="preconnect" href="https://autoglass-cdn.github.io" crossorigin="anonymous" />
	<link rel="shortcut icon" href="/arquivos/autoglass-favicon.ico"/>
	<vtex:template id="hml--sistema-adas-head-tags"/>
	<vtex:template id="hml--header-institucional-styles"/>
	<link rel="stylesheet" href="https://autoglass-cdn.github.io/hml/css/legacy/CSS.aut.far.qd-bootstrap-common.css" type="text/css" />
	<vtex:template id="hml--footer-styles" />
</head>

<body class="institucional" data-qd-scroll-limit="200">
	<div class="common-qd-v1-structure">
		<!-- Header -->
		<vtex:template id="hml--header-institucional"/>
		<!-- Header -->

		<div class="container">
			<div class="row visible-xs institucional-qd-v1-menu-toggle-wrap">
				<div class="col-xs-10 col-xs-offset-1">
					<a href="#" class="institucional-qd-v1-menu-toggle btn btn-block">Menu Institucional</a>
				</div>
			</div>

			<main class="row">
				<!-- Sidebar -->
				<aside class="col-xs-12 col-sm-4 col-md-3 institucional-qd-v1-side-menu-wrap">
					<div class="institucional-qd-v1-navigator">
						<vtex.cmc:hmlInstitucionalMenuLateral/>
					</div>
				</aside>
				<!-- Sidebar -->

				<div class="institucional-qd-v1-side-menu-wrap-close"></div>

				<!-- Institutional content -->
				<div class="col-xs-12 col-sm-8 col-md-9">
					<div class="attendance-qd-v1-contact">
						<div class="row">
							<div class="col-xs-12">
								<vtex:contentPlaceHolder id="descricao_institucional"/>
							</div>
						</div>
						<!-- <div class="row">
							<div class="col-xs-12">
								<div class="vtx-placeholder vtx-banners-wrap qd-banner-responsive img-responsive"
									data-qd-help="5" data-qd-help-id="Conteúdo abaixo do hr de atendimento">
									<vtex:contentPlaceHolder id="conteudo_abaixo_do_hr_de_atendimento"/>
								</div>
							</div>
						</div> -->

						<!-- mosaico de banners -->
						<!-- <div class="container">
							<div class="row">
								<div class="banner-qd-v1-responsive carousel-qd-v1-shelf mosaic-qd-v1-wrapper img-responsive qd-shelf-xs-12 qd-shelf-sm-6 qd-shelf-md-2">
									<vtex:contentPlaceHolder id="mosaico_de_banners"/>
								</div>
							</div>
						</div> -->
						<!-- mosaico de banners  -->
					</div>
				</div>
				<!-- Institutional content -->
			</main>
		</div>
	</div>

	<!-- hml- -sistema-adas-body-tags -->
	<vtex:template id="hml--sistema-adas-body-tags"/>
	<!-- hml- -sistema-adas-body-tags -->

	<!-- Footer -->
	<vtex:template id="hml--footer"/>
	<!-- Footer -->

	<script defer="" type="text/javascript" src="/arquivos/removZIndexModalBackDrop.js"></script>

	<script>
		const currentUrl = window.location.href;

		const canonicalUrl = currentUrl.endsWith('/')
			? currentUrl.slice(0, -1)
			: currentUrl;

		const canonicalLink = document.createElement('link');
		canonicalLink.rel = 'canonical';
		canonicalLink.href = canonicalUrl;

		document.head.appendChild(canonicalLink);
    </script>
	
	<script>
	// <![CDATA[
		function load3rdParty() {
			var urls = [
			"https://secure.adnxs.com/seg?add=26997748&t=1",
			"https://static.zdassets.com/ekr/snippet.js?key=126e916b-310a-4833-a582-4c72f3d0e32c",
			"https://connect.facebook.net/en_US/fbevents.js"
			];
			urls.forEach(src => {
			var s = document.createElement("script");
			s.src = src;
			s.async = true;
			document.body.appendChild(s);
			});
		}

		if ("requestIdleCallback" in window) {
			requestIdleCallback(load3rdParty, { timeout: 3000 });
		} else {
			window.addEventListener("load", () => setTimeout(load3rdParty, 1000));
		}
	// ]]>
	</script>

	<script type="text/javascript">
			$(window).on("load", function () {
			$("#launcher").css("bottom", "0px");
		});
	</script>

	<script>
			const metaDescription = document.querySelector('meta[name="description"]');

			if (metaDescription) {
				metaDescription.setAttribute("content", "Sistema ADAS: entenda como essa tecnologia inteligente otimiza a segurança no trânsito e garanta a calibração perfeita com a Autoglass. Saiba mais!");
			}
	</script>

	<script>
			const metaLanguage = document.querySelector('meta[name="language"]');
		
			if (metaLanguage) {
				metaLanguage.remove();
			};
	</script>

	<script>
	// <![CDATA[
			const observer = new MutationObserver(() => {
			document.querySelectorAll("title").forEach(titleTag => {
				if (titleTag.innerText.trim() === "Institucional – Homologacao") {
					titleTag.remove();
					observer.disconnect();
				};
			});
			});

			observer.observe(document, { childList: true, subtree: true });
	// ]]>
	</script>
	<!-- Facebook Pixel (no final) -->
	<script>
		window.fbq = window.fbq || function(){(fbq.callMethod? fbq.callMethod.apply(fbq,arguments):fbq.queue.push(arguments))};
		fbq.push = fbq; fbq.loaded = !0; fbq.version = '2.0'; fbq.queue = [];
		fbq('init', '674711539752032');
		fbq('track', 'PageView');
	</script>
	<noscript>
	<!-- <![CDATA[ -->
		<img height="1" width="1" src="https://www.facebook.com/tr?id=674711539752032&amp;ev=PageView&amp;noscript=1" />
	<!-- ]]> -->
	</noscript>

</body>

</html>