<!-- hml- -sistema -->
<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" >
    <head>
        <vtex:metaTags />
        <meta name="robots" content="noindex, nofollow" />
        <title><vtex.cmc:productPageTitle /></title>
        <vtex:contentPlaceHolder id="qd_head" />
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous" />
	    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
        <link rel="preconnect" href="https://autoglass-cdn.github.io" crossorigin="anonymous" />
        <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin="anonymous"/>
        <link rel="preconnect" href="https://maxcdn.bootstrapcdn.com" crossorigin="anonymous" />
        <link rel="dns-prefetch" href="//fonts.googleapis.com" />
        <link rel="dns-prefetch" href="//fonts.gstatic.com" />
        <link rel="dns-prefetch" href="//autoglass-cdn.github.io" />
        <link rel="dns-prefetch" href="//cdnjs.cloudflare.com" />
        <link rel="dns-prefetch" href="//secure.adnxs.com" />
        <link rel="dns-prefetch" href="//static.zdassets.com" />
        <link rel="dns-prefetch" href="//js.usemessages.com" />
        <link rel="dns-prefetch" href="//js.hubspot.com" />
        <link rel="dns-prefetch" href="//js.hs-analytics.net" />
        <link rel="dns-prefetch" href="//js.hsadspixel.net" />
        <link rel="dns-prefetch" href="//js.hs-banner.com" />
        <link rel="dns-prefetch" href="//analytics.tiktok.com" />
	    <link rel="dns-prefetch" href="//connect.facebook.net" />
	    <link rel="dns-prefetch" href="//www.facebook.com" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            crossorigin="anonymous"
            onload="window.jQueryNew = jQuery.noConflict(true);">
        </script>
        <vtex:template id="hml--head-tags" />
        <vtex:template id="hml--header-styles" />
        <vtex:template id="hml--busca-fipe-styles" />
        <vtex:template id="hml--footer-styles" />
        <link rel="stylesheet" href="https://autoglass-cdn.github.io/hml/css/legacy/CSS.aut.far.system.css" type="text/css" />
        <style>
            @media (max-width: 500px) {
                #busca-ft-alternative-text + p {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                #busca-ft-alternative-text + p a:last-child {
                    margin-left: 0px !important;
                    margin-top: 20px;
                }
            }
        </style>
    </head>
    <body class="system-404" data-qd-scroll-limit="200">
        <!-- Header -->
        <vtex:template id="hml--header" />
        <!-- Header -->

        <main>
            <div class="common-qd-v1-structure">
                <!-- Conteúdo abaixo do header -->
                <div class="container">
                    <div class="row">
                        <div
                            class="banner-qd-v1-responsive carousel-qd-v1-shelf mosaic-qd-v1-wrapper img-responsive qd-shelf-xs-12 qd-shelf-sm-6 qd-shelf-sm-4"
                        >
                            <vtex:contentPlaceHolder
                                id="conteudo_abaixo_do_header"
                            />
                        </div>
                    </div>
                </div>
                <!-- Conteúdo abaixo do header -->

                <!-- Smart Select -->
                <div>
                    <vtex:template id="hml--busca-fipe" />
                </div>
                <!-- Smart Select -->

                <div class="system-error-qd-v1">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="system-error-qd-v1-wrap">
                                    <vtex:contentPlaceHolder
                                        id="conteudo_da_pagina"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <!-- Banners de Categorias -->
                    <section>
                        <div class="system-error-qd-v1-category-banners">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div
                                        class="banner-qd-v1-responsive carousel-qd-v1-shelf mosaic-qd-v1-wrapper img-responsive qd-shelf-xs-12 qd-shelf-sm-6 qd-shelf-md-2"
                                    >
                                        <vtex:contentPlaceHolder
                                            id="banners_categorias"
                                        />
                                        <a href="/busca" class="btn"
                                            >Ver todos</a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Banners de Categorias -->
                </div>

                <!-- vitrine 1 -->
                <div class="container">
                    <div class="row">
                        <div
                            class="banner-qd-v1-responsive carousel-qd-v1-shelf mosaic-qd-v1-wrapper img-responsive qd-shelf-xs-12 qd-shelf-sm-6 qd-shelf-sm-4"
                        >
                            <vtex:contentPlaceHolder id="vitrine_um" />
                        </div>
                    </div>
                </div>
                <!-- vitrine 1 -->

                <!-- vitrine 2 -->
                <div class="container">
                    <div class="row">
                        <div
                            class="banner-qd-v1-responsive carousel-qd-v1-shelf mosaic-qd-v1-wrapper img-responsive qd-shelf-xs-12 qd-shelf-sm-6 qd-shelf-sm-4"
                        >
                            <vtex:contentPlaceHolder id="vitrine_dois" />
                        </div>
                    </div>
                </div>
                <!-- vitrine 2 -->
            </div>
        </main>

        <!-- hml- -body-tags -->
        <vtex:template id="hml--body-tags" />
        <!-- hml- -body-tags -->

        <!-- Footer -->
        <vtex:template id="hml--footer" />
        <!-- Footer -->
        <vtex.cmc:hmlGoogleMaps />

        <script defer="" src="https://autoglass-cdn.github.io/hml/js/busca-fipe.js" type="text/javascript"></script>
    </body>
</html>