<!-- hml- -busca -->
<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
	xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
<head>
    <script defer="" src="https://autoglass-cdn.github.io/hml/js/google-tag-manager.js" type="text/javascript"></script>
	<vtex:contentPlaceHolder id="qd_head_tag" />
	<meta charset="UTF-8" />
	<meta name="robots" content="noindex, nofollow">
	<title>
		<vtex.cmc:productPageTitle />
	</title>
    <vtex:template id="hml--busca--head-tags" />
	<vtex:metaTags />

    <script defer="" src="https://autoglass-cdn.github.io/hml/js/B2C-02-detalhe-produto.js" type="text/javascript"></script>
	<script defer="" src="https://autoglass-cdn.github.io/hml/js/B2C-02-filtro-busca.js" type="text/javascript"></script>
	<script defer="" src="https://autoglass-cdn.github.io/hml/js/busca/load-optionals.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://autoglass-cdn.github.io/hml/css/busca/load-optionals.css" type="text/css" />

    <link rel="shortcut icon" href="/arquivos/autoglass-favicon.ico" />
    <link rel="preload" as="style" href="https://autoglass-cdn.github.io/hml/css/legacy/CSS.aut.far.search.css" onload="this.rel='stylesheet'" />
	<link rel="preload" as="style" href="https://autoglass-cdn.github.io/hml/css/filtro-veiculos.css" onload="this.rel='stylesheet'" />
    <link rel="stylesheet" href="https://autoglass-cdn.github.io/hml/css/busca/compatibilidade-veiculo.css" type="text/css" />
</head>

<body class="resultado-busca">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WVLJKFR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
	<!-- Header -->
    <vtex:template id="hml--header" />
	<!-- Header -->

	<!-- Main Content -->
	<main>
		<section class="common-qd-v1-structure">
			<section>
				<!-- Full banner -->
				<section class="search-qd-v1-full-banner">
					<section class="container-fluid">
						<section class="row">
							<section class="col-xs-12">
								<figure
									class="banner-qd-v1-responsive img-responsive qd-shelf-xs-12 qd-shelf-sm-6 qd-shelf-sm-4">
									<vtex:contentPlaceHolder id="banner_full_no_topo_da_pagina" />
								</figure>
							</section>
						</section>
					</section>
				</section>
				<!-- Full banner -->

				<!-- Smart Select -->
				<nav id="div-busca">
				    <vtex:template id="hml--busca-fipe" />
				</nav>
                <!-- Smart Select -->

				<!-- Bredcrumb -->
				<section class="container">
					<section class="row">
						<section class="col-xs-12">
							<nav class="breadcrumb-qd-v1">
								<vtex.cmc:breadCrumb />
							</nav>
						</section>
					</section>
				</section>
				<!-- Bredcrumb -->

				<section class="container">
					<div class="row">
						<aside>
							<section class="col-xs-12 col-lg-3">
								<section class='container-titulo-lateral-prateleira'>
									<h1 class='titulo-lateral-prateleira'></h1>
									<section class="div-compatibilidade">
										<span class="texto-compatibilidade">Verificar Compatibilidade:</span>
										<form id="form-busca-placa-compatibilidade" action="#">
											<div class="input-container">
												<input
													type="text"
													name="placa-input"
													id="placa-input-compatibilidade"
													placeholder="Digite a sua placa"
												/>
												<button
													id="btn-busca-placa-compatibilidade"
													class="c-botao c-botao--primary"
													type="submit">
													BUSCAR
												</button>
											</div>
										</form>
									</section>
									<section class="tag" style="display: none;">
										<span class="texto-placa"></span>
										<button class="botao-placa" type="button">X</button>
									</section>
									<section>
										<span class="carro-compativel"></span>
									</section>
								</section>
								<nav class="search-qd-v1-navigator">
									<a class="search-qd-v1-navigator-trigger" href="#" role="button">Filtrar resultado</a>
									<div class="search-qd-v1-navigator-list">
										<button class="search-qd-v1-navigator-exit">×</button>
										<h2 class="search-qd-v1-navigator-title">Filtrar Resultados</h2>

										<!-- Filtered -->
										<section class="search-qd-v1-navigator-research-filtered"></section>
										<!-- // Filtered -->

										<!-- Smart Research -->
										<section class="search-qd-v1-navigator-research">
											<!-- searchNavigator -->
											<vtex.cmc:searchNavigator />
											<!-- // searchNavigator -->
										</section>
										<!-- // Smart Research -->

										<!-- Mobile Filter Button -->
										<section class="wrapper-search-qd-v1-navigator-mobile-results">
											<div class="search-qd-v1-navigator-mobile-results">
												<button>Ver Resultados</button>
											</div>
										</section>
										<!-- // Mobile Filter Button -->
									</div>
								</nav>

								<script>
									$(document).ready(function(){
									  var textoParaH1 = $(".search-qd-v1-navigator .search-qd-v1-navigator-list .search-single-navigator h3").text();
									  $(".titulo-lateral-prateleira").text(textoParaH1);
									});
								</script>

								<script>
									$(document).ready(function(){
									  var textoParaH1 = $("title").text();
									  $(".titulo-lateral-prateleira").text(textoParaH1);
									});
								</script>

								<!-- Side banners -->
								<section class="search-qd-v1-side-banners">
									<nav class="banner-qd-v1-responsive carousel-qd-v1-shelf img-responsive qd-shelf-xs-12 qd-shelf-sm-6 qd-shelf-sm-4">
										<vtex:contentPlaceHolder id="banners_do_menu_lateral" />
									</nav>
								</section>
								<!-- Side banners -->
							</section>
						</aside>

						<section class="col-xs-12 col-lg-9">
							<section class="row">
								<section class="search-qd-v1-result qd-shelf-xs-6 qd-shelf-lg-4">
									<vtex.cmc:searchResult layout="82ece3a5-14a4-4f40-97fb-5dcc47037fcb" itemCount="24" columnCount="1" orderBy="OrderByScoreDESC" />
									<!-- hml- -busca- -prateleira -->
								</section>
							</section>

							<!-- SEO Text -->
							<section class="row">
								<section class="col-xs-12">
									<article class="search-qd-v1-seo-text">
										<div class="h1 h2 h3 h4 h5 h6 p ul dl">
											<vtex:contentPlaceHolder id="texto_SEO_para_melhor_indexacao" />
										</div>
									</article>
								</section>
							</section>
							<!-- SEO Text -->
						</section>
					</div>
				</section>
			</section>
		</section>
	</main>
	<!-- Main Content -->

	<!-- Footer -->
    <vtex:template id="hml--footer" />
    <!--<vtex.cmc:hmlGoogleMaps />-->
	<!-- Footer -->
</body>
</html>