<!-- hml- -account -->
<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
<head>
	<vtex:contentPlaceHolder id="qd_head" />
	<title><vtex.cmc:productPageTitle /></title>
 <vtex:template id="hml--head-tags" />
    <meta name="robots" content="noindex, nofollow" />
	<vtex:metaTags />
	<link rel="stylesheet" href="https://autoglass-cdn.github.io/hml/css/policies/header.css" type="text/css" />
    <link rel="stylesheet" href="https://autoglass-cdn.github.io/hml/css/policies/secao-pesquisa.css" type="text/css"/>
	<link rel="stylesheet" href="//cdn.quatrodigital.com/autoglass-hml/CSS.aut.far.account.css" type="text/css" />
	<link rel="stylesheet" href="/hml/qd-bootstrap.2.3.2.css" type="text/css" />
</head>
<body class="account" data-qd-scroll-limit="200">
	<!-- Header -->
<vtex:template id="hml--header" />
	<!-- Header -->

	<main>
		<div class="common-qd-v1-structure">

			<div class="container">
				<div class="row">

					<!-- Institutional content -->
					<div class="col-xs-12">
						<div class="bootstrap2-3-2 account-qd-v1-modal">
							<div class="row-fluid">
								<div class="account-qd-v1-accountUserProfile">
									<!-- accountUserProfile -->
									<vtex.cmc:accountUserProfile />
									<!-- accountUserProfile -->
								</div>
							</div>
						</div>
					</div>
					<!-- Institutional content -->

				</div>
			</div>

		</div>
	</main>

	<!-- Footer -->
	<vtex:template id="hml--footer" />
	    <vtex.cmc:prdGoogleMaps />
	<!-- Footer -->
</body>
</html>
