<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
      xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
<head>
  <script defer="" src="https://autoglass-cdn.github.io/hml/js/google-tag-manager.js" type="text/javascript"></script>
  <vtex:contentPlaceHolder id="qd_head_tag" />
  <meta charset="UTF-8" />
  <vtex:template id="hml--busca--head-tags" />
  <link rel="stylesheet" href="https://autoglass-cdn.github.io/hml/css/policies/header.css" type="text/css" as="style" />
  <link rel="stylesheet" href="https://autoglass-cdn.github.io/hml/css/policies/secao-pesquisa.css"
 type="text/css" as="style" />
  <link rel="stylesheet" href="https://autoglass-cdn.github.io/hml/css/topo.css" type="text/css" as="style" />
  <link rel="shortcut icon" href="/arquivos/autoglass-favicon.ico" />
</head>
<body>
  <vtex:template id="hml--header" />
  <vtex:template id="hml--busca-fipe" />
  <!-- Container onde a Beon injetará os resultados -->
  <div id="search-container" style="min-height: 100px;"></div>

  <vtex:template id="hml--footer" />

</body>
</html>