<!-- hml- -whatsapp -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="robots" content="noindex, nofollow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Autoglass - Peças automotivas quebradas? Clique e fale com um especialista agora e tenha tudo o que você precisa!" />
  <vtex:metaTags />
  <title>Autoglass - Atendimento Humanizado via WhatsApp</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
  <link rel="preconnect" href="https://autoglass-cdn.github.io" crossorigin="anonymous" />
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin="anonymous" />
  <link rel="dns-prefetch" href="//fonts.googleapis.com" />
  <link rel="dns-prefetch" href="//fonts.gstatic.com" />
  <link rel="dns-prefetch" href="//autoglass-cdn.github.io" />
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
  <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/></noscript>
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0" as="font" type="font/woff2" crossorigin="anonymous"/>
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
  <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/></noscript>
  <link rel="shortcut icon" href="/arquivos/autoglass-favicon.ico" />
</head>
<body>
  <script defer="" type="text/javascript" language="javascript" src="https://autoglass-cdn.github.io/hml/js/topo.js"></script>

  <script>
    function redirecionarParaWhatsApp() {
      const phoneNumber = "552732032540";
      const whatsappUrl = `https://api.whatsapp.com/send/?phone=${phoneNumber}`;
      window.location.href = whatsappUrl;
    }
  </script>

  <script type="text/javascript" language="javascript">
    window.location.href = urlWhatsAppApi + numeroWhatsAppAG + "?text=Olá,%20venho%20através%20do%20Google%20e%20desejo%20falar%20com%20um%20especialista";
  </script>
</body>
</html>