/* HELPERS */
html {
  overflow-x: hidden !important;
}

.c-busca .h-flex {
  display: flex;
  flex-direction: column;
}
.l-container {
  background-color: #fafafa;
}
/* MOBILE */
.c-busca {
  --active-bg-color: #ffffff; /* #234eb9 */
  --primary: #43c452;
  --primary-darker: #33a140;
  margin: 10px;
  position: relative;
}
@media screen and (max-width: 1366px) {
  body.home .c-busca {
    margin: 0.8% 0.8% 0.8% 13%;
  }
}
@media (max-width: 1024px) {
  .l-container {
    display: none;
  }
}
.c-busca__tab-icon {
  margin-right: 8px;
  opacity: 0.9;
}
/* #endregion TABS */
/* #region TAB CONTAINER */
.c-busca .c-busca__tabs-content {
  display: flex;
  justify-content: flex-start;
  color: white;
  position: relative;
}
.c-busca .c-busca__tab-content {
  padding: 10px;
  display: none;
}
.c-busca .c-busca__tab-content.is-active {
  display: block;
  background-color: var(--active-bg-color);
  border-radius: 10px;
}
.c-busca .c-busca__tab-content:first-child.is-active {
  border-top-left-radius: 0;
}
.c-busca .c-busca__tab-content:last-child.is-active {
  border-top-right-radius: 0;
}
@media screen and (max-width: 1024px) {
  /* #form-busca-peca-mobile .h-flex {
    padding-bottom: 60px;
  } */

  .c-busca__tabs-content-mobile .smart-select__main-results {
    padding-top: 30px;
  }

  .c-busca__select {
    padding-top: 25px;
    padding-left: 19px;
    font-weight: 700;
    font-size: larger;
    border-bottom: 1px solid #ccc;
  }

  #busca-peca-mobile .c-busca__select {
    padding-bottom: 25px;
  }

  .gtm-smart-categoria-select i {
    padding-left: 150px;
  }
}

.c-busca .c-busca__input,
.c-busca .c-busca__select,
.c-busca .c-busca__botao {
  margin: 8px;
  position: relative;
  display: block;
  width: 25%;
  border-radius: 10px;
}

.c-busca .c-busca__botao {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  height: 40px;
}

.c-busca .c-busca__select.tipo-peca {
  padding-top: 2%;
  padding-bottom: 2%;
}

#busca-placa {
  width: 70%;
  padding: 2%;
}

.c-busca .c-busca__select span {
  white-space: nowrap;
  padding-right: 5px;
}

.c-busca .c-busca__input input,
.c-busca .c-busca__select select,
.c-busca .c-busca__botao button,
.c-busca .c-busca__select div > div:first-child {
  padding: 15px;
  border-radius: 10px;
  border: none;
}
.c-busca .c-busca__input input {
  color: rgba(0, 0, 0, 0.87);
}
.c-busca .c-busca__select div > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #a8a8a8;
  cursor: pointer;
  border: 1px solid #dbdbdb;
  height: 40px;
}
#pecas-select-desktop{
  border-radius: 10px;
}

@media screen and (min-width: 1025px) {
   .c-busca__tab-content .smart-select__main-results {
    background: #f1f1f1f1;
    position: absolute;
    padding: 0;
    border-radius: 15px;
    z-index: 7;
    left: 0;
    right: 0;
    top: 54px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
  }
  .c-busca__tabs-content .tipo-peca .smart-select__main-results {
    background: #f1f1f1f1;
    position: absolute;
    padding: 0;
    border-radius: 15px;
    z-index: 5;
    right: 0;
    top: 85px;
    width: 100%;
    overflow: hidden;
  }
  #peca-input {
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #a8a8a8; 
    width: calc(100% - 20px);
    color: rgba(0, 0, 0, 0.87);
  }
  .c-busca__tabs-content .tipo-peca .smart-select__main-results ul {
    list-style-type: none;
    overflow-y: auto;
    max-height: 200px;
    padding: 0;
    width: 100%;
    display: block;
  }
  .c-busca__tabs-content .tipo-peca .smart-select__main-results ul li {
    font-size: 14px;
    padding: 10px 15px;
    color: #707070;
    cursor: pointer;
    width: inherit;
  }
  .c-busca__tabs-content .tipo-peca .smart-select__main-results ul li.highlight {
    background-color: #234eb9;
    color: white;
  }
  .c-busca__tabs-content .tipo-peca .smart-select__main-results {
    top: 80px;
  }
  body.departamento .c-busca__tabs-content .tipo-peca .smart-select__main-results,
  body.categoria .c-busca__tabs-content .tipo-peca .smart-select__main-results,
  body.busca .c-busca__tabs-content .tipo-peca .smart-select__main-results,
  body.busca-beonly .c-busca__tabs-content .tipo-peca .smart-select__main-results {
    top: 90px;
  }
  .c-busca__tab-content .smart-select__main-results {
    top: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .smart-select__main-results i {
    color: #7f7f7f;
    font-size: smaller;
    padding-top: 4.5%;
    margin-left: -10px;
  }

  .gtm-smart-peca-select i {
    padding-left: 154px;
  }

  .gtm-smart-montadora-select i {
    padding-left: 114px;
  }

  .gtm-smart-veiculo-select i {
    padding-left: 99px;
  }

  .gtm-smart-ano-select i {
    padding-left: 234px;
  }

  .gtm-smart-versao-select i {
    padding-left: 62px;
  }
}
@media (max-width: 1550px) {
  .c-busca__tab-content div.empty:hover::before {
    content: "Preencha os campos anteriores";
    background-color: eef2f8;
    border-radius: 4px;
    bottom: -30px;
    color: #1c3162;
    font-size: 13px;
    font-weight: bold;
    height: auto;
    left: 50%;
    position: absolute;
    padding: 7px 10px;
    text-align: center;
    transform: translate(-50%, 0);
    width: 230px;
    z-index: 8;
  }
}
.c-busca__tab-content-mobile div.empty:hover::before {
  content: "Preencha os campos anteriores";
  background-color: white;
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
  border-radius: 4px;
  color: #1c3162;
  font-size: 13px;
  font-weight: bold;
  height: auto;
  position: absolute;
  text-align: center;
  transform: translate(-50%, 0);
  width: 230px;
  z-index: 8;
  margin-left: 43%;
  margin-top: 10%;
}
.c-busca__tab-content-mobile div.empty:hover::after {
  content: "";
  background-color: white;
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  z-index: 1;
}
@media screen and (min-width: 1600px) {
  .c-busca__tab-content div.empty:hover::before {
    content: "Preencha os campos anteriores";
    background-color: eef2f8;
    border-radius: 4px;
    bottom: -30px;
    color: #1c3162;
    font-size: 13px;
    font-weight: bold;
    height: auto;
    left: 50%;
    position: absolute;
    padding: 7px 10px;
    text-align: center;
    transform: translate(-50%, 0);
    width: 230px;
    z-index: 8;
  }
  .c-busca__tab-content div.empty:hover::after {
    content: "";
    background-color: white;
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    z-index: 9;
  }
  .btn-fechar-categoria {
    background-color: transparent;
    color: #0b4583;
    border: transparent;
    padding-left: 96%;
    font-size: 15px;
  }
}
@media (max-width: 1550px) {
  .c-busca__tab-content div.empty:hover::after {
    content: "";
    background-color: white;
    position: absolute;
    left: 50%;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    z-index: 9;
  }
  .btn-fechar-categoria {
    background-color: transparent;
    color: #0b4583;
    border: transparent;
    padding-left: 94%;
    font-size: 15px;
  }
}
@media (min-width: 1025px) {
  .c-busca__tab-content .smart-select__main-results input {
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #a8a8a8;
    width: calc(100% - 20px);
    color: rgba(0, 0, 0, 0.87);
  }
  .c-busca__tab-content .smart-select__main-results ul {
    list-style-type: none;
    overflow-y: auto;
    max-height: 200px;
    padding: 0;
    width: 100%;
    display: block;
  }
  .c-busca__tab-content .smart-select__main-results ul li {
    font-size: 14px;
    padding: 10px 15px;
    color: #707070;
    cursor: pointer;
    width: inherit;
  }
  .c-busca__tab-content .smart-select__main-results ul li.highlight {
    background-color: #234eb9;
    color: white;
  }
  .c-busca__tab-content .smart-select__main-results {
    width: 100%;
    max-width: unset;
  }
}
@media (max-width: 1024px) {
  #categoria-input-mobile {
    display: flex;
    width: 91%;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    text-align: left;
    margin-right: -21px;
    margin-bottom: 23px;
    font-weight: 500;
    padding: 10px;
  }

  #peca-input-mobile {
    display: flex;
    width: 91%;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    text-align: left;
    margin-right: -21px;
    margin-bottom: 23px;
    font-weight: 500;
    padding: 10px;
  }

  #montadora-input-mobile {
    display: flex;
    width: 91%;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    text-align: left;
    margin-right: -21px;
    margin-bottom: 23px;
    font-weight: 500;
    padding: 10px;
  }

  #veiculo-input-mobile {
    display: flex;
    width: 91%;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    text-align: left;
    margin-right: -21px;
    margin-bottom: 23px;
    font-weight: 500;
    padding: 10px;
  }

  #ano-input-mobile {
    display: flex;
    width: 91%;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    text-align: left;
    margin-right: -21px;
    margin-bottom: 23px;
    font-weight: 500;
    padding: 10px;
  }

  #versao-input-mobile {
    display: flex;
    width: 91%;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    text-align: left;
    margin-right: -21px;
    margin-bottom: 23px;
    font-weight: 500;
    padding: 10px;
  }
}
.c-busca .smart-select__modal {
  display: none;
}
.loader-modal--show {
  cursor: not-allowed;
}
.c-busca .smart-select__modal.loader-modal--show {
  position: absolute;
  border-radius: 10px;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff70;
}
.smart-select__main-results.loader-modal--show::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background-color: #ffffff70;
}
.c-busca .smart-select__modal.loader-modal--show .smart-select__modal__spinner {
  animation: spinner 2s linear infinite;
  color: #0b4583;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.c-busca .smart-select__modal .smart-select__modal__spinner {
  border: 8px solid #183884;
  border-top: 8px solid var(--active-bg-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  z-index: 10;
}
.c-botao--primary {
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}
.c-botao--primary:hover {
  background-color: var(--primary-darker);
}
#busca-placa  .c-busca__input {
  display: flex;
  align-items: center;
}
#busca-placa  .c-busca__input img:first-child {
  position: absolute;
  padding-left: 2%;
}
#busca-placa  .c-busca__input img:last-child {
  position: absolute;
  left: 90%;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  #busca-placa  .c-busca__input {
    width: 30%;
  }
  #placa-input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    text-align: center;
  }
  #busca-placa span {
    color: #a8a8a8;
  }
  #busca-placa .h-flex {
    /* justify-content: space-between; */
    margin-right: 0px;
  }
  #busca-peca {
    width: 70%;
    padding: 2%;
  }
  #busca-peca .h-flex {
    margin-right: 0px;
    justify-content: flex-start;
  }
  .c-busca .h-flex {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 55px;
  }
  .c-busca #busca-placa {
    background-color: inherit;
  }
  .c-busca .c-busca__botao {
    /* position: absolute; */
    top: 23%;
    /* left: 87%; */
  }
}

@media screen and (min-width: 900px) and (max-width: 1366px) {
  .c-busca .c-busca__select.tipo-peca {
    width: 13%;
  }
  .c-busca__tabs-content .tipo-peca .smart-select__main-results {
    left: 5%;
    width: 90%;
    top: 70px;
  }
  .c-busca__tab-content .smart-select__main-results {
    top: 40px;
  }
   #select-versao-fipe-desktop {
    width: 24%;
  }
}

@media screen and (max-width: 1024px) {
  .c-busca__tab-content-mobile {
    display: none;
  }
  .c-busca__tab-content-mobile.is-active {
    display: block;
  }
  #placa-input-mobile {
    width: 85%;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    text-align: left;
    margin-left: 6%;
    margin-top: 23px;
    margin-right: 0px;
    padding: 10px;
  }
  .c-busca__input {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 25px;
  }
  .c-busca__input i {
    margin-left: -30px;
    color: #7f7f7f;
  }
  #categoria-input-mobile::placeholder {
    color: #7f7f7f;
  }
  #categoria-input-mobile:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #7f7f7f;
  }
  #peca-input-mobile::placeholder {
    color: #7f7f7f;
  }

  #peca-input-mobile:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #7f7f7f;
  }

  #montadora-input-mobile::placeholder {
    color: #7f7f7f;
  }

  #montadora-input-mobile:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #7f7f7f;
  }

  #veiculo-input-mobile::placeholder {
    color: #7f7f7f;
  }

  #veiculo-input-mobile:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #7f7f7f;
  }

  #ano-input-mobile::placeholder {
    color: #7f7f7f;
  }

  #ano-input-mobile:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #7f7f7f;
  }

  #versao-input-mobile::placeholder {
    color: #7f7f7f;
  }

  #versao-input-mobile:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #7f7f7f;
  }

  .div-input-busca-mobile {
    display: flex;
  }

  .smart-select__main-results ul {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: 15px;
    height: auto;
    max-height: 100%;
  }

  .smart-select__main-results ul::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }

  .smart-select__main-results ul::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 4px;
  }

  .smart-select__main-results ul::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }

  .smart-select__main-results::-webkit-scrollbar:vertical {
    display: block;
  }

  .busca-options {
    display: flex;
    line-height: 150%;
    align-items: center;
  }

  .input-busca-options {
    display: flex;
    width: 22px;
    height: 25px;
    margin-right: 10px;
    border-radius: 1px;
  }

  .input-busca-options[type="radio"] {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
  }

  .input-busca-options[type="radio"]:checked {
    border-color: #f38e1a;
    background-color: #f38e1a;
  }

  .input-busca-options[type="radio"]:checked::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    transform: translate(51%, 54%);
  }

  .busca-options li {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    cursor: pointer;
    align-items: center;
  }

  #placa-input-mobile::placeholder {
    color: #7f7f7f;
    padding: 10px 0px 10px -10px;
  }

  #placa-input-mobile:focus {
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #7f7f7f;
  }
  #categoria-select {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1025px) {
  .c-busca .c-busca__select {
    width: 18%;
    margin: 8px 4px;
  }
  body.departamento .c-busca .c-busca__select,
  body.categoria .c-busca .c-busca__select,
  body.produto .c-busca .c-busca__select,
  body.busca .c-busca .c-busca__select,
  body.busca-beonly .c-busca .c-busca__select {
    width: 15%;
  }
  .c-busca .c-busca__select div > div:first-child {
    background-color: #ffffff;
    padding: 15px 10px;
  }
  .c-busca .c-busca__select span {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #busca-placa .c-busca__input {
    width: 50%;
  }
  #busca-placa {
    padding: 2% 1%;
  }
  #busca-peca {
    background-color: inherit;
    padding: 2% 1% 1% 0;
  }
  body.departamento .c-busca .c-busca__select.tipo-peca,
  body.categoria .c-busca .c-busca__select.tipo-peca,
  body.produto .c-busca .c-busca__select.tipo-peca,
  body.busca .c-busca .c-busca__select.tipo-peca,
  body.busca-beonly .c-busca .c-busca__select.tipo-peca {
    width: 10%;
  }
}
@media screen and (min-width: 1600px) {
  .c-busca__tabs-content {
    left: 10%;
  }
  .c-busca .c-busca__select.tipo-peca {
    width: 15%;
  }
  #busca-placa .c-busca__input {
    width: 30%;
    margin-left: 40px;
    margin-right: 50px;
  }
  body.departamento #busca-placa .c-busca__input,
  body.categoria #busca-placa .c-busca__input,
  body.produto #busca-placa .c-busca__input,
  body.busca #busca-placa .c-busca__input,
  body.busca-beonly #busca-placa .c-busca__input {
    margin-left: 0;
  }
  .c-busca {
    margin: 0 0;
  }
  .c-busca__tabs-content .c-busca__select {
    width: 15%;
    margin: 10px;
  }
  #div-busca #pecas-select-desktop,
  #div-busca .h-flex .c-busca__select {
     background-color: #ffffff;
  }
  #div-busca .c-busca__tabs,
  #div-busca #busca-peca,
  #div-busca #busca-placa {
    background-color: inherit;
  }
  .c-busca .c-busca__tab-content:first-child.is-active {
    border-top-right-radius: 0;
  }
  .c-busca .c-busca__tab-content:last-child.is-active {
    border-top-left-radius: 0;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1150px) {
  body.departamento .c-busca .c-busca__botao,
  body.categoria .c-busca .c-busca__botao,
  body.produto .c-busca .c-busca__botao,
  body.busca .c-busca .c-busca__botao,
  body.busca-beonly .c-busca .c-busca__botao {
    top: 20%;
    /* left: 80%; */
  }
}
@media screen and (min-width: 1151px) and (max-width: 1280px) {
  body.departamento .c-busca .c-busca__botao,
  body.categoria .c-busca .c-busca__botao,
  body.produto .c-busca .c-busca__botao,
  body.busca .c-busca .c-busca__botao,
  body.busca-beonly .c-busca .c-busca__botao {
    top: 22%;
    /* left: 78%; */
  }
}
@media screen and (min-width: 1281px) and (max-width: 1366px) {
  body.departamento .c-busca .c-busca__botao,
  body.categoria .c-busca .c-busca__botao,
  body.produto .c-busca .c-busca__botao,
  body.busca .c-busca .c-busca__botao,
  body.busca-beonly .c-busca .c-busca__botao {
    top: 23%;
    /* left: 76%; */
  }
}
@media screen and (min-width: 1367px) and (max-width: 1400px) {
  body.departamento .c-busca .c-busca__botao,
  body.categoria .c-busca .c-busca__botao,
  body.produto .c-busca .c-busca__botao,
  body.busca .c-busca .c-busca__botao,
  body.busca-beonly .c-busca .c-busca__botao {
    /* left: 67%; */
    top: 25%;
  }
}
@media screen and (min-width: 1401px) and (max-width: 1500px) {
  body.departamento .c-busca .c-busca__botao,
  body.categoria .c-busca .c-busca__botao,
  body.produto .c-busca .c-busca__botao,
  body.busca .c-busca .c-busca__botao,
  body.busca-beonly .c-busca .c-busca__botao {
    /* left: 66%; */
    top: 25%;
  }
}
@media screen and (min-width: 1501px) and (max-width: 1599px) {
  body.departamento .c-busca .c-busca__botao,
  body.categoria .c-busca .c-busca__botao,
  body.produto .c-busca .c-busca__botao,
  body.busca .c-busca .c-busca__botao,
  body.busca-beonly .c-busca .c-busca__botao {
    /* left: 65%; */
    top: 25%;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1700px) {
  body.departamento .c-busca .c-busca__botao,
  body.categoria .c-busca .c-busca__botao,
  body.produto .c-busca .c-busca__botao,
  body.busca .c-busca .c-busca__botao,
  body.busca-beonly .c-busca .c-busca__botao {
    /* left: 68%; */
    top: 27%;
  }
}
@media screen and (min-width: 1701px) and (max-width: 1750px) {
  body.departamento .c-busca .c-busca__botao,
  body.categoria .c-busca .c-busca__botao,
  body.produto .c-busca .c-busca__botao,
  body.busca .c-busca .c-busca__botao,
  body.busca-beonly .c-busca .c-busca__botao {
    /* left: 66.5%; */
    top: 28%;
  }
}
@media screen and (min-width: 1751px) and (max-width: 1920px) {
  body.departamento .c-busca .c-busca__botao,
  body.categoria .c-busca .c-busca__botao,
  body.produto .c-busca .c-busca__botao,
  body.busca .c-busca .c-busca__botao,
  body.busca-beonly .c-busca .c-busca__botao {
    /* left: 66%; */
    top: 29%;
  }
}
/* @media screen and (min-width: 1600px) and (max-width: 1920px) {
  .c-busca .c-busca__botao {
    left: 73%;
  }
} */
@media screen and (min-width: 1367px) and (max-width: 1920px) {
  .c-busca .c-busca__tabs-content {
    left: 10.5%;
  }
  body.departamento .c-busca .c-busca__tabs-content,
  body.categoria .c-busca .c-busca__tabs-content,
  body.produto .c-busca .c-busca__tabs-content,
  body.busca .c-busca .c-busca__tabs-content,
  body.busca-beonly .c-busca .c-busca__tabs-content {
    left: 13%;
  }
  .l-container .c-busca .menu-secao-pesquisa{
    padding-left: 10.5%;
    top: -14%;
  }
  body.departamento .l-container .c-busca .menu-secao-pesquisa,
  body.categoria .l-container .c-busca .menu-secao-pesquisa,
  body.produto .l-container .c-busca .menu-secao-pesquisa,
  body.busca .l-container .c-busca .menu-secao-pesquisa,
  body.busca-beonly .l-container .c-busca .menu-secao-pesquisa {
    padding-left: 13%;
    top: 10%;
  }
}
@media screen and (min-width: 1367px) {
  .c-busca .c-busca__botao {
    top: 26%;
  }
}
/* @media screen and (min-width: 1367px) and (max-width: 1599px) {
  .c-busca .c-busca__botao {
    left: 82%;
  }
} */
@media screen and (min-width: 1600px) {
  .c-busca .c-busca__botao {
    top: 29%;
  }
}
@media screen and (min-width: 1921px) {
  .c-busca__tabs-content {
    left: 10%;
  }
  body.departamento .c-busca__tabs-content,
  body.categoria .c-busca__tabs-content,
  body.produto .c-busca__tabs-content,
  body.busca .c-busca__tabs-content,
  body.busca-beonly .c-busca__tabs-content {
    left: 15.5%;
  }
  /* .c-busca .c-busca__botao {
    left: 71%;
  } */
  body.departamento .c-busca .c-busca__botao,
  body.categoria .c-busca .c-busca__botao,
  body.produto .c-busca .c-busca__botao,
  body.busca .c-busca .c-busca__botao,
  body.busca-beonly .c-busca .c-busca__botao {
    /* left: 65%; */
    top: 31%;
  }
}
.secao-busca {
  width: 100%;
  box-shadow: 0 5px 7px -5px #9fa9b7;
}
.c-busca__tabs-content .search-options {
  width: 170px;
}
#placa-input::placeholder {
  color: #a8a8a8;
  padding: 10px 0px 10px -10px;
}
#placa-input:focus {
  outline: none;
}
#categoria-select {
  width: 100%;
}
#categoria-select .gtm-smart-categoria-select span,
#pecas-select .gtm-smart-peca-select span,
#montadora-select .gtm-smart-montadora-select span,
#veiculo-select .gtm-smart-veiculo-select span,
#ano-select .gtm-smart-ano-select span,
#versao-select .gtm-smart-versao-select span {
  color: #0b4583;
}
.c-busca__botao .btn {
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
}
.c-busca__botao .btn-search {
  background-color: #0b4583;
  color: white;
  border: none;
  height: 40px;
}
.c-busca__botao .btn-clear {
  background-color: transparent;
  color: #0b4583;
  border: 1px solid #0b4583;
}
#btn-busca-placa-buscar {
  border-radius: 8px;
  margin-right: 10px;
}
#btn-busca-peca-buscar {
  border-radius: 8px;
}
#btn-busca-peca-limpar {
  border-radius: 8px;
  border: 2px solid #0b4583;
}
#btn-busca-placa-limpar {
  border-radius: 8px;
  border: 2px solid #0b4583;
}
.botao-fechar {
  display: flex;
  align-items: end;
}
#toggleButton {
  background: none;
  border: none;
  color: #0b4583;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  text-decoration: none;
  padding-top: 20px;
}
#toggleButton:hover {
  text-decoration: none;
  outline: none;
}
#toggleButton span {
  transition: transform 0.3s ease;
}
#toggleButton.expanded span {
  transform: rotate(180deg);
}
#toggleButton2 {
  background: none;
  border: none;
  color: #0b4583;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  text-decoration: none;
  padding-top: 20px;
}
#toggleButton2:hover {
  text-decoration: none;
  outline: none;
}
#toggleButton2 span {
  transition: transform 0.3s ease;
}
#toggleButton2.expanded span {
  transform: rotate(180deg);
}
#toggleButton3 {
  background: none;
  border: none;
  color: #0b4583;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  text-decoration: none;
  padding-top: 20px;
}
#toggleButton3:hover {
  text-decoration: none;
  outline: none;
}
#toggleButton3 span {
  transition: transform 0.3s ease;
}
#toggleButton3.expanded span {
  transform: rotate(180deg);
}
#toggleButton4 {
  background: none;
  border: none;
  color: #0b4583;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  text-decoration: none;
  padding-top: 20px;
}
#toggleButton4:hover {
  text-decoration: none;
  outline: none;
}
#toggleButton4 span {
  transition: transform 0.3s ease;
}
#toggleButton4.expanded span {
  transform: rotate(180deg);
}
#toggleButton5 {
  background: none;
  border: none;
  color: #0b4583;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  text-decoration: none;
  padding-top: 20px;
}
#toggleButton5:hover {
  text-decoration: none;
  outline: none;
}
#toggleButton5 span {
  transition: transform 0.3s ease;
}
#toggleButton5.expanded span {
  transform: rotate(180deg);
}
#toggleButton6 {
  background: none;
  border: none;
  color: #0b4583;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  text-decoration: none;
  padding-top: 20px;
}
#toggleButton6:hover {
  text-decoration: none;
  outline: none;
}
#toggleButton6 span {
  transition: transform 0.3s ease;
}
#toggleButton6.expanded span {
  transform: rotate(180deg);
}
.botao-ver-todas {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: -10%;
}
.selectable-item {
  cursor: pointer;
}
#side-menu .loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1000;
  cursor: not-allowed;
  padding-top: 120%;
  padding-left: 42%;
}
#side-menu .loading-overlay .spinner {
  width: 60px;
  height: 60px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  animation: spin 1s linear infinite;
  border-radius: 50%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.opcao-selecionada{
  font-size: 15px;
  font-weight: 500;
  border-radius: 27%;
}
.opcao-selecionada::before {
  color: black;
  font-size: 25px;
}