/* SMART RESEARCH */
.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}
.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  user-select: none;
  -webkit-user-select: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}
.select2-container[dir="rtl"]
  .select2-selection--single
  .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}
.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  user-select: none;
  -webkit-user-select: none;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select2-container .select2-search--inline {
  float: left;
}
.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}
.select2-container
  .select2-search--inline
  .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.select2-dropdown {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}
.select2-results {
  display: block;
}
.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}
.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none;
}
.select2-results__option[aria-selected] {
  cursor: pointer;
}
.select2-container--open .select2-dropdown {
  left: 0;
}
.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-search--dropdown {
  display: block;
  padding: 4px;
}
.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.select2-search--dropdown.select2-search--hide {
  display: none;
}
.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}
.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  color: #757575;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
.select2-container--default[dir="rtl"]
  .select2-selection--single
  .select2-selection__clear {
  float: left;
}
.select2-container--default[dir="rtl"]
  .select2-selection--single
  .select2-selection__arrow {
  left: 1px;
  right: auto;
}
.select2-container--default.select2-container--disabled
  .select2-selection--single {
  background-color: #fff;
  cursor: default;
}
.select2-container--default.select2-container--disabled
  .select2-selection--single
  .select2-selection__clear {
  display: none;
}
.select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}
.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__rendered
  li {
  list-style: none;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__placeholder {
  color: #757575;
  margin-top: 5px;
  float: left;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove:hover {
  color: #333;
}
.select2-container--default[dir="rtl"]
  .select2-selection--multiple
  .select2-selection__choice,
.select2-container--default[dir="rtl"]
  .select2-selection--multiple
  .select2-selection__placeholder,
.select2-container--default[dir="rtl"]
  .select2-selection--multiple
  .select2-search--inline {
  float: right;
}
.select2-container--default[dir="rtl"]
  .select2-selection--multiple
  .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}
.select2-container--default[dir="rtl"]
  .select2-selection--multiple
  .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}
.select2-container--default.select2-container--focus
  .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}
.select2-container--default.select2-container--disabled
  .select2-selection--multiple {
  background-color: white;
  cursor: default;
}
.select2-container--default.select2-container--disabled
  .select2-selection__choice__remove {
  display: none;
}
.select2-container--default.select2-container--open.select2-container--above
  .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above
  .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #d9d9d9;
}
.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}
.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}
.select2-container--default .select2-results__option[role="group"] {
  padding: 0;
}
.select2-container--default .select2-results__option[aria-disabled="true"] {
  color: #999;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #ddd;
}
.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}
.select2-container--default
  .select2-results__option
  .select2-results__option
  .select2-results__group {
  padding-left: 0;
}
.select2-container--default
  .select2-results__option
  .select2-results__option
  .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}
.select2-container--default
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}
.select2-container--default
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}
.select2-container--default
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}
.select2-container--default
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}
.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white;
}
.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}
.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, #fff 50%, #eee 100%);
  background-image: -o-linear-gradient(top, #fff 50%, #eee 100%);
  background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}
.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb;
}
.select2-container--classic
  .select2-selection--single
  .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}
.select2-container--classic
  .select2-selection--single
  .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}
.select2-container--classic
  .select2-selection--single
  .select2-selection__placeholder {
  color: #757575;
}
.select2-container--classic
  .select2-selection--single
  .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-linear-gradient(top, #eee 50%, #ccc 100%);
  background-image: -o-linear-gradient(top, #eee 50%, #ccc 100%);
  background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
}
.select2-container--classic
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
.select2-container--classic[dir="rtl"]
  .select2-selection--single
  .select2-selection__clear {
  float: left;
}
.select2-container--classic[dir="rtl"]
  .select2-selection--single
  .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}
.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}
.select2-container--classic.select2-container--open
  .select2-selection--single
  .select2-selection__arrow {
  background: transparent;
  border: none;
}
.select2-container--classic.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}
.select2-container--classic.select2-container--open.select2-container--above
  .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #fff 0%, #eee 50%);
  background-image: -o-linear-gradient(top, #fff 0%, #eee 50%);
  background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}
.select2-container--classic.select2-container--open.select2-container--below
  .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eee 50%, #fff 100%);
  background-image: -o-linear-gradient(top, #eee 50%, #fff 100%);
  background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
}
.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
}
.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}
.select2-container--classic
  .select2-selection--multiple
  .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}
.select2-container--classic
  .select2-selection--multiple
  .select2-selection__clear {
  display: none;
}
.select2-container--classic
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}
.select2-container--classic
  .select2-selection--multiple
  .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}
.select2-container--classic
  .select2-selection--multiple
  .select2-selection__choice__remove:hover {
  color: #555;
}
.select2-container--classic[dir="rtl"]
  .select2-selection--multiple
  .select2-selection__choice {
  float: right;
}
.select2-container--classic[dir="rtl"]
  .select2-selection--multiple
  .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}
.select2-container--classic[dir="rtl"]
  .select2-selection--multiple
  .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}
.select2-container--classic.select2-container--open
  .select2-selection--multiple {
  border: 1px solid #5897fb;
}
.select2-container--classic.select2-container--open.select2-container--above
  .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-container--classic.select2-container--open.select2-container--below
  .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}
.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none;
}
.select2-container--classic .select2-dropdown {
  background-color: #fff;
  border: 1px solid transparent;
}
.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}
.select2-container--classic .select2-dropdown--below {
  border-top: none;
}
.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}
.select2-container--classic .select2-results__option[role="group"] {
  padding: 0;
}
.select2-container--classic .select2-results__option[aria-disabled="true"] {
  color: grey;
}
.select2-container--classic
  .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: #fff;
}
.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}
.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}

.qd-ssr2-loaded {
  text-align: center;
}
@media (max-width: 991px) {
  .qd-ssr2-loaded {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px 20px;
  }
}
.qd-ssr2-loaded img {
  padding-bottom: 8px;
}
.qd-ssr2-loaded h2 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.qd-ssr2-loaded .filters-tilte {
  color: #fff;
  margin: 8px 15px 15px;
  float: left;
}
@media (max-width: 991px) {
  .qd-ssr2-loaded .filters-tilte {
    display: block;
    margin-left: 0;
    margin-bottom: 10px;
    float: none;
    width: 100%;
    text-align: center;
  }
}
.qd-ssr2-loaded .filters-tilte:before {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px;
  background: url("//devautoglass.vteximg.com.br/arquivos/home-filtro-icon.png");
  content: "";
  margin-right: 10px;
}
@media (min-width: 991px) {
  .qd-ssr2-loaded .qd-search-filters {
    width: 80%;
    float: right;
  }
}
.qd-ssr2-loaded .qd-ssr2-option-wrapper {
  text-align: left;
}
.qd-ssr2-loaded .qd-ssr2-option-wrapper > label,
.qd-ssr2-loaded .qd-ssr2-option-wrapper > select {
  display: none;
}
@media (min-width: 991px) {
  .qd-ssr2-loaded .qd-ssr2-option-wrapper {
    padding: 10px 20px 10px 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}
@media (min-width: 991px) {
  .qd-ssr2-loaded
    .qd-ssr2-option-wrapper:first-child
    .select2-selection--single {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
@media (min-width: 991px) {
  .qd-ssr2-loaded
    .qd-ssr2-option-wrapper:first-child
    + .qd-ssr2-option-wrapper
    + .qd-ssr2-option-wrapper
    .select2-selection--single {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.qd-ssr2-loaded .select2 {
  width: 100% !important;
  display: inline-block;
  border-radius: 5px;
}
.qd-ssr2-loaded .select2-selection {
  height: 100% !important;
  border: 0 !important;
  margin-right: 1px;
}
.qd-ssr2-loaded .select2-selection > span {
  line-height: 58px !important;
}
.qd-ssr2-loaded .select2-container--default .select2-selection--single {
  border-radius: 6px;
}
.qd-ssr2-loaded
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  font-size: 12px;
  top: 0px;
  right: 5px;
}
.qd-ssr2-loaded
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border: none !important;
}
.qd-ssr2-loaded
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow:before {
  content: "\f078";
  font-size: 1em;
  font-family: "FontAwesome";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #adadad;
  font-weight: 400;
}
.qd-ssr2-loaded
  .select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  border: none !important;
}
.qd-ssr2-loaded
  .select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow:before {
  content: "\f077";
  font-size: 1em;
  font-family: "FontAwesome";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #adadad;
}
.qd-ssr2-loaded .filter-qd-v1-products-button {
  display: block !important;
}

.select2-container--open .select2-results__option {
  padding: 10px 15px !important;
}
.select2-container--open .select2-results__option--highlighted {
  background: #2d4f9e !important;
}
.select2-container--open .select2-search__field {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  padding: 4px 10px 6px 10px !important;
}
.select2-container--open .select2-search__field::placeholder {
  color: #adadad !important;
  font-weight: 400;
  border-radius: 6px;
}
.select2-container--disabled {
  position: relative;
  opacity: 1 !important;
}
.select2-container--disabled.select2-selection--single {
  background: #fff;
}
.select2-container--disabled:hover::after {
  content: "Preencha os campos anteriores primeiro";
  color: #fff;
  font-size: 10px;
  padding: 5px;
  background-color: #223b76;
  box-sizing: border-box;
  display: block;
  width: 100%;
  position: absolute;
  bottom: -28px;
  z-index: 5000;
}
.select2-container--disabled:hover::before {
  vertical-align: middle;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #223b76;
  opacity: 1;
  filter: alpha(opacity=0);
  transition: all 0.2s ease-out;
  display: inline-block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  visibility: visible;
  content: "";
  transform: translateX(-50%);
}

.filter-qd-v1-wrapper {
  margin-top: 15px;
  position: relative;
  padding: 0px 15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .filter-qd-v1-wrapper {
    padding: 0px;
  }
}
.filter-qd-v1-wrapper h2 {
  color: #2d4f9e;
  font-size: 21px;
  font-weight: 700;
  padding: 10px 0px 0px 0px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
@media (max-width: 991px) {
  .filter-qd-v1-wrapper h2 {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .filter-qd-v1-wrapper h2:before {
    width: 100%;
    bottom: 10px;
    right: 0;
    font-size: 20px;
  }
}
.filter-qd-v1-wrapper .container {
  background: #fff;
  border-radius: 3px;
  /* margin-bottom: 20px; */
  padding: 5px 60px 20px 60px;
  position: relative;
  box-shadow: 0 6px 6px rgba(221, 221, 221, 0.555);
}
@media (max-width: 480px) {
  .filter-qd-v1-wrapper .container {
    padding: 5px 25px 20px 25px;
  }
}
.filter-qd-v1-wrapper .qd-ssr2-loaded {
  display: flex;
  flex-direction: row;
}
@media (max-width: 1200px) {
  .filter-qd-v1-wrapper .qd-ssr2-loaded {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
}
.search-qd-v1-filter-area .filter-qd-v1-wrapper .qd-ssr2-loaded {
  padding: 15px 20px !important;
  border-radius: 0 !important;
}
.filter-qd-v1-wrapper .qd-ssr2-option-wrapper {
  display: inline-block;
  width: 24%;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .filter-qd-v1-wrapper .qd-ssr2-option-wrapper {
    width: 100%;
    padding: 4px 0 !important;
  }
}
@media (max-width: 991px) {
  .filter-qd-v1-wrapper .qd-ssr2-option-wrapper {
    width: 100%;
    display: block;
  }
}
.filter-qd-v1-wrapper .qd-ssr2-option-wrapper span {
  font-size: 14px;
  font-weight: normal;
}
.filter-qd-v1-wrapper
  span[aria-labelledby="select2-qd-ssr2-select-00-container"] {
  font-size: 14px;
  font-weight: 700;
  color: #757575;
}
.filter-qd-v1-wrapper
  span[aria-labelledby="select2-qd-ssr2-select-00-container"]
  .select2-selection__placeholder::before {
  color: #2d4f9e;
  font-weight: 700;
  font-size: 18px;
  margin-left: -10px;
  margin-right: 10px;
  content: "1";
}
.filter-qd-v1-wrapper
  span[aria-labelledby="select2-qd-ssr2-select-10-container"] {
  font-size: 14px;
  font-weight: 700;
  color: #757575;
}
.filter-qd-v1-wrapper
  span[aria-labelledby="select2-qd-ssr2-select-10-container"]
  .select2-selection__placeholder::before {
  color: #2d4f9e;
  font-weight: 700;
  font-size: 18px;
  margin-left: -10px;
  margin-right: 10px;
  content: "2";
}
.filter-qd-v1-wrapper
  span[aria-labelledby="select2-qd-ssr2-select-20-container"] {
  font-size: 14px;
  font-weight: 700;
  color: #757575;
}
.filter-qd-v1-wrapper
  span[aria-labelledby="select2-qd-ssr2-select-20-container"]
  .select2-selection__placeholder::before {
  color: #2d4f9e;
  font-weight: 700;
  font-size: 18px;
  margin-left: -10px;
  margin-right: 10px;
  content: "3";
}
.filter-qd-v1-wrapper
  span[aria-labelledby="select2-qd-ssr2-select-30-container"] {
  font-size: 14px;
  font-weight: 700;
  color: #757575;
}
.filter-qd-v1-wrapper
  span[aria-labelledby="select2-qd-ssr2-select-30-container"]
  .select2-selection__placeholder::before {
  color: #2d4f9e;
  font-weight: 700;
  font-size: 18px;
  margin-left: -10px;
  margin-right: 10px;
  content: "4";
}
.filter-qd-v1-wrapper .select2 {
  border: #d9d9d9 solid !important;
  border-width: 1px !important;
  background: #fff;
  height: 58px;
  border-radius: 3px;
}
.filter-qd-v1-wrapper .select2-selection__rendered {
  height: 100%;
  padding-left: 20px !important;
  padding-right: 43px !important;
}
.filter-qd-v1-wrapper .select2-selection__placeholder {
  font-size: 14px !important;
  color: #2d4f9e !important;
  font-weight: 700 !important;
}
.filter-qd-v1-wrapper .select2-dropdown {
  border-radius: 0 !important;
  border-color: #d9d9d9;
}
.filter-qd-v1-wrapper .select2-results__option {
  border-top: 1px #eeeeee solid !important;
  border: #eeeeee solid !important;
  border-width: 1px !important;
}
.filter-qd-v1-wrapper .filter-qd-v1-products-button {
  transition: all 0.2s ease-out;
  border: #62ce6f solid;
  border-width: 2px;
  display: inline-block;
  padding: 15px 32px;
  font-weight: 700;
  outline: none;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  background-color: #62ce6f;
  border-radius: 4px;
  order: 10;
  width: 20%;
  height: 58px;
  margin-top: 10px;
  background-color: #43c452;
  text-transform: none;
  font-size: 14px;
  color: #fff;
  border: none;
  user-select: none;
  padding: 19px 32px;
  -moz-user-select: none;
  -ms-user-select: none;
  display: none;
}
.filter-qd-v1-wrapper .filter-qd-v1-products-button:hover {
  text-decoration: none;
  background: #53c960;
  border-color: #53c960;
}
.filter-qd-v1-wrapper .filter-qd-v1-products-button:focus,
.filter-qd-v1-wrapper .filter-qd-v1-products-button:active {
  text-decoration: none;
  background: #53c960;
  border-color: #53c960;
}
@media (max-width: 1200px) {
  .filter-qd-v1-wrapper .filter-qd-v1-products-button {
    margin-top: 5px;
    width: 100%;
  }
}
.filter-qd-v1-wrapper .filter-qd-v1-products-button:hover,
.filter-qd-v1-wrapper .filter-qd-v1-products-button:active {
  background-color: #33a140 !important;
}
