/* import */

@import url("https://autoglass-cdn.github.io/src/css/theme.css");
.smart-select-section {
  margin-top: -75px;
}

.l-container {
  margin-top: -115px !important;
}

.home main {
  background: #FFF;
}

@media (max-width: 1100px) {
  .smart-select-section {
    margin-top: 0px;
  }
  .l-container {
    margin-top: 0 !important;
  }
  .home main {
    background-color: var(--gray-100)
  }
}

/* #region Common */

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.section-title {
  font-size: 32px;
  font-weight: var(--extra-bold);
  font-family: 'Open Sans', sans-serif;
  color: var(--primary);
  text-align: center;
  text-transform: uppercase;
}

.section-title.nossos-servicos{
  margin-top: 20px;
}

/* #endregion Common */

/* #region Banners */

.banners-section .banners {
  position: relative;
}

.banners-section .banners button {
  position: absolute;
  top: 25%;
  background-color: transparent;
  border: none;
  padding: 20px;
  outline: none;
  cursor: pointer;
}

.banners-section .banners button:hover {
  transform: scale(1.2);
  border-radius: 50%;
}

.banners-section .banners button[id="banner-next"] {
  right: 0;
}

.banners-section .banners-content {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.banners-section .banners-content.mobile {
  display: none;
}

.banners-section .banners-content::-webkit-scrollbar {
  display: none;
}

.banners-section .banners-content .box-banner {
  flex: none;
  width: 100vw;
  scroll-snap-align: start;
}

.banners-section .banners-content .box-banner a {
  display: block;
}

.banners-section .banners-content img {
  width: 100%;
  object-fit: cover;
}

.banners-section .banners-bars {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 125px;
  list-style: none;
  display: flex;
}

.banners-section .banners-bars li {
  width: 30px;
  height: 4px;
  background-color: var(--gray-500);
  margin: 0 5px;
  cursor: pointer;
}

.banners-section .banners-bars li.active {
  background-color: var(--primary);
}

@media (min-width: 1920px) {
  .banners-section .banners-content img {
    height: auto;
  }
}

@media (max-width: 1200px) {
  .banners-section .banners-content.desktop {
    display: none;
  }
  .banners-section .banners-content.mobile {
    display: flex;
    border-radius: 20px;
    margin: 10px;
    margin-top: 0;
    /* aspect-ratio: 6/5; */
    overflow: hidden;
    overflow-x: scroll;
  }
  .banners-section .banners-content img {
    height: auto;
  }
  .banners-section .banners button {
    top: 40%;
    z-index: 2;
  }
  .banners-section .banners-bars {
    display: none;
  }
}

/* #endregion Banners */

/* #region Benefits */

.benefits-section {
  position: relative;
  color: #95989A;
}

.titulo-pagina-home {
  text-align: center;
  margin: 10px;
}

.benefits-section .benefits-dots-mobile-container {
  display:none;
}

.benefits-section .benefits-dots-mobile-container .dot {
  background: #95989A;
  opacity: 0.4;
  height: 10px;
  width: 10px;
  left: 72px;
  border-radius: 50%;
  margin: 0px 1.5px;
}

.benefits-section .benefits-dots-mobile-container .dot.focus {
  opacity: 1;
}

.benefits-section .container {
  display: flex;
  padding: 24px;
  justify-content: space-around;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.benefits-section .container::-webkit-scrollbar {
  display: none;
}

.benefits-section .benefit {
  flex: none;
  min-width: 240px;
  max-width: 240px;
  transition: width 1s ease;
}

.benefit-wrapper {
  display: flex;
}

.benefit .benefit-wrapper h2 {
  font-size: 14px;
}

.benefits-section svg {
  margin-right: 16px;
  min-width: 40px;
}

.benefits-section .benefit p {
  font-size: 14px;
}

.benefits-section .benefit p * {
  display: block;
}

@media (max-width: 1000px) {
  .benefits-section .container {
    justify-content: initial;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  .benefits-section .benefit {
    max-width: initial;
    padding: 0 16px;
    scroll-snap-align: center;
    pointer-events: none;
  }
  .benefits-section .benefit-wrapper {
    justify-content: center;
  }
  .titulo-pagina-home {
    font-size: 19px;
  }
}

@media (max-width: 600px) {
  .benefits-section .benefit {
    padding: 0 25px;
    opacity: .4;
  }
  .benefits-section .benefit.focus {
    opacity: 1;
  }
  .benefits-section .benefit:first-child {
    padding-left: 20%;
  }
  .benefits-section .benefit:last-child {
    padding-right: 20%;
  }
  .titulo-pagina-home {
    font-size: 16px;
  }
  .benefits-section .benefits-dots-mobile-container{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 10px;
    position: absolute;
    width: 100%;
    bottom: 0px;
  }
}

/* #endregion Benefits */

/* #region Rating */

.ratings-section {
  padding: 10px 30px 30px 30px;
}

.ratings-section .ratings {
  margin-top: 25px;
}

.ratings-section .ratings__slider {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 430px;
}

.ratings-section .ratings__slider button {
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 20px;
  outline: none;
  cursor: pointer;
  z-index: 8;
}

.ratings-section .ratings__slider button:hover {
  transform: scale(1.2);
}

.ratings-section .ratings__slider button[id="rating-next"] {
  right: 0;
}

.ratings-section .ratings__slider-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.ratings-section .ratings__rating {
  width: 300px;
  height: 285px;
  background-color: var(--gray-100);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
  transition: transform .7s ease;
}

.ratings-section .ratings__rating > .ratings__rating-image {
  display: none;
}

.ratings-section .ratings__rating .ratings__rating-image img {
  width: 68px;
  height: 68px;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid var(--gray-100);
  box-sizing: content-box;
}

.ratings-section .ratings__rating .ratings__rating-stars i {
  color: #DFC12C;
  font-size: 16px;
}

.ratings-section .ratings__rating .ratings__rating-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ratings-section .ratings__rating .ratings__rating-content h3 {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary);
  font-size: 16px;
  font-weight: var(--bold);
  margin: 16px 0;
}

.ratings-section .ratings__rating .ratings__rating-content p {
  font-family: 'Open Sans', sans-serif;
  max-width: 235px;
  font-size: 12px;
  font-weight: var(--semi-bold);
  text-align: center;
  color: #545454;
}

.ratings-section .ratings__rating.highlight {
  transform: scale(1.34);
  background-color: #183884;
  z-index: 1;
  cursor: initial;
}

.ratings-section .ratings__rating.highlight .ratings__rating-content h3 {
  color: var(--white);
}

.ratings-section .ratings__rating.highlight .ratings__rating-content p {
  color: var(--white);
}

.ratings-section .rating-bars {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  list-style: none;
  display: flex;
}

.ratings-section .rating-bars li {
  width: 30px;
  height: 4px;
  background-color: var(--gray-500);
  margin: 0 5px;
  cursor: pointer;
}

.ratings-section .rating-bars li.active {
  background-color: var(--primary);
}

@media (max-width: 1050px) {
  .ratings-section .ratings__rating {
    display: none !important;
  }
  .ratings-section .ratings__rating.highlight {
    display: flex !important;
  }
}

@media (max-width: 420px) {
  .ratings-section {
    padding-top: 15px
  }
  .section-title {
    font-size: 22px;
  }
  .ratings-section .ratings__slider {
    height: 350px;
  }
  .ratings-section .ratings__rating.highlight {
    transform: scale(1.1);
  }
}

@media (max-width: 420px) {
  .ratings-section .ratings__rating.highlight {
    transform: scale(1);
  }
}

/* #endregion Rating */

/* #region Why */

.whys-section {
  padding: 40px 20px 0px 20px;
  background: url('https://autoglass.vteximg.com.br/arquivos/porque_autoglass-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whys-section .section-title {
  max-width: 512px;
  margin: 0 auto;
}

.whys-section .why {
  margin: 30px 0;
  display: flex;
  align-items: center;
}

.whys-section .why:nth-child(2n) {
  flex-direction: row-reverse;
}

.whys-section .why>div {
  margin: 15px;
}

.whys-section .why__image {
  min-width: 350px;
}

.whys-section .why__image img {
  width: 100%;
}

.whys-section .why__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: .8;
}

.whys-section .why__content>* {
  padding: 8px;
}

.whys-section .why__content-title {
  color: var(--primary);
  font-size: 24px;
  font-weight: var(--bold);
  text-align: center;
}

.whys-section .why__content-text {
  color: #545454;
  font-size: 16px;
  font-weight: var(--semi-bold);
  max-width: 540px;
}

.whys-section .why__content-link {
  color: var(--primary);
  font-size: 16px;
  font-weight: var(--semi-bold);
  text-decoration: underline;
}

.whys-section .whys__link {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 4px;
  padding: 12px;
  width: 285px;
  text-decoration: none;
  text-align: center;
}

@media (max-width: 1100px) {
  .whys-section .why:nth-child(n) {
    flex-direction: column;
  }
  .whys-section .why__content {
    align-items: center;
    margin: 0;
  }
  .whys-section .why__content-text {
    text-align: center;
  }
  .whys-section .why__image {
    min-width: 250px;
  }
  .whys-section .why__content-link {
    display: none;
  }
}

/* #endregion Why */

/* #region Chat */

.chat-section {
  background-color: #333697;
}

.chat-section .chat__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  padding: 50px 100px;
}

.chat-section .chat__content-title {
  font-size: 22px;
  font-weight: var(--semi-bold);
}

.chat-section .chat__content-text {
  font-size: 18px;
  margin: 0px 20px;
}

.chat-section .chat__content-link {
  background-color: var(--white);
  color: var(--primary);
  font-size: 16px;
  font-weight: var(--bold);
  border-radius: 40px;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color .3 ease-in-out;
}

.chat-section .chat__content-link:hover {
  background-color: var(--gray-300);
  text-decoration: none;
}

@media (max-width: 1000px) {
  .chat-section .chat__content {
    flex-direction: column;
    padding: 40px;
  }
  .chat-section .chat__content-menssage {
    display: flex;
    flex-direction: column;
  }
  .chat-section .chat__content-title {
    text-align: center;
  }
  .chat-section .chat__content-text {
    max-width: 230px;
    text-align: center;
    margin: 10px 0px 20px 0px;
  }
}

/* #endregion Chat */

.banners-promocionais-section,
.nossos-servicos-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding: 20px;
}

.nossos-servicos-section{
  height: 340px;
}

.banners-promocionais-itens,
.banners-nossos-servicos {
  display: -webkit-box;
  overflow: hidden;
  width: 1110px;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 1) 98%, rgba(0, 0, 0, 0));
}

.banners-promocionais-itens {
  height: 100%;
}

.banners-nossos-servicos {
  height: 300px;
  padding-bottom: 50px;
  position: relative;
}

.banners-promocionais-itens .box-banner,
.banners-nossos-servicos .box-banner{
  /* overflow: hidden; */
  border-radius: 20px;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.2);
  margin: 10px;
  flex-basis: 350px;
  height: 90%;
  text-align: center;
}

.banners-promocionais-itens .box-banner a img,
.banners-nossos-servicos .box-banner a img{
  scroll-snap-align: start;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.banners-promocionais-itens .box-banner a img:hover,
.banners-nossos-servicos .box-banner a img:hover {
  opacity: 0.6;
}

.banners-promocionais-section button,
.nossos-servicos-section button{
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  background-color: transparent;
  margin: 20px;
}

.banners-promocionais-section button svg,
.nossos-servicos-section button svg{
  transition: 0.2s;
}

.banners-promocionais-section button:hover svg,
.nossos-servicos-section button:hover svg{
  transform: scale(1.2);
}

.banners-promocionais-section.hide-buttons button,
.nossos-servicos-section.hide-buttons button,
.banners-promocionais-section.button-mobile-only button,
.nossos-servicos-section.button-mobile-only button {
  display: none;
}

.banners-nossos-servicos .box-banner[title]:after{
  content: attr(title);
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  top: 10px;
  font-size: 21px;
  color: darkgray;
  width: 75%;
}

@media (max-width: 992px) {
  .banners-promocionais-section,
  .nossos-servicos-section, .banners-nossos-servicos {
    height: auto;
  }
  .banners-promocionais-itens,
  .banners-nossos-servicos{
    width: -webkit-fill-available !important;
    overflow-x: auto;
    touch-action: pan-y;
  }
  .banners-promocionais-itens::-webkit-scrollbar,
  .banners-nossos-servicos::-webkit-scrollbar {
    display: none;
  }
  .banners-promocionais-itens .box-banner,
  .banners-nossos-servicos .box-banner {
    flex-basis: calc(100% - 20px);
    position: relative;
  }

  .banners-nossos-servicos .box-banner:after{
    width: 100%;
  }
  .banners-nossos-servicos .box-banner:after{
    position:absolute;
    width: 100%;
    left: 0;
  }

  .banners-nossos-servicos .box-banner[title]:after{
    position: absolute;
    top: auto;
    bottom: calc(-3vw - 40px);
    width: 100%;
    font-size: 4vw;
  }

  .banners-promocionais-section button,
  .nossos-servicos-section button{
    margin: 0px;
  }

  .banners-promocionais-section.button-mobile-only button,
  .nossos-servicos-section.button-mobile-only button {
    display: flex;
  }

  .ratings-section {
    padding: 20px 0px;
  }

  /* Painel de categorias */
  

  #prev-btn i:before,
  #next-btn i:before {
    content: url('https://autoglass-cdn.github.io/arquivos/img/categoria-arrow.svg');
    display: block;
    height: 32px;
    width: 32px; 
    transition: transform 0.2s; 
  }

  #prev-btn i:before {
    transform: rotateY(180deg);
  }

  #next-btn i,
  #prev-btn i,
  button {
    transition: 0.2s;
  }

  #next-btn i:hover,
  #prev-btn i:hover {
    transform: scale(1.2);
  }

  i.categorias-icon::before {
    content: url('https://autoglass-cdn.github.io/arquivos/img/categorias-icon.png');
    height: 16px;
    margin-right: 15px;
  }

  .painel-categorias-section {
    background-color: #FFF;
    padding-top: 60px;
    padding-bottom: 30px;
  }
  
  @media (max-width: 1200px) {
    .painel-categorias-section {
      display:none;
    }
  }
  
  .painel-categorias-desktop:not(:hover) .painel-categorias .arrow{
    transform: scaleY(0) rotate(45deg);
    bottom:0px;
  }
  
  .painel-categorias-desktop:not(:hover) .painel-categorias .painel-categorias__categoria-conteudo {
    transform: scaleY(0.2);
    top: -160px;
    z-index: 1;
  }
  
  .painel-categorias-desktop:not(:hover) .painel-categorias .painel-categorias__categoria-conteudo {
    box-shadow: 0px 0px 0px 0px #fff;
  }
  
  .painel-categorias-desktop:not(:hover) .painel-categorias .painel-categorias__categoria-conteudo hr {
    border-color: #FFF;
  }
  
  .painel-categorias-desktop {
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .painel-categorias {
    position: relative;
    width: 100%;
    left: 0;
    padding: 0px 10px;
    background-color: #fff;
    font-size: 1.25rem;
    transition: all .1s ease-in;
  }
  
  .painel-categorias li {
    list-style: none;
  }
  
  .painel-categorias .slider-handlers {
    position: absolute;
    top: 10px;
    right: 20px;
    /* height: 0px; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0 20px;
    gap: 10px;
    z-index: 5;
  }
  
  .painel-categorias .slider-handlers {
    position: absolute; /* Mantém as setas em relação ao contêiner pai */
    top: -50px; /* Ajuste a posição vertical para cima */
    right: 0px; /* Mantém a posição à direita */
    display: flex;
    gap: 10px;
    z-index: 5; /* Certifique-se de que as setas fiquem acima do slider */
  }
  
  .painel-categorias .slider-handlers button {
    background: transparent;
    /* position: relative; */
    /* top: 72.5px; */
    border: 0;
    outline: 0;
    padding: 10px;
    cursor: pointer;
  }
  
  .painel-categorias .slider-handlers button i {
    display: flex;
  }
  
  .painel-categorias .painel-categorias__categoria {
    display: inline-block;
    margin: 0 20px;
  }
  
  .painel-categorias .painel-categorias__categoria:first-child {
    margin-left: 0;
  }
  
  .painel-categorias .painel-categorias__categoria h2{
    transition: 0s ease-in-out .1s
  }
  
  .painel-categorias .painel-categorias__categoria:hover h3{
    color: var(--blue-500);
    font-weight: var(--semi-bold);
  }
  
  .painel-categorias .painel-categorias__menu {
    position: relative;
    overflow: hidden;
    background: #FFF;
    height: auto;
    white-space: nowrap;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 1) 98%, rgba(0, 0, 0, 0));
    z-index: 4;
  }
  
  .painel-categorias .painel-categorias__menu>ul {
    transition: 1s;
  }
  
  .painel-categorias .painel-categorias__menu .painel-categorias__categoria-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 146px;
    min-width: 92px;
    height: 155px;
    color: var(--gray-500);
    font-weight: var(--light);
    text-align: center;
    white-space: normal;
    transition: all .2s ease-in;
  }
  
  .painel-categorias .painel-categorias__menu .painel-categorias__categoria-header:hover {
    transform: scale(1.05);
  }
  
  .painel-categorias .painel-categorias__categoria-header img {
    margin-bottom: 10px;
    transform: scale(0.8);
  }
  
  .painel-categorias ul li:first-child .painel-categorias__categoria-header img {
    transform: scale(0.64);
    filter:  grayscale(100%);
    transition: 0.2s;
    opacity: 0.5;
  }
  
  .painel-categorias-section .painel-categorias:hover ul li:first-child .painel-categorias__categoria-header.ativo img{
    filter: drop-shadow(5px 5px 2px rgba(0,0,0,0));
    opacity: 1;
  }
  
  .painel-categorias-section .painel-categorias ul li:first-child:hover .painel-categorias__categoria-header.ativo img{
    filter: drop-shadow(5px 5px 2px rgba(0,0,0,0.2));
  }
  
  .painel-categorias-section .painel-categorias:hover .painel-categorias__menu .painel-categorias__categoria-header.ativo{
    color: var(--blue-500);
    font-weight: var(--semi-bold);
  }
  
  .painel-categorias .painel-categorias__categoria-header h2 {
    font-size: 0.8750rem;
    font-weight: unset;
  }
  
  .painel-categorias .painel-categorias__categoria-header a {
    text-decoration: none;
    color: unset;
  }
  
  .painel-categorias .painel-categorias__categoria-conteudo {
    position: absolute;
    left: 0px;
    display: flex;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    width: 100%;
    overflow: hidden;
    box-shadow: 11px 13px 15px -4px rgb(0 0 0 / 35%);
    transition: 0.4s;
    top: 125px;
    z-index: 4;
  }
  
  .painel-categorias .arrow {
    position: absolute;
    background-color: var(--white);
    border: solid var(--gray-300);
    border-width: 0 2px 2px 0;
    display: inline-block;
    width: 15px;
    height: 15px;
    transform: scaleY(1) rotate(45deg);
    bottom: -9px;
    left: 75px;
    z-index: 5;
    transition: 0.5s;
  }
  
  ul.menu-division {
    position: absolute;
    height: 85%;
    left: 400px;
    border-left: 1px solid #eee;
  }
  
  .painel-categorias .painel-categorias__categoria-itens {
    font-size: 0.8750rem;
    padding: 32px 50px;
    display: none;
    min-height: 250px;
  }
  
  .painel-categorias .painel-categorias__categoria-itens a {
    text-decoration: none;
    transition: all .1s ease-in;
  }
  
  .painel-categorias__categoria-itens.ativo a:hover:after {
    position: absolute;
    right: -30px;
    bottom: -20px;
    transform: scale(0.5);
  }
  
  .painel-categorias__categoria-header {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo */
    margin-right: 15px; /* Ajusta o espaço entre os círculos */
    position: relative; /* Necessário para o círculo de fundo */
  }
  
  .painel-categorias__categoria-header:last-child {
    margin-right: 0; /* Remove a margem do último item */
  }
  
  .painel-categorias__categoria-header img {
    border-radius: 0; /* Remove o arredondamento da imagem */
    border: 2px solid transparent; /* Borda transparente para manter o espaço */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo cinza claro */
    padding: 20px; /* Aumenta o espaçamento entre a imagem e a borda */
    object-fit: cover; /* Garante que a imagem preencha o espaço */
    position: relative; /* Para manter o z-index */
    z-index: 0; /* Coloca a imagem acima do círculo */
    overflow: hidden;
  }
  
  .painel-categorias__categoria-header::before {
    content: '';
    display: block;
    width: 110px; /* Largura do círculo */
    height: 110px; /* Altura do círculo */
    border-radius: 50%; /* Torna o fundo circular */
    border: 2px solid var(--gray-300); /* Borda cinza */
    background-color: transparent;
    position: absolute;
    z-index: 1; /* Coloca o círculo atrás da imagem */
  }
  
  .painel-categorias__categoria-header h2 {
    margin-top: 5px; /* Espaço acima do nome */
    font-size: 0.875rem; /* Ajuste o tamanho da fonte conforme necessário */
  }
}
