html {
    --form-width: 400px;
    --topo-height: 122px;

    /* cores */
    --azul-titulos: #003da5;
    --cinza: #828282;
    --cinza-claro: #EFEFEF;

}


/* banner */
.banner .banner__image {
    background-image: var(--url-background-banner);
    height: 275px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.banner .banner__image h1,
.banner .banner__image span
{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.1;
    text-align: center
}

.banner .banner__image span{
    color: var(--cor-titulos-servico); /*varaívael definida no template*/
}



main {
    position: relative;
}

main .section-container {
    margin-right: var(--form-width);
}

main .section-container > div {
    padding: 1em 3em;
    max-width: 1300px;
    margin-left :auto;
    margin-right :auto;
}

/* descricao */
section.servico-descricao {
    background-color: white;
}

section.servico-descricao .descricao__titulo h2{
    margin-top: 1rem;

    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: var(--azul-titulos);
}

section.servico-descricao .descricao__titulo h2 > span{
    font-size: 3rem;
    color: var(--cor-titulos-servico); /*variável definida no template*/
    text-transform: capitalize;
    font-weight: 800;
}

section.servico-descricao .descricao__texto p{
    margin: 0 2rem;

    font-size: 1.125rem;
    text-align: justify;
    color: #828282;
}

section.servico-descricao .descricao__etapas {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--cinza);

}

section.servico-descricao .descricao__etapa {
    width: 10rem;
    margin: 0 10px;
    
}

section.servico-descricao .descricao__etapa__icone {
    fill: var(--cor-titulos-servico);

    width: 8rem;
}

section.servico-descricao .descricao__etapas__setas{
    display: flex;
    width: auto;
    height: 8rem;
    
    align-items: center;

    fill: var(--cor-titulos-servico);
    opacity: 0.5;
}

section.servico-descricao .descricao__etapas__setas svg {

    height: 1.1rem;
}

section.servico-descricao .descricao__etapas__setas svg:not(:last-child) {

    
    margin-right: 0.5rem;
}



/* vantagens */
section.servico-vantagens {
    background-color: white;  
}

section.servico-vantagens .vantagens__titulo {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

section.servico-vantagens .vantagens__titulo h3 {
    text-align: center;
    color: #F9A51A;
    font-size: 2.5rem;
    font-weight: 800;
}

section.servico-vantagens .vantagens-container{
    display: flex;  
    align-items: center;
}

section.servico-vantagens .vantagens__vantagens {
    margin-right: 20px;
}

section.servico-vantagens .vantagens__vantagem {
    display: flex;
    align-items: center;
}

section.servico-vantagens .vantagens__vantagem.vantagem1{
    color: #F48120;
    fill: #F48120;
}

section.servico-vantagens .vantagens__vantagem.vantagem2{
    color: #F9A51A;
    fill: #F9A51A;
    margin-left: 2.5vw;
}

section.servico-vantagens .vantagens__vantagem.vantagem3{
    color: #FFCA05;
    fill: #FFCA05;
    margin-left: 5vw;
}


section.servico-vantagens .vantagens__vantagem .vantagens__vantagem__icone {
    width: 5vw;
    margin: 1vw 0;
}

section.servico-vantagens .vantagens__vantagem .vantagens__vantagem__texto {
    font-size: 1.5vw;
    font-weight: 800;
    font-style: italic;
    width: 5vw;
    line-height: 1.5vw;
}

section.servico-vantagens .vantagens__imagem {
    background: url("https://autoglass-cdn.github.io/src/img/landing-pages/carro-pintura.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 24vw;
    width: 100%;
}




/* formulario */
section.form-section {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    width: var(--form-width);
    height: 100%;
}

section.form-section .form {
    position: sticky;
    top: var(--topo-height);
    
    width: fit-content;
    margin: auto auto;

    background-color: white;
    border: 1px solid var(--cinza-claro);

}


/* Responsividade */

@media only screen and (max-width: 992px) {
    html {
        font-size: 13px !important;
    }

    .banner .banner__image h1,
    .banner .banner__image span
    {
        line-height: 1.2;
    }

    main .section-container {
        margin-right: 0;
    }


    /* vantagens */
    section.servico-vantagens .vantagens-container{
        display: block; 
    }

    section.servico-vantagens .vantagens__vantagens {
        display: flex;
        justify-content: center;
    }

    section.servico-vantagens .vantagens__vantagem {
        flex-direction: column;
        width: 11vw;
        text-align: center;
        margin: 0px 4.125vw;
    }

    section.servico-vantagens .vantagens__vantagem .vantagens__vantagem__icone{
        width: auto;
        margin: 1vw 0;

    }

    section.servico-vantagens .vantagens__vantagem .vantagens__vantagem__texto {
        font-size: 2.5vw;
        width: auto;
        line-height: 2.5vw;
    }

    section.servico-vantagens .vantagens__imagem {
        background-size: cover;
        height: 39vw;
        width: 65vw;
        margin: 2vw auto;
        border-radius: 20px;
    }


    /* formulario */
    section.form-section {
        position: relative;
        background-color: white;
        right: unset;
        top: unset;
        width: 100%;
        height: auto;
    }

    section.form-section .form {
        background-color: white;
        border: none;

        position: relative;
        top: unset;
    }
}




@media only screen and (max-width: 576px) {
    html {
        font-size: 8px !important;
    }

    .banner .banner__image{
        height: 210px;

    }

    .banner .banner__image h1,
    .banner .banner__image span
    {
        line-height: 1.5;
    }
}