/* FONTES */
@import url("//fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700i,800&display=swap");
@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face {
  font-family: "Poppins", sans-serif !important;
  src: local("Poppins"),
    url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
}

:root {
  --primary: #183884;
  /* --blue-700 */
  --success: #33a140;
  /* --green-300 */
  --danger: #dd4b39;
  /* --red-300 */

  /* CORES PRIMÁRIAS */
  --blue-900: #1c3162;
  --blue-700: #183884;
  --blue-500: #234eb9;
  --blue-300: #368df7;
  --blue-100: #60c3ff;

  /* CORES SEMÂNTICAS */
  --green-300: #33a140;
  --green-100: #43c452;
  --orange-300: #f07a19;
  --red-300: #dd4b39;

  /* ESCALA DE CINZA */
  --white: #ffffff;
  --gray-100: #f8f8f8;
  --gray-300: #dbdbdb;
  --gray-500: #a8a8a8;
  --gray-700: #424242;
  --black: #000000;

  /* FONTE */
  font-size: 100%;
  --light: 300;
  --regular: 400;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

body {
  -webkit-font-smoothing: antialised;
  color: --gray-500;
  padding-top: 0;
}

body,
input,
button {
  font-family: "Poppins", sans-serif !important;
  font-display: swap;
}

button {
  cursor: pointer;
}

hr {
  border: 1px solid var(--gray-300);
  background-color: var(--gray-300);
}

body.lock-scroll {
  position: fixed !important;
  top: 0 !important;
  left: 0;
  width: 100%;
  overflow: hidden !important;
}
.fab {
  font-family: "Font Awesome 5 Brands" !important;
}
body .fa, body .far, body .fas, .fa-regular, .fa-solid {
  font-family: "Font Awesome 5 Free", "Font Awesome", sans-serif !important;
  font-weight: 900;
}

/* ÍCONES CHECK-OUT */

.icon-spinner.icon-spin.icon-3x, .icon.icon-minus-sign, .icon.icon-plus-sign, .icon.icon-remove.item-remove-ico {
  font-family: "Font Awesome 5 Free", "Font Awesome", sans-serif !important;
  font-weight: 900;
}

/*ÍCONE PESQUISA BEON SEARCH*/

.lfVOto .bn-search__submit {
  font-family: "Font Awesome 5 Free", "Font Awesome", sans-serif !important;
  font-weight: 900;
}