* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

:root {
    --cor-primaria: #193f91;
    --cor-secundaria: #fb7000;
    --tamanho-maximo: 1280px;
}

body {
    font-size: 16px;
}

.container {
    width: 100%;
    max-width: var(--tamanho-maximo);
}

.banner,
.video,
.prevencao,
.beneficio {
    display: flex;
    justify-content: center;
}

.video,
.prevencao,
.beneficio {
    margin-top: 3.1em;
}

.cabecalho {
    padding: 0.6em 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.cabecalho__selo {
    width: 5em;
    height: 5.9em;
}

.cabecalho__logo__imagem {
    width: 6.3em;
    height: 4.4em;
}

.cabecalho__logo__texto {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: 600;
}

.banner {
    width: 100%;
    height: 31.9em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://autoglass-cdn.github.io/src/img/transito-mais-livre/banner.png");
    overflow: hidden;
}

.banner__informacao {
    margin-top: 3.1em;
    margin-left: 10%;
    box-shadow: 0 0 0.6em -0.1em black;
    padding: 2.5em;
    width: 25em;
    height: 25em;
    background-color: white;
}

.banner .informacao__titulo {
    font-weight: 800;
    font-size: 2.1em;
    line-height: 1.1em;
    color: var(--cor-primaria);
}

.banner .informacao__texto {
    padding-top: 1.9em;
    padding-left: 1.3em;
    font-weight: 600;
}

.video .container {
    display: grid;
    grid-template:
        "video titulo" auto
        "video estatisticas" auto
        "video fonte" auto / 50% 50%;
}

.video__titulo {
    grid-area: titulo;
    margin: 0.6em 0 1.3em 0;
    color: var(--cor-primaria);
}

.video__youtube {
    grid-area: video;
    padding-right: 1.6em;
    width: 100%;
    height: 100%;
    max-height: 19.7em;
}

.video .estatisticas {
    grid-area: estatisticas;
    list-style: none;
}

.video .estatisticas__item {
    margin-bottom: 1.3em;
    display: flex;
    align-items: center;
}

.video .estatistica__icone {
    margin-right: 0.6em;
    width: 1.9em;
    height: 1.9em;
}

.video .estatistica__texto {
    font-weight: 800;
}

.video__fonte {
    grid-area: fonte;
    font-size: 0.8em;
    font-weight: 600;
    opacity: 40%;
}

.prevencao .container {
    display: flex;
}

.prevencao__informacao {
    padding: 1.3em 2.5em;
}

.prevencao__titulo {
    margin-bottom: 1.6em;
    color: var(--cor-secundaria);
}

.prevencao__texto {
    font-size: 1em;
    font-weight: 700;
    word-spacing: 0.24em;
    line-height: 2em;
    color: var(--cor-primaria);
}

.prevencao__imagem {
    margin: auto;
    display: block;
    width: 100%;
    height: 22em;
}

.beneficio {
    background-color: #e8e8e8;
}

.beneficio .container {
    padding: 3.1em 0;
    display: grid;
    grid-template:
        "imagem titulo" auto
        "imagem ganhos" auto
        "imagem cta" auto / 50% 50%;
}

.beneficio__titulo {
    grid-area: titulo;
    width: 80%;
    font-weight: 800;
    font-size: 3.1em;
    color: var(--cor-secundaria);
}

.beneficio__imagem {
    grid-area: imagem;
    margin: 0 auto;
    width: 30em;
    min-height: 38em;    
    display: block;
}

.beneficio .ganhos {
    grid-area: ganhos;
}

.beneficio .ganhos__questionamento {
    margin: 1.3em 0 1.9em 1.9em;
    font-weight: 600;
}

.beneficio .ganhos__sugestao {
    line-height: 2.4em;
    font-weight: 600;
    font-display: var(--cor-primaria);
    color: white;
}

.beneficio .ganhos__sugestao__marcacao {
    padding: 0.4em 0;
    background-color: var(--cor-primaria);
}

.beneficio .cta {
    grid-area: cta;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.beneficio .cta__texto {
    margin-left: 3.1em;
    margin-bottom: 1.6em;
    font-weight: 600;
}

.beneficio .cta__botao {
    border: none;
    border-radius: 0.3em;
    padding: 0.9em 3.1em;
    text-transform: uppercase;
    font-size: 0.9em;
    color: white;
    background-color: var(--cor-secundaria);
}

.formulario {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #000000CC;
}

.formulario .container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario .cabecalho {
    width: 30em;
    background-color: transparent;
}

.formulario .cabecalho__botao {
    margin-left: auto;
    border: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 0.08em;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.formulario .cabecalho__botao:active {
    transform: scale(1.1);
}

.formulario .cabecalho__botao__fragmento::after {
    content: "\f00d";
    padding-left: 0.2em;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3em;
    font-family: "Font Awesome 5 Free";
}

.formulario .formulario__form {    
    padding: 2em 1em;
    width: 30em;
    height: fit-content;
    background-color: white;
}

.formulario .arte {
    margin: 0 auto;
    width: 10em;
    height: 10em;
}

.formulario .arte__imagem {
    width: 100%;
    height: 100%;
    display: block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://autoglass-cdn.github.io/src/img/transito-mais-livre/form.svg");
}

.formulario .entradas {
    padding: 0 2em;
}

.formulario .envio {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
}

.formulario .envio__botao {
    border-radius: 0.3em;
    padding: 0.9em 6em;
    text-transform: uppercase;
    font-size: 0.9em;
}

.formulario .envio__botao:active {
    transform: scale(1.1);
}

.formulario .envio__botao:disabled {
    opacity: 0.8;
    cursor: no-drop;
}

@media only screen and (max-width: 950px) {
    body {
        font-size: 12px;
    }

    .video,
    .prevencao,
    .beneficio {
        margin-top: 1em;
    }

    .video .container {
        grid-template:
            "titulo titulo" auto
            "video video" auto
            "estatisticas estatisticas" auto
            "fonte fonte" auto / 50% 50%;
    }

    .video__titulo {
        font-size: 1.8em;
    }

    .video__youtube {
        padding-right: 0;
        min-height: 25em;
    }

    .video .estatisticas {
        margin-top: 1rem;
        display: flex;
    }

    .video .estatisticas__item {
        flex: 1;
        align-items: stretch;
        align-self: flex-start;
    }

    .video__fonte {
        margin-left: auto;
        width: 30%;
        text-align: right;
    }

    .prevencao .container {
        padding: 1.5rem 0;
        background-color: var(--cor-secundaria);
    }
    
    .prevencao__informacao {
        padding: 2em 1em;
    }
    
    .prevencao__titulo {
        color: var(--cor-primaria);
    }
    
    .prevencao__texto {
        font-weight: 600;
        color: white;
        opacity: 0.9;
    }
    
    .prevencao__imagem {
        width: 50%;
        height: 30em;
        object-fit: cover;
        object-position: 63% 50%;
    }

    .beneficio {
        margin-top: 0;
    }
    
    .beneficio .container {
        grid-template:
            "imagem titulo" auto
            "imagem ganhos" auto
            "cta cta" auto / 50% 50%;
    }
    
    .beneficio__titulo {
        margin-top: auto 0;
        font-size: 2.5em;
        line-height: 1em;
    }
    
    .beneficio__imagem {
        margin: 0;
        margin-right: auto;
        width: 95%;
        height: 28em;
        object-fit: cover;
    }
    
    .beneficio .ganhos__questionamento {
        margin: 0;
        margin-top: 2em;
    }
    
    .beneficio .ganhos__sugestao {
        margin-top: 2em;
        line-height: 2em;
    }
    
    .beneficio .ganhos__sugestao__marcacao {
        padding: 0.2em 0;
    }
    
    .beneficio .cta {
        margin-top: 1.5em;
        align-items: center;
    }
    
    .beneficio .cta__texto {
        margin-left: 0;
        text-align: center;
    }

    .formulario {
        position: relative;
        min-height: auto;
        background-color: white;
    }
    
    .formulario .container {
        min-height: auto;
    }
    
    .formulario .cabecalho {
        display: none;
    }

    .formulario .formulario__form {    
        background-color: transparent;
    }
}

@media only screen and (max-width: 420px) {
    body {
        font-size: 10px;
    }

    .video__fonte {
        width: 100%;
    }
    
    .prevencao__informacao {
        padding: 0 0.7em;
    }

    .beneficio .container {
        grid-template:
            "titulo titulo" auto
            "imagem ganhos" auto
            "imagem ganhos" auto
            "cta cta" auto / 50% 50%;
    }
    
    .beneficio__titulo {
        margin: 0 auto;
        margin-bottom: 1em;
        width: 100%;
        text-align: center;
    }
    
    .beneficio__imagem {
        height: 23em;
    }
    
    .beneficio .ganhos__questionamento {
        margin: 0;
    }
}
