/* Reset font-size */
.mz-modal-installation .mz-install__title span,
.mz-install__info .mz-info__list ul li,
.header-qd-v1-valid-prices.cep-modal {
  font-size: 14px !important;
}

.mz-modal-installation.modal-instale-na-loja {
  max-height: 655px;
  height: 95vh;
  box-sizing: border-box;
}

.mz-modal-installation.modal-instale-na-loja > .mz-install__button {
  margin-top: 15px;
  padding: 10px;
  box-sizing: border-box;
}

.mz-modal-installation.modal-instale-na-loja
  > .mz-install__button
  > .mz-install__button--buy {
  border: #43c452 solid;
  border-width: 2px;
  transition: all 0.2s ease-out;
  border-radius: 6px;
  background: #43c452;
  color: #fff;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  display: block;
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.mz-modal-installation.modal-instale-na-loja
  > .mz-install__button
  > .mz-install__button--buy:hover {
  border: #33a140 solid;
  border-width: 2px;
  background: #33a140;
}

.mz-modal-installation.modal-instale-na-loja .mz-install__title h2 {
  color: #757575;
  font-size: 26px;
  font-weight: 400;
  line-height: 35px;
  margin: 0px;
}

.mz-modal-installation.modal-instale-na-loja h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 0px;
  font-weight: bold;
}

.modal-instale-na-loja > .secao-agendamento > .to-select-msg,
.modal-instale-na-loja > .secao-agendamento > .selected-msg
{
  margin-bottom: 10px;;
}

.modal-instale-na-loja > .secao-agendamento > .store-list > ul {
  padding-inline-start: 0;
  overflow-x: auto;
  height: 330px;
  margin-left: 0px;
}

.modal-instale-na-loja > .secao-agendamento > .mz-install__title {
  margin-bottom: 10px;
}

.modal-instale-na-loja > .secao-agendamento > .filter {
  padding: 5px 0px 12px;
}

.modal-instale-na-loja > .secao-agendamento > .filter .date {
  display: inline;
}

.modal-instale-na-loja > .secao-agendamento > .store-list .mz-install__info {
  margin-top: 15px;
}

.header-qd-v1-valid-prices.cep-modal p {
  margin: 15px 0px;
}

.cep-modal .header-qd-v1-valid-prices-local button {
  margin-left: 5px;
}

.secao-agendamento > .filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: -20px;
  background: white;
  padding: 20px 0px 10px;
}

.secao-agendamento > .filter > .data {
  position: relative;
}

.secao-agendamento > .filter > .data label {
  font-weight: unset;
}

.secao-agendamento > .filter > .data label::after {
  content: "\f073";
  font-family: "FontAwesome";
  position: absolute;
  top: 1px;
  right: 11px;
  color: #505570;
  background-color: #e2e2e2;
  border-radius: 0px 4px 4px 0px;
  padding: 1px 10px;
  cursor: pointer;
}

.secao-agendamento > .filter > .data input,
.cep input {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  width: 120px;
  color: #505570;
  margin-left: 5px;
  margin-right: 10px;
  padding: 1px 5px;
}

.secao-agendamento > .filter > .data input:disabled,
.cep input:disabled {
  background-color: white;
  border: 0;
}

.secao-agendamento .store {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  margin-top: 10px;
}

.secao-agendamento .store > .store-info {
  display: flex;
  justify-content: space-between;
}
.secao-agendamento .store > .store-info > * {
  padding: 10px 15px;
  text-transform: capitalize;
}
.secao-agendamento .store > .store-info > button.btn-ver-horarios {
  border: 0;
  font-weight: 700;
  color: #505570;
  border: 1px solid #dfdfdf;
  width: 30%;
}
.secao-agendamento .store > .store-info > button.danger {
  color: red;
}
.secao-agendamento .store > .store-info > .aside {
  width: 70%;
}

.secao-agendamento .store > .store-info > .aside > h5.store-name {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}

.secao-agendamento .pickup > .time {
  border-top: 1px solid #dfdfdf;
  padding: 10px 15px;
  transition: ease;
}

.secao-agendamento .time > .texto-horarios-indisponiveis {
  color: #929292;
  font-weight: bold;
}

.secao-agendamento .time > p {
  margin-bottom: 5px;
  margin-top: 0;
}

.secao-agendamento .time-list > .timestamp {
  border: 0;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #565656;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
}

.secao-agendamento .time-list > .timestamp:hover {
  border: 1px solid #929292;
}

.secao-agendamento .hidden {
  display: none;
}

/* MODAL - BARRA DE ROLAGEM */
.mz-modal-installation {
  max-height: 500px;
  overflow-y: scroll;
}
.mz-modal-installation .mz-install__title .mz-title__bottomBorder {
  margin: 10px 0px;
}

.mz-modal-installation .mz-install__button {
  position: sticky;
  bottom: -10px;
  width: 100%;
  background: white;
  padding: 15px;
}

.mz-modal-installation::-webkit-scrollbar {
  width: 6px;
}

.mz-modal-installation::-webkit-scrollbar-thumb {
  background-color: #8a8a8a;
  border-radius: 4px;
}

.mz-modal-installation::-webkit-scrollbar-track {
  opacity: 0.3;
  background-color: #e0e0e0;
  border: 4px solid transparent;
  background-clip: content-box;
}

@media (min-width: 992px) {
  .mz-modal-installation,
  .mz-modal-advantages {
    width: 700px;
  }
}

/* MOBILE */
@media screen and (max-width: 530px) {
  .header-qd-v1-valid-prices.cep-modal {
    float: unset;
    margin: unset;
    padding: unset;
  }
}

@media screen and (max-width: 470px) {
  .secao-agendamento .store > .store-info {
    flex-direction: column;
  }

  .secao-agendamento .store > .store-info > .aside,
  .secao-agendamento .store > .store-info > button.btn-ver-horarios {
    width: unset;
  }
}

@media screen and (max-width: 437px) {
  .secao-agendamento > .store-list > .filter {
    flex-direction: column;
  }
  .secao-agendamento > .store-list > .filter > .data label::after {
    right: unset;
    top: 1px;
    left: 126px;
  }
}

/* #region Modal - Instale em Casa */
.mz-accesories__name--conditions,
.mz-accesories__advantages--button {
  text-decoration: underline;
  text-align: left;
  background: transparent;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.mz-install__info {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #bababa;
  border-radius: 6px;
}

.mz-modal-advantages .mz-install__info {
  margin-top: 20px;
}

.mz-modal-advantages .mz-advantages__content ul {
  margin-top: 0px;
}

.mz-install__info .mz-info__list ul li:before {
  display: block;
  content: "\f05a";
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  height: 1em;
  text-align: center;
  text-decoration: inherit;
  text-rendering: optimizelegibility;
  width: 1em;
  font-family: "FontAwesome";
  margin-right: 10px;
  font-size: 14px;
  color: #2d4f9e;
}

.mz-accesories__name {
  margin-left: 15px;
}

.mz-acessories
  .mz-accesories__advantages
  .mz-accesories__advantages--button:before {
  display: none;
}

.mz-advantages__content .hasDatepicker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mz-advantages__content > span {
  display: block;
  color: #333333;
  margin: 10px auto;
}

.cep {
  margin: 10px 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cep label {
  margin-right: 10px;
  margin-bottom: 0px;
  min-width: 112px;
}

.cep input {
  margin: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  outline: none;
}

.cep input:focus {
  border: 1px solid #505570;
  border-right: 0px;
}

.cep input:focus + button {
  border: 1px solid #505570;
  border-left: 0px;
}

#mostrar-datas-datepicker {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.loading-dates {
  text-align: center;
  padding: 2px;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
  background: #223b76 !important;
  color: white;
  border: none;
}

.secao-agendamento .time-list > .timestamp:focus,
.secao-agendamento .time-list > .timestamp.selected {
  background-color: #223b76;
  color: white;
  outline: none;
  border: 1px solid #223b76;
}

@media (max-width: 580px) {
  .mz-modal-advantages {
    height: 500px;
    overflow-y: auto;
  }
}

/* #endregion Modal - Instale em Casa */

/* #region Modal - Retire na Loja */

.mz-pickup-stores__list ul {
  list-style: none;
  padding: 0;
  height: 300px;
  overflow-x: auto;
}

.mz-pickup__stores .mz-stores__title .store {
  margin: 10px 0px;
}

.pickup {
  display: flex;
  flex-direction: column;
  border: 1px solid #f4f4f4;
  border-radius: 4px;
  cursor: pointer;
}

.pickup:hover {
  border: 1px solid #c4c4c4;
}

.pickup.selected {
  border: 1px solid #223b76;
}

.pickup.selected .pickup__estimate {
  border-top: 1px solid #223b76;
}

.pickup + .pickup {
  margin-top: 10px;
}

.pickup-install {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  cursor: default;
}

.card-horarios-indisponiveis {
  opacity: 50%;
}

.pickup:hover {
  border: 1px solid #c4c4c4;
}

.pickup.selected {
  border: 1px solid #223b76;
}

.pickup.selected .pickup__estimate {
  border-top: 1px solid #223b76;
}

.pickup + .pickup {
  margin-top: 10px;
}

.pickup__info {
  display: flex;
  padding: 12px;
}

.pickup__info-address p,
.pickup__info-distance p {
  margin: 0;
}

.pickup__info-distance svg {
  transform: translateY(-5px);
  transition: transform;
}

.pickup:hover .pickup__info-distance svg {
  animation: hoverDistanceAnimation 1s infinite;
}

.pickup.selected .pickup__info-distance svg {
  transform: translateY(4px);
}

.pickup__info-address .address-title {
  font-size: 18px;
  margin-bottom: 7px;
}

.pickup__info-address .address-location {
  margin-bottom: 5px;
}

.pickup__info-distance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 88px;
}

.pickup__estimate {
  border-top: 1px solid #f4f4f4;
  padding: 8px 8px 8px 100px;
}

.pickup__estimate span + span {
  margin-left: 20px;
}

.mz-pickup__button--buy {
  width: 100%;
  max-width: 300px;
}

@keyframes hoverDistanceAnimation {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@media (max-width: 500px) {
  .pickup__info {
    flex-direction: column;
  }
  .pickup__estimate {
    padding: 12px;
  }
  .pickup__estimate span {
    display: block;
  }
  .pickup__estimate span + span {
    margin: 0px;
  }
}
/* #endregion Modal - Retire na Loja */
