#avaliacoes .ratings-section {
    padding-top: 0;
}

#avaliacoes .ratings-section .ratings__rating.highlight {
    z-index: unset;
}

.ratings-section {
    padding: 80px 0px;
}

.ratings-section .ratings {
    margin-top: 25px;
}

.ratings-section .ratings__slider {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 430px;
}

.ratings-section .ratings__slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 20px;
    outline: none;
    cursor: pointer;
    z-index: 9;
}

.ratings-section .ratings__slider button[id="rating-next"] {
    right: 0;
}

.ratings-section .ratings__slider-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.ratings-section .ratings__rating {
    width: 300px;
    height: 285px;
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--gray-300);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 5px;
    transition: transform .7s ease;
}

.ratings-section .ratings__rating .ratings__rating-image img {
    width: 68px;
    height: 68px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid var(--gray-100);
    box-sizing: content-box;
}

.ratings-section .ratings__rating .ratings__rating-stars i {
    color: #DFC12C;
    font-size: 16px;
}

.ratings-section .ratings__rating .ratings__rating-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ratings-section .ratings__rating .ratings__rating-content h3 {
    font-family: 'Open Sans', sans-serif;
    color: var(--primary);
    font-size: 16px;
    font-weight: var(--bold);
    margin: 16px 0;
}

.ratings-section .ratings__rating .ratings__rating-content p {
    font-family: 'Open Sans', sans-serif;
    max-width: 235px;
    font-size: 12px;
    font-weight: var(--semi-bold);
    text-align: center;
    color: #545454;
}

.ratings-section .ratings__rating.highlight {
    transform: scale(1.34);
    background-color: #183884;
    z-index: 1;
    cursor: initial;
}

.ratings-section .ratings__rating.highlight .ratings__rating-content h3 {
    color: var(--white);
}

.ratings-section .ratings__rating.highlight .ratings__rating-content p {
    color: var(--white);
}

.ratings-section .rating-bars {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    list-style: none;
    display: flex;
}

.ratings-section .rating-bars li {
    width: 30px;
    height: 4px;
    background-color: var(--gray-500);
    margin: 0 5px;
    cursor: pointer;
}

.ratings-section .rating-bars li.active {
    background-color: var(--primary);
}

@media (max-width: 1050px) {
    .ratings-section .ratings__rating {
        display: none !important;
    }
    .ratings-section .ratings__rating.highlight {
        display: flex !important;
    }
}

@media (max-width: 420px) {
    .ratings-section {
        padding-top: 15px
    }
    .section-title {
        font-size: 22px;
    }
    .ratings-section .ratings__slider {
        height: 350px;
    }
    .ratings-section .ratings__rating.highlight {
        transform: scale(1.1);
    }
}

@media (max-width: 420px) {
    .ratings-section .ratings__rating.highlight {
        transform: scale(1);
    }
}