#whatsapp-icon-link {
  bottom: 0px;
  display: inherit;
  margin: 10px 15px;
  position: fixed;
  left: 0px;
  z-index: 8000;
}

#whatsapp-icon-link img {
  height: auto;
  width: 60px;
}

#launcher {
  min-width: 60px !important;
  height: 60px !important;
  z-index: 899999 !important;
}

#launcher #document button {
  border: 4px solid #fff !important;
}

.search-icon {
  cursor: pointer;
}

.search-box-mobile__form-group fieldset.busca + .search-icon::before {
  margin-left: -30px;
}

.search-icon-mobile {
  content: url("https://autoglass-cdn.github.io/arquivos/img/search.svg");
  position: absolute;
  right: 10vw;
}

@media only screen and (min-width: 1200px) {
  #whatsapp-icon-link {
    margin-bottom: 10px !important;
  }

  #launcher {
    margin-bottom: 10px !important;
    bottom: 0px !important;
  }
}
