/* Possível padrão de layout */
:root {
    --color-blue: #003DA5;
    --color-green: #42b942;
    --color-silver: #b4b4b4;
}

.input,
input {
    margin: 6px 0;
}

input {
    outline: none;
    border-radius: 0.3rem;
    border: 0.03rem var(--color-silver) solid;
    padding: 0.2rem 0.6rem;
}

.input-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.input-line > input {
    flex-grow: 1;
}

.input-column {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.button {
    border-radius: 0.3rem;
    border: none;
    padding: 0.5rem 1.88rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn-confirm {
    color: white;
    background-color: var(--color-green);
}

.select {
    outline: none;
    border-radius: 0.3rem;
    border: 0.03rem var(--color-silver) solid;
    padding: 0.3rem 0.2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("https://autoglass-cdn.github.io/arquivos/img/servicos/angle-down-solid.svg") 90% / 15% no-repeat transparent;

    cursor: pointer;
}

.button-radio {
    margin: 0 0.3rem;
    border-radius: 0.3rem;
    border: 0.03rem var(--color-silver) solid;
    padding: 0.3rem 1.3rem;
}

.button-radio input {
    border-radius: 0.3rem;
    padding: 0.3rem 1.3rem;
    display: none;
}

.button-radio-checked {
    color: white;
    background-color: var(--color-blue);
}