.modal-confirmation {
    text-align: center;
    display: block;
}
.modal-confirmation.modal {
    top: 200px;
    display: block;
    border-radius: 5px;
    overflow: unset;
    position: absolute;
}

.header-qd-v1-location-modal.newlocalmodal{
    top: 135px;
    display: none;
}


.modal-confirmation.fade {
    opacity: 1;
}
.modal-confirmation .modal-header {
    position: relative;
    background: transparent;
    border: none;
}
.modal-confirmation .modal-header button {
    box-shadow: none;
    text-shadow: none;
    border: none;
    border-radius: 0;
    padding: 0;
    text-align: center;
    outline: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 10px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
}
.modal-confirmation .modal-header button:hover {
    text-decoration: none;
    outline: none;
}
.modal-confirmation .modal-header button:focus,
.modal-confirmation .modal-header button:active {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}
.modal-confirmation .modal-header button[disabled] {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.modal-confirmation .modal-header button i {
    font-size: 18px;
    padding-left: 5px;
}
.modal-confirmation .modal-dialog {
    width: 340px;
}
.modal-confirmation .modal-content {
    box-shadow: none;
    background: transparent;
    border: none;
}
.modal-confirmation .modal-content p {
    font-size: 10px;
    color: #757575;
    line-height: 14px;
    text-align: left;
}
.modal-confirmation .modal-body {
    background: #fff;
    padding: 30px 30px 0 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.modal-confirmation .modal-body a {
    color: #1c3162;
    font-size: 12px;
    font-weight: 600;
    text-decoration: underline;
}
.modal-confirmation .modal-body i {
    font-size: 15px;
}
.modal-confirmation .modal-body b {
    display: block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}
.modal-confirmation .modal-footer {
    background: #fff;
    text-align: center;
    margin-top: -15px;
    padding: 20px 30px 30px 30px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.modal-confirmation .header-qd-v1-location-modal-button-ok {
    transition: all 0.2s ease-out;
    border: #62ce6f solid;
    border-width: 2px;
    display: inline-block;
    padding: 15px 32px;
    color: #fff;
    font-size: 14px;
    outline: none;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    background-color: #62ce6f;
    border-radius: 4px;
    background-color: #223b76;
    padding: 15px;
    font-size: 16px;
    text-transform: none;
    border: 1px solid #223b76;
    font-weight: 700;
    min-width: 100%;
    border-radius: 3px;
}
.modal-confirmation .header-qd-v1-location-modal-button-ok:hover {
    text-decoration: none;
    background: #53c960;
    border-color: #53c960;
}
.modal-confirmation .header-qd-v1-location-modal-button-ok:focus,
.modal-confirmation .header-qd-v1-location-modal-button-ok:active {
    text-decoration: none;
    background: #53c960;
    border-color: #53c960;
}
.modal-confirmation .header-qd-v1-location-modal-button-ok:hover {
    background-color: #17274e;
    border-color: #17274e;
}
.modal-confirmation select {
    margin-top: 25px;
    background-color: #fff;
    height: 45px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dddddd;
    padding: 0 20px;
}











.pac-container{
    z-index: 99999 !important;
}

.header-qd-v1-location-modal.newlocalmodal .modal-dialog{
    width: 774px !important;
}

#igounder{
    z-index: 999 !important;
}


#header-qd-v1-location-modal-confirm .modal-content p{
    font-size: 15px;
    color: #757575;
    line-height: 20px;
    text-align: left;
    margin: 2em;
}


.header-qd-v1-location{
display: none !important;
}


#header-qd-v1-location-modal-confirm .modal-dialog{
    width: 557px !important;
}
#autocomplete{
    width: 100%;
    height: 44px;
    border: solid 1px #757575;
    padding: 8px;
    border-radius: 3px;
    outline: none;
    border-color: #757575;
}
#thestate{
    font-weight: 700;
}

.header-qd-v1-location-modal.newlocalmodal .header-qd-v1-location-modal-button-ok{
    min-width: 35% !important;
    margin-top: 2em;
}

.header-qd-v1-location-modal.newlocalmodal .modal-content p{
    text-align: center;
    margin: 24px 0px;
    line-height: 20px;
    font-size: 17px !important;
}

.header-qd-v1-location-modal.newlocalmodal .modal-body i{
    color: white !important;
    margin-right: 6px;
}

.use-location, .use-default-stuff {
    color: white !important;
    background-color: #223B76 !important;
    border-color: #223B76 !important;
    padding: 8px !important;
    font-size: 16px;
    border-radius: 3px !important;
    outline: none;
    text-align: center;
    text-shadow: none;
    width: 100%;
    height: 44px;
}

.use-default-stuff{
    width: 60% !important;
}

#btn-nothere{
    background-color: #999 !important;
    border-color: #999 !important;
}


.modal-buttom-identity {
    transition: all .2s ease-out;
    border-width: 2px;
    display: inline-block;
    padding: 15px 32px;
    color: #FFF;
    font-size: 14px;
    outline: none;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #223B76;
    padding: 15px;
    font-size: 16px;
    text-transform: none;
    border: 1px solid #223B76;
    border-radius: 3px;
}

#btn-stillhere:hover, .modal-buttom-identity:hover{
    background-color: #17274e !important;
    border-color: #17274e !important;
}

#btn-nothere:hover{
    background-color: #757575 !important;
    border-color: #757575 !important;
}



.pac-logo:after{
    background-image: none !important;
    padding: 0;
    height: 2px;
}

.hdpi.pac-logo:after{
    background-image: none !important;
}



@media screen and (max-width: 700px) {

    #header-qd-v1-location-modal-confirm .modal-dialog{
        width: 299px !important;
    }

    .use-default-stuff{
        width: 100%;
        font-size: 14px;
    }

 
    .use-default-stuff {
        width: 80% !important;
    }


    .header-qd-v1-location-modal.newlocalmodal .modal-dialog{
        width: 95% !important;
    }

    .header-qd-v1-location-modal.newlocalmodal.modal{
        top: 0px;
    }

    #header-qd-v1-location-modal-confirm .modal-dialog {
        width:95% !important
    }

    #header-qd-v1-location-modal-confirm  {
        top: 55px !important;
    }
}

@media screen and (min-width: 1200px) {
    #atttext{
        padding: 0% 20%;
    }
    .use-location{
        width: 85%;
    }
}

/* Inicio - Modal de Localização com Mapa */

#svg-map { margin-top: 30px; }
#svg-map path { fill:#0094d9 }
#svg-map text { fill:#fff; font:12px Arial-BoldMT, sans-serif; cursor:pointer }
#svg-map a { text-decoration:none }
#svg-map a:hover { cursor:pointer; text-decoration:none }
#svg-map a:hover path, #svg-map a.hover path { fill:#183884 !important }
#svg-map .circle { fill:#66ccff }
#svg-map a:hover .circle { fill:#183884 !important; cursor:pointer }
#svg-map a.selected path { fill:#43C452 !important }
#svg-map a.selected .circle { fill:#43C452 !important; }


#stateSelectorModal.modal-confirmation.modal {
    display: none;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#stateSelectorModal.modal-confirmation div.modal-dialog {
    width: 900px;
}

#stateSelectorModal.modal-confirmation img {
    width: 90px;
    height: auto;
    margin-bottom: 15px;
}

#stateSelectorModal.modal-confirmation h4.modal-title {
    text-align: left;
    font-size: 18pt;
    margin-bottom: 10px;
}

#stateSelectorModal.modal-confirmation p.modal-description {
    text-align: left;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

#stateSelectorModal.modal-confirmation select#mobileStateSelector {
    margin: 25px 0;
    padding: 0 10px;
    display: block;
}

#stateSelectorModal.modal-confirmation div.row {
    margin-left: -15px;
    margin-right: -15px;
}

#stateSelectorModal.modal-confirmation div.col-xs-6, #stateSelectorModal.modal-confirmation div.col-xs-12, #stateSelectorModal.modal-confirmation div.col-md-6 {
    padding-left: 15px;
    padding-right: 15px;
}

#stateSelectorModal.modal-confirmation a.state-name-btn {
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-align: left;
    display: block;
    color: #333;
    padding: 3px 0 3px 10px;
    margin-bottom: 2px;
    transition: all .2s;
}

#stateSelectorModal.modal-confirmation a.state-name-btn:hover, #stateSelectorModal.modal-confirmation a.state-name-btn.hover {
    text-decoration: none;
    background-color: #eee;
    color: #183884; /* Blue Autoglass */
}

#stateSelectorModal.modal-confirmation a.state-name-btn.selected {
    text-decoration: none;
    background-color: #eee;
    font-weight: 600;
    color: #43C452;
}

#stateSelectorModal.modal-confirmation a.state-name-btn:focus {
    text-decoration: none;
}

#stateSelectorModal.modal-confirmation button#stateConfirmationBtn {
    background-color: #183884;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 10px 40px;
    display: block;
    width: 280px;
    margin: 0 auto;
}

#stateSelectorModal.modal-confirmation button#stateConfirmationBtn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

#stateSelectorModal.modal-confirmation div.modal-footer {
    margin-top: -1px;
    border-top: none;
}

@media screen and (max-width: 992px) {
    #stateSelectorModal.modal-confirmation div.modal-dialog {
        width: 600px;
        
    }
}

@media screen and (min-width: 768px) {
    #stateSelectorModal.modal-confirmation div.modal-dialog {
        margin: 20px auto;
    }
}

@media screen and (max-width: 768px) {
    #stateSelectorModal.modal-confirmation div.modal-dialog {
        width: auto;
    }

    #stateSelectorModal.modal-confirmation a.state-name-btn {
        text-align: center;
        padding: 4px 0;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 0px;
    }
    
    #stateSelectorModal.modal-confirmation h4.modal-title, #stateSelectorModal.modal-confirmation p.modal-description {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    #stateSelectorModal.modal-confirmation button#stateConfirmationBtn {
        width: 100%;
    }
}

/* Fim - Modal de Localização com Mapa */